[2017-11-24 08:58] cnkuangshi opened #4 "欢迎XLearn加入稀疏数据算法框架家族，与LightCTR一起成长"
欢迎路过的朋友也关注下类似的CTR预估框架LightCTR

A light-weight framework that combines mainstream algorithms of Click-Through-Rate prediction Based Machine Learning and Deep Learning.
Github: https://github.com/cnkuangshi/LightCTR

感谢XLearn作者对开源社区的贡献，愿有机会交流。

[2017-11-24 10:32] aksnzhy commented on #4
Welcome ! Looking forward we can grow together !

[2017-11-24 10:32] #4 closed

[2017-11-26 11:26] yitang opened #9 "support of csv format"
the documentation says xlearn supports csv format but i got this error:

![screenshot from 2017-11-26 11-25-47](https://user-images.githubusercontent.com/6054101/33239578-9893a1e8-d29c-11e7-97c3-b32a87691241.png)

[2017-11-26 11:37] aksnzhy commented on #9
Hi，can you share a portion of your data on this issue? We will check it right now.

[2017-11-26 11:40] yitang opened #10 "infinity/NaN values in prediction"
I built 5 model using a subset of the full training datasets, and then predict on the test dataset. as you see, I got infinity/NaN values. what could possibly be the reason?

I could provide all the data if needed.

Thanks,

Yi
![screenshot from 2017-11-26 11-33-23](https://user-images.githubusercontent.com/6054101/33239622-a2196076-d29d-11e7-95ee-b210df669e0e.png)

![screenshot from 2017-11-26 11

[2017-11-26 11:41] yitang commented on #9
0,2,2,5,1,0,0,1,0,0,0,0,0,0,0,11,0,1,0,0.7,0.2,10,1,-1,0,1,4,1,0,0,1,12,2,0.5,0.2,3,1,10,1,10,1,5,9,1,5,8,0,1,1,0,0,1
0,1,1,7,0,0,0,0,1,0,0,0,0,0,0,3,0,0,1,0.8,0.4,11,1,-1,0,-1,11,1,1,2,1,19,3,0.1,0.3,2,1,9,5,8,1,7,3,1,1,9,0,1,1,0,1,0
0,5,4,9,1,0,0,0,1,0,0,0,0,0,0,12,1,0,0,0.0,0.0,7,1,-1,0,-1,14,1,1,2,1,60,1,0.7,0.1,2,2,9,1,8,2,7,4,2,7,7,0,1,1,0,1,0
0,0,1,2,0,0,1,0,0,0,0,0,0,0,0,8,1,0,0,0.9,0.2,7,

[2017-11-26 11:42] yitang commented on #9
please see above for the csv files. the first column is the target. is it what xlearn expecting?

[2017-11-26 11:42] aksnzhy commented on #10
Hi can you share your data to me. My email ismctt90@gmail.com

[2017-11-26 11:44] yitang commented on #10
sure. it will be in your inbox shortly.

[2017-11-26 11:51] yitang commented on #10
Okay, I've sent you the data.

what i did:

for i in 0..5:
1. build model on tr_f{i}, using va_f{i} as validation dataset,
2. run prediction on test.ffm.txt

i repeat modelling/prediction using randomly sampled parameters. sometimes i don't have NAs, and form times i do.

one thing is that i didn't see any NAs in predicting validation datasets.. could it be data format issues?

[2017-11-26 12:21] aksnzhy commented on #9
I know，for now you can change the , to space or \t，we will add the , to our data format

[2017-11-26 12:55] yitang commented on #9
'space' works fine. xlearn is able to read it. but the results are bad.  auc is about 0.5~0.6. i also noticed a strange thing:

[------------] Number of Feature: 45
[------------] Number of Field: 1

There's only one field...

[2017-11-26 13:40] aksnzhy commented on #9
You need to use the libfffm format for the ffm task ，csv can only used in linear model and fm.

[2017-11-26 13:46] aksnzhy commented on #9
CSV is not a good format for ffm because ffm are usually be used in sparse data.

[2017-11-26 14:13] yitang commented on #9
I see. That make senses. Thanks.

I tried once running GLM (s=0 option) and it ran through. Should xlearn do some input validation?

[2017-11-26 14:16] aksnzhy commented on #10
The problem comes from your csv data ，you need to use a dummy placeholder in the last of you test data in every line, this is because the xlearn will automatically treat the last data as y when using csv. I am very sorry for the csv problem.

[2017-11-26 14:17] aksnzhy commented on #10
You do not need to do this when using Libsvm and libffm .

[2017-11-26 14:57] yitang commented on #10
Sry but I didn't use CSV. The dataset I email you are in Libffm format, did I send you wrong one?

And in the test dataset I send you, I have a dummy placeholder of target in the first field. Is it correct?

[2017-11-26 16:01] yushuai opened #11 "How to set the epoch number?"
param = { 'task':'reg',
          'lr' : 1e-1,
          #'lambda' : 0.002,
           'epoch':100,
          'metric' : 'rmse' }
I just want to set the epoch number to 100, then the program output a error:
 _check_call(_LIB(XLearnSetInt(ctypes.byref(self.handle),
NameError: global name 'XLearnSetInt' is not defined

[2017-11-26 16:19] mrgloom opened #12 "How to install?"
How to install? Is there something like `sudo pip install xlearn`?

[2017-11-26 18:51] KhaledTo commented on #12
This might be useful: https://github.com/aksnzhy/xlearn/blob/master/doc/install.md

[2017-11-26 22:38] aksnzhy commented on #11
Hi, we have already fixed this problem and you can try it now.
Thanks for your issue!

[2017-11-26 22:38] #11 closed

[2017-11-26 22:38] aksnzhy commented on #12
You can build xlearn by using cmake. Please see the details in installation page.

[2017-11-26 22:48] aksnzhy commented on #9
We will improve our checker these days. Thanks for your issue!

[2017-11-26 22:51] yitang commented on #9
okay thanks

[2017-11-26 22:51] #9 closed

[2017-11-27 05:45] hangelwen opened #14 "Export trained models"
It would be very useful if trained models can be exported using PMML.

[2017-11-27 05:47] aksnzhy commented on #14
Thanks for your suggestion. I will consider to put this on our roadmap.

[2017-11-27 06:32] #14 closed

[2017-11-27 07:38] weiweijiuzaizhe commented on #12
I found there is something wrong in multi-thread compling.
If you use command:
make -j4
sometimes you will meet the error:

[code]

If you use command:
make
the compile task will always success.

[2017-11-27 09:06] aksnzhy commented on #12
Thanks for your issue !
But I have never meet this problem and it seems that this error comes from the compiler, not xLearn.
Can you share your compiler and OS   information ?

[2017-11-28 09:28] weiweijiuzaizhe commented on #12
my  compiler and OS information
[code]

[2017-11-28 16:28] jyuan1986 opened #15 "install issue for python interface"
Hi:
I've successfully built exectuable and lib/ folder. Then I go to python-package/ folder under build/ folder and run install-python.sh. And it shows everything is OK.
However, when I tried to run "test_python.py", it gave me an error " module 'xlearn' has no attribute 'create_ffm'". It seems the installed python package failed to find the correct python module. Do you have any solution for this

[2017-11-29 00:41] aksnzhy commented on #15
For some platforms，you need to exprort the PYTHONPATH to your .bashrc . You can see the details in install page. Thank you！

[2017-11-29 01:26] pherl opened #16 "Please preserve copyright and license when distributing source code"
It looks like some of the code in the base directory are copied from google code base.

For example:
https://github.com/aksnzhy/xlearn/blob/master/src/base/scoped_ptr.h vs
https://github.com/google/protobuf/blob/master/src/google/protobuf/stubs/scoped_ptr.h

Please preserve the copyright and do not change the license type.

[2017-11-29 02:13] jyuan1986 commented on #15
It works. I seems I export the wrong path.
Thanks:)

[2017-11-29 02:45] aksnzhy commented on #16
Thanks for your reminding !  I changed it .

[2017-11-29 02:49] #15 closed

[2017-11-29 11:55] lcl1990 opened #17 "make 报错"
[  1%] Building CXX object gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
cc1plus: 错误：无法识别的命令行选项“-std=c++11”
make[2]: *** [gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o] 错误 1
make[1]: *** [gtest/CMakeFiles/gtest.dir/all] 错误 2
make: *** [all] 错误 2

[2017-11-29 11:59] aksnzhy commented on #17
看起来是你的编译器不支持 C++ 11. 可能需要更新一下你的编译器。

[2017-11-29 12:00] aksnzhy commented on #17
It seems that your compiler does not support C++ 11. Please update your compiler.

[2017-11-29 12:01] lcl1990 commented on #17
g++ -v
使用内建 specs。
COLLECT_GCC=g++
COLLECT_LTO_WRAPPER=/opt/soft/gcc-6.1.0/libexec/gcc/x86_64-pc-linux-gnu/6.1.0/lto-wrapper
目标：x86_64-pc-linux-gnu
配置为：../gcc-6.1.0/configure --prefix=/opt/soft/gcc-6.1.0 --enable-checking=release --enable-languages=c,c++ --disable-multilib
线程模型：posix
gcc 版本 6.1.0 (GCC)

[2017-11-29 12:05] aksnzhy commented on #17
你可以Google一下 ：
 无法识别的命令行选项“-std=c++11”
这个问题一般是编译器的问题。

[2017-11-29 12:16] lcl1990 commented on #17
gcc-6.1.0 支持 c++11呢？

[2017-11-29 12:41] lcl1990 commented on #17
谢谢！ 解决了， 我机器存在多个g++, cmake默认指定的是4.7.x版本的， 手动指定后就ok了

[2017-11-29 22:09] jyuan1986 opened #18 "CV in xlearn"
Hi:

Do you know what the default CV is in xlearn? Or is there any way of realizing K-fold CV in xlearn? Thanks!

Best,
Fenglin

[2017-11-29 22:14] aksnzhy commented on #18
The default number is 5, and you can set it using -f option in command line or using python dict.

[2017-11-30 09:35] HyperGroups commented on #12
problem with install the python-interface
Traceback (most recent call last):
  File "setup.py", line 15, in <module>
    LIB_PATH = [os.path.relpath(libfile, CURRENT_DIR) for libfile in libpath['find_lib_path']()]
  File "xlearn/libpath.py", line 45, in find_lib_path
    'Cannot find xlearn Library in the candidate path'
__builtin__.XLearnLibraryNotFound: Cannot find xlearn Library in the candidat

[2017-11-30 10:16] HyperGroups opened #21 "max feature count in one line"
Seems there is a limit in featureid count in one line in sample in training file.
max size is 10000?

[ ACTION     ] Read Problem ...
[------------] First check if the text file has been already converted to binary format.
[------------] Binary file (train.problem.5.bin) NOT found. Convert text file to binary file.

[2017-11-30 11:28] lcl1990 opened #22 "does not support L1-regular?"

[2017-11-30 13:05] aksnzhy commented on #22
For now, we use L2-regular by default.  But we will release the ftrl optimization method in these days.

[2017-11-30 13:10] lcl1990 commented on #22
thanks

[2017-11-30 13:10] aksnzhy commented on #21
xlearn does not set the max id of feature for each line. But we will set a maximal buffer for each line. The buffer size is 100kb. If your data is beyond this buffer, xlearn will raise an error:

if (read_size > kMaxLineSize) {
    LOG(FATAL) << "Encountered a too-long line.    \
                   Please check the data.";
  }

[2017-11-30 13:12] aksnzhy commented on #21
If your data in one line is beyond this buffer, please tell us.

[2017-11-30 13:24] #22 closed

[2017-11-30 14:29] dselivanov opened #23 "Benhmarks"
How to reproduce? Which dataset was used? Parameters used, rank?

[2017-11-30 15:27] aksnzhy commented on #23
We use a portion of the criteo CTR and set the K to 4.
Run 10 epoch for each algorithm.  For xlearn, please open the lock-free training option.

[2017-11-30 18:03] mrgloom commented on #12
I have build it with gcc 4.9 with no problem.

Also I found that it have setup.py under `xlearn/build/python-package` and installed it this way:
https://stackoverflow.com/questions/1471994/what-is-setup-py

[2017-11-30 18:05] mrgloom opened #24 "Feeding numpy array python example"
Is it possible to feed numpy array to the model?

I can't find example here:
https://github.com/aksnzhy/xlearn/blob/master/doc/python_package.md

[2017-11-30 18:33] aksnzhy commented on #24
For now，xlearn cannot use numpy. It is on our road map.

[2017-12-01 02:18] aksnzhy commented on #12
Did you build your libxlearn library successfully? You can check it in xleanr/lib/

[2017-12-01 03:30] HyperGroups commented on #21
OK, my dataset has many features in oneline, maybe 2w. feature_space is 10000000.
I've uploaded a sample data in my repo
@aksnzhy
https://github.com/HyperGroups/MachineLearning/tree/master/xlearn/problem
feature_length is {2719, 325, 10032, 2389, 2248}

my data can train by xgboost.

[2017-12-01 07:52] popfido opened #25 "Issues when compiling in OSX"
System : OSX 10.13.1
compiler: Apple clang 9.0.0.9000038
cmake version: 3.9.6

cmake info:

-- The C compiler identification is AppleClang 9.0.0.9000038
-- The CXX compiler identification is AppleClang 9.0.0.9000038
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
-- Check for working C compiler: /Applications/Xcode.app/Cont

[2017-12-01 09:05] aksnzhy commented on #21
@HyperGroups Hi, we have already fix this bug. You can try it. It really a big size in one line of your data.

[2017-12-01 10:10] #18 closed

[2017-12-01 10:11] #10 closed

[2017-12-01 14:36] #23 closed

[2017-12-01 14:36] #24 closed

[2017-12-02 05:10] lihongqiang opened #30 "The small test file output is not between 0 and 1?"
I run the scripts in the install md file:
./xlearn_train ./small_train.txt -v ./small_test.txt -s 2
./xlearn_predict ./small_test.txt ./small_train.txt.model

but I check the output file small_test.txt.out, I find the outputs are not in range 0 and 1.
  1 -1.64431
  2 -0.561951
  3 -0.789286
  4 -0.540316
  5 -1.27843
  6 -0.996344
  7 -1.17249
  8 -1.60885
  9 -0.73878
 10 -1.19467
Is there any o

[2017-12-02 05:32] aksnzhy commented on #30
On default, xlearn will just out the score. If you want your output between 0 ~ 1, please add the `--sigmoid` option when using xlearn_predict. Or using setSigmoid() function when using python interface.

[2017-12-02 14:23] fandywang opened #32 "coding style"
现有代码有些像遵守 Google C++ Code Style，但很多地方又不完全一致，可以考虑严格遵守一个好的规范，比如就是 Google C++ Code Style（ http://google.github.io/styleguide/cppguide.html ）

[2017-12-03 00:33] xswang commented on #32
谢谢，代码风格会统一。

[2017-12-03 09:17] #32 closed

[2017-12-03 09:17] #25 closed

[2017-12-03 09:17] #30 closed

[2017-12-03 09:17] #12 closed

[2017-12-04 04:12] HyperGroups commented on #30
@aksnzhy
hi, Can I dump the model to get the txt weights and bias to predict use my own function now? or this functionality is on roadmap

[2017-12-04 06:10] HyperGroups commented on #21
@aksnzhy The problem in this issue has be fixed.

But I found in my dataset, there are some memory problem, my dataset is 24G, average sample size is 3000-15000, feature space is 1000w, actual is 300w.
xlearn_train failed with 'killed' error, training progress is 4 epoch.
I've also tried --no-norm --disk and --dis-lock-free

And another full dataset with 100G which can be trained by xgboost also b

[2017-12-04 12:42] aksnzhy commented on #30
Now, the model will be dump to disk in binary data. I think the binary data is too large.

[2017-12-04 12:46] aksnzhy commented on #21
Hi, you cannot use xlearn_train with -m option, which is only used in prediction task.

[2017-12-04 13:14] aksnzhy commented on #21
Can you provide me the detailed error information ?  Thank you !

[2017-12-05 06:04] zmingshi opened #37 "Can xlearn support saving model in text mode ?"
Actually, xlearn is actually high performance and easy-to-use. But the model is always serialized in binary mode. Can xlearn support saving model in text mode ?  thus we can use it anywhere.

[2017-12-05 06:37] aksnzhy commented on #37
@zmingshi  Hi, we will put it on our roadmap.

[2017-12-06 02:59] colindj opened #38 "Ubuntu16.04 install-python.sh"
When I install the python environment,Hints “ImportError: No module named setuptools” where "from setuptools import setup, find_packages".
The problem is “sudo python setup.py install” Instead “python setup.py install”，Missing library at this time,So you need to copy “libxlearn.so” to the current directory.install-python.sh can be modified as follows:

#!/bin/bash
cp ../build/libxlearn.so .
python

[2017-12-06 03:28] HyperGroups commented on #21
I've emailed you, I can offer my dataset in Baidu Cloud if neccessary.
@aksnzhy

[2017-12-06 03:44] #37 closed

[2017-12-06 05:29] aksnzhy commented on #38
@purkyston Can you check out this problem ?

[2017-12-06 05:47] aksnzhy commented on #38
@colindj You cannot run ./install-python.sh in the source code. You need to do it in your build directory. Actually, you can just use ./build.sh in our latest code to do all the things.

[2017-12-06 06:11] colindj commented on #38
@aksnzhy I not  run ./install-python.sh in the source code directory.Actually,I run ./install-python.sh in python-package.So it's the same as in the source code directory to run ./build.sh.

[2017-12-06 06:20] aksnzhy commented on #38
@colindj The build.sh will automatically create a directory called build. If you want to build xlearn by yourself, you also need to create a build directory and type cmake and make. After that, you can go to the python-package in build (not in source code) and install it.

[2017-12-06 06:32] colindj commented on #38
@aksnzhy Yes, I do the work by myself. It's not really hard.

[2017-12-06 09:52] weiweijiuzaizhe opened #39 "training failed when the data size is big enough"
[code]

the command of getting the data:

[code]

[2017-12-06 10:37] aksnzhy commented on #39
@weiweijiuzaizhe I can run it successfully on my Mac Book Pro:

Make sure that your machine has enough memory for in-memory computation. If not, you can add the --disk option for on-disk computation.

[2017-12-06 13:38] #38 closed

[2017-12-06 13:38] #39 closed

[2017-12-15 05:39] yuanqin27 opened #42 "install Xlearn"
Why did I fail to install Xlearn?Error:"Could not find a version that satisfies the requirement xlearn (from versions: )
No matching distribution found for xlearn"

[2017-12-15 06:13] aksnzhy commented on #42
Did you use pip ?

[2017-12-15 06:16] aksnzhy commented on #42
We are fixing this bug now.

[2017-12-15 07:09] yuanqin27 commented on #42
Thank you for replying。I've solved it in Source Code.

[2017-12-15 07:11] yuanqin27 commented on #42
But I think it should be noted.

[2017-12-15 07:12] purkyston commented on #42
Could you supply more installation details?

[2017-12-15 07:15] yuanqin27 commented on #42
I'd like to, but my English is poor。

[2017-12-15 07:56] yuanqin27 opened #43 "xLearn Command Line Guide"
I don't know what went wrong.When I enter "./xlearn_train ./small_train.txt", it comes up "[ WARNING    ] Validation file not found, xLearn has already disable early-stopping."

[2017-12-15 08:35] xswang commented on #43
it is not a wrong information. it means that you have no validation data, so the xlearn will not be enable early-stopping. But the training and test remain correct.  Dont worry

[2017-12-15 08:41] aksnzhy commented on #43
It‘s just a reminder your user. You can ignore it.

[2017-12-16 03:06] alexklibisz opened #47 "Correct way to represent missing data"
Hi, can you tell me what's the correct way to represent missing values in the libsvm or libffm formats? For example, if you had a feature `gender` with values `male`, `female` or `missing`, how would you represent the `missing` value?

[2017-12-16 03:34] aksnzhy commented on #47
First you need to assign a feature id for gender. For example ，if the feature id is 5，now 5:0 can represent male and 5:1 can represent female. If this feature is missing，many ways you can choose to solve this problem . The easiest way is that you can represent missing as a special value like 5:2.

[2017-12-16 03:43] alexklibisz commented on #47
@aksnzhy Thanks for the quick response. Would it be an error if I just leave out the field?

[2017-12-16 04:22] aksnzhy commented on #47
No error happens if you just leave out the field :)

[2017-12-16 05:20] #47 closed

[2017-12-16 05:37] alexklibisz opened #48 "Recommendation for encoding many binary features"
Is there a recommendation for encoding a categorical variable as a very large number of binary features?

For example, in the Kaggle KKBox Recommendation Challenge there is an `artist_name` field. Consider these two options for encoding this feature:

1. `artist_name` is a categorical feature that can take one of many values, e.g. `artist_name:99`. This seems to be the most obvious encoding.
2. Ea

[2017-12-16 18:43] alexklibisz opened #49 "Negative AUC with large number of test samples and FFM"
Hi, I'm trying to fit the FFM model with 5.9 million training samples and 1.5 million test samples.

If I assign more than about 100K samples for testing I see negative AUC values.

For example, with 100K testing samples it's normal:

[code]

But with 200K samples, I see negative AUC values:

[code]

And if I add all 1.5 million test samples, the values are much more negative.

[code]

What's inte

[2017-12-16 20:40] alexklibisz commented on #49
I've since also tried with metric `acc` and it works fine.

[2017-12-16 21:35] alexklibisz opened #50 "Segmentation fault in python FFM predict"
I've trained a model and saved it to disk. When I try to make predictions, I get a segmentation fault like below:

[code]
The python code for loading and trying to make the prediction:

[code]

Here are the first few lines of my test file. In total it has 2556765 lines.

[code]

[2017-12-16 22:32] alexklibisz commented on #50
An update on the problem: There are certain values that occur in the test set but not in the training set. AKA "cold-start" or "out-of-vocabulary". If I leave these out of the test set then the prediction works fine. One way to validate this is to just make a prediction on the training set itself.

[2017-12-17 06:02] aksnzhy commented on #49
It seems that the AUC metric is not stable. @xswang Can you fix it?  @alexklibisz I'm sorry for that.  Maybe you can use the other metric, and we will fix it as soon as possible.

[2017-12-17 06:06] aksnzhy commented on #50
You are right. Now xLearn will crash if the feature in the test data doesn't exist in the training data. We will fix this error by pre-reading the test data before model initialization.

[2017-12-17 07:29] xswang commented on #49
@alexklibisz <https://github.com/alexklibisz> thanks for you question, I
will fix it

2017-12-17 14:02 GMT+08:00 Chao Ma <notifications@github.com>:

[2017-12-18 07:05] yuanqin27 commented on #43
But there was no new file called “small_train.txt.model”. I can't use this model file to make prediction in the future.

[2017-12-18 07:10] JPM8998 opened #51 "Failed: pip install xlearn"
pip install failed
![image](https://user-images.githubusercontent.com/8395935/34093840-7a5cec8c-e405-11e7-9cfa-6a5df2673d93.png)

[2017-12-18 07:13] aksnzhy commented on #51
Your machine doesn't support CMake, please install it first.  Ref: http://xlearn-doc.readthedocs.io/en/latest/install_cmake.html

[2017-12-18 07:19] JPM8998 commented on #51
thanks
![image](https://user-images.githubusercontent.com/8395935/34094144-e3b4e526-e406-11e7-868d-7ef42723b3d7.png)

[2017-12-18 07:20] JPM8998 commented on #51
but I hava a new problem....'Cannot find xlearn Library in the candidate path'
![image](https://user-images.githubusercontent.com/8395935/34094173-0534d6b6-e407-11e7-8dfe-168c44fb191d.png)

[2017-12-18 11:47] aksnzhy commented on #51
@purkyston Still some people meet this problem. @JPM8998 You can try to install xlearn from source code. It's very easy.

[2017-12-18 11:49] aksnzhy commented on #43
@yuanqin27 Can you share the xLearn's output and your command line?

[2017-12-18 11:59] JPM8998 commented on #51
ok.Following the suggestion,python2 is successful,python3 is still failed thanks
![image](https://user-images.githubusercontent.com/8395935/34105067-f81769d6-e42d-11e7-940c-79991d272d48.png)

[2017-12-18 13:21] xswang commented on #49
@alexklibisz can you send your 5.9 million test data to me please? my email: 2012wxs@gmail.com , thankyou.

[2017-12-18 13:47] purkyston commented on #51
What's the result of this command? @JPM8998
[code]

[2017-12-18 13:58] JPM8998 commented on #51
![image](https://user-images.githubusercontent.com/8395935/34109422-79fc5c76-e43e-11e7-9fea-333257e23411.png)

[2017-12-18 14:04] purkyston commented on #51
I'm afraid there is no xlearn with python3.
Try this commands.
[code]

[2017-12-18 14:07] JPM8998 commented on #51
"Successfully installed xlearn-0.11a1"  but it still has  a problem with python3.I run some demo with python2,it's fine.
![image](https://user-images.githubusercontent.com/8395935/34109763-92247738-e43f-11e7-8ee7-82998fe438db.png)

[2017-12-18 14:20] purkyston commented on #51
Could you try this one? Thanks.
By doing this, you will install the test version of xlearn.
[code]

[2017-12-18 14:28] JPM8998 commented on #51
![image](https://user-images.githubusercontent.com/8395935/34110818-c366c88e-e442-11e7-8d87-8c809bef8ed3.png)

[2017-12-18 14:41] purkyston commented on #51
Could you change the directory to `xlearn/build/python-package/` and then use `sudo python3 setup.py install` to install manually?

[2017-12-18 17:26] alexklibisz commented on #49
Ok, I emailed you with the Dropbox link. Training file has 5.9M rows.
Validation file has 1.47M rows.

Thanks!

On Mon, Dec 18, 2017 at 8:21 AM xswang <notifications@github.com> wrote:

[2017-12-19 00:15] xswang commented on #49
I got it, Thank you.

2017-12-19 1:26 GMT+08:00 Alex Klibisz <notifications@github.com>:

[2017-12-19 01:47] JPM8998 commented on #51
It works！ thanks

[2017-12-19 01:49] JPM8998 commented on #51
![image](https://user-images.githubusercontent.com/8395935/34136592-a223415c-e4a1-11e7-8333-1160f5c8d469.png)

[2017-12-19 02:10] purkyston commented on #51
You should change a directory and test it,  cause python will use the xlearn package which is in the current directory other than the system library.

[2017-12-19 02:12] JPM8998 commented on #51
![image](https://user-images.githubusercontent.com/8395935/34137290-18cb4f5e-e4a5-11e7-92a2-8eb9e4386ee4.png)

[2017-12-19 02:25] alexklibisz commented on #49
@xswang From your email it was an issue with types and was fixed by updating a variable to `long long`. Out of curiosity, how many samples can you compute with this type?

[2017-12-19 02:41] xswang commented on #49
@Alex Klibisz,  The MAX value long long data type is 9223372036854775807,
so the max samples number is 9223372036854775807.

2017-12-19 10:25 GMT+08:00 Alex Klibisz <notifications@github.com>:

[2017-12-19 04:03] aksnzhy commented on #49
@alexklibisz Hi Alex, we have fixed this bug now.

[2017-12-20 06:55] xxyy1 opened #52 "cmake version > 3.0 ?"
when I install from pip ,
Exception: Please install CMake first
but  I  the centOS has cmake  2.8.12.2

when I  build from source code
./build.sh
CMake Error at CMakeLists.txt:24 (cmake_minimum_required):
  CMake 3.0 or higher is required.  You are running version 2.8.12.2

can have a simple way install xlearn ?
or have a simple way update cmake to 3.0

[2017-12-20 07:34] aksnzhy commented on #52
@xxyy1 Hi, you can follow this page to update your CMake. http://xlearn-doc.readthedocs.io/en/latest/install_cmake.html

[2017-12-20 07:48] xxyy1 commented on #52
install cmake
Loaded plugins: changelog, priorities
942 packages excluded due to repository priority protections
Package cmake-2.8.12.2-2.el7.x86_64 already installed and latest version
Nothing to do

[2017-12-20 08:01] aksnzhy commented on #52
Because xLearn requires CMake version > 3.0, so you get this exception.

We changed our CMake minimal requirement to 2.8. Now you can try to build it from source code.

[2017-12-20 09:45] xxyy1 commented on #52
build from source code
new error
----------------------------
/bin/ld: cannot find -lpthread
/bin/ld: cannot find -lpthread
/bin/ld: cannot find -lstdc++
/bin/ld: cannot find -lm
/bin/ld: cannot find -lc
collect2: error: ld returned 1 exit status
make[2]: *** [test/base/file_util_test] Error 1
make[1]: *** [src/base/CMakeFiles/file_util_test.dir/all] Error 2
make: *** [all] Error 2
/bin/python2
Tr

[2017-12-20 10:09] aksnzhy commented on #52
Why your compiler does not support the standard library? Can you find these libraries like pthread on your machine?

[2017-12-20 12:26] xxyy1 commented on #52
sorry,
This is the first time to meet this problem.
What path to look for, what to find？
How to solve this problem？

[2017-12-20 12:28] aksnzhy commented on #52
Don't worry, can you tell me what OS on your computer? OSX or Linux ?

[2017-12-20 12:32] xxyy1 commented on #52
CentOS Linux release 7.4.1708 (Core)

[2017-12-20 12:34] xxyy1 commented on #52
Thank you very much for your patience guidance.

[2017-12-20 12:36] aksnzhy commented on #52
It seems that your OS missing some necessary libraries.

Please try the following command:

`sudo yum install glibc-static libstdc++-static -y`

and then try to build xLearn again.  There there is still some problems, please share me the error information.

[2017-12-20 12:49] xxyy1 commented on #52
it works! thank you very much~~

[2017-12-20 12:52] #52 closed

[2017-12-20 13:19] xxyy1 opened #53 "Does xlearn support the number of multithreading?"
like param "nthread"  in xgboost
I don't want to be full of CPU every time

[2017-12-20 14:38] aksnzhy commented on #53
It's a good feature. We will update our code to support it in these days.

[2017-12-20 15:06] aksnzhy commented on #53
@xxyy1 Hi, now you can use -nthread option in command line. We will update the python API as soon as possible.

[2017-12-21 02:58] xxyy1 commented on #53
Very fast！
now,any other parameters that can be replaced  ,the python API

[2017-12-21 04:12] aksnzhy commented on #53
@xxyy1 Hi, we have already updated the Python API. You can use the nthread param like this:

`param = { 'task':'binary',
                   'lr' : 0.2,
                  'lambda' : 0.002,
                  'metric' : 'acc' ,
                  'nthread' : 2 }`

[2017-12-21 04:48] xxyy1 commented on #53
it works! thanks~~

[2017-12-21 04:48] #53 closed

[2017-12-21 05:00] xxyy1 opened #54 "feature importance?"
about fm model
do hava python API  like "model.feature_importance()"  in lightgbm  or xgboost  ?

[2017-12-21 05:11] xxyy1 opened #55 "proble about early-stop"
[------------] Epoch      Train log_loss       Test log_loss            Test AUC     Time cost (sec)
[    1%      ]     1            0.615199            0.614211            0.632410               19.29
[    2%      ]     2            0.614572            0.613964            0.632814               19.08
[    3%      ]     3            0.614475            0.613909            0.632656               19

[2017-12-21 05:14] popfido commented on #25
@bvnp43 Currently still cannot compile xlearn in my Mac

[2017-12-21 13:27] aksnzhy commented on #55
This is because both of the log_loss at epoch 3 is less than epoch 5. For now, we use loss as the stopping value.

[2017-12-21 13:29] aksnzhy commented on #55
For now, if you want to improve your AUC continuously, you can close early-stopping.

[2017-12-24 17:17] randxie commented on #54
I think it is a bit tricky for factorization machine. The feature weight for each feature/higher-order feature combination should be a good indication of feature importance. However, we might also need to consider the feature scaling before making the final judgement.

[2017-12-26 10:58] blancyin opened #56 "install error"
sudo pip install xlearn

Traceback (most recent call last):
    File "<string>", line 1, in <module>
    File "/tmp/pip-build-oBUPP0/xlearn/setup.py", line 102, in <module>
      url='https://github.com/aksnzhy/xlearn')
    File "/usr/lib64/python2.7/distutils/core.py", line 152, in setup
      dist.run_commands()
    File "/usr/lib64/python2.7/distutils/dist.py", line 953, in run_commands
      s

[2017-12-26 12:09] aksnzhy commented on #56
Can you please try to build xLearn from source code？

[2017-12-27 14:23] xeon2007 opened #57 "on mac ,Cannot find xlearn Library in the candidate path"
File "/usr/local/lib/python3.6/site-packages/xlearn/__init__.py", line 5, in <module>
    from .xlearn import *
  File "/usr/local/lib/python3.6/site-packages/xlearn/xlearn.py", line 5, in <module>
    from .base import _LIB, XLearnHandle
  File "/usr/local/lib/python3.6/site-packages/xlearn/base.py", line 20, in <module>
    _LIB = _load_lib()
  File "/usr/local/lib/python3.6/site-packages/xlearn

[2017-12-28 01:05] purkyston commented on #57
Can you please try to build xLearn from source code or reinstall cmake?

[2017-12-28 07:39] adrianhust opened #58 "thread problem"
Compiling is OK, but when run './run_example.sh' in build dir, it throws an error:
'''
terminate called after throwing an instance of 'std::system_error'
  what():  Enable multithreading to use std::thread: Operation not permitted
'''
modified CMakeLists.txt in root dir,  line 33:
add
'''
-Wl,--no-as-needed -pthread
'''
follow https://stackoverflow.com/questions/17274032/c-threads-stdsystem-error-

[2018-01-02 04:10] randxie opened #59 "R-package installation failure"
I tried to install the R package as instructed in makeR.sh but did not succeed. I am using Mac and my R version is 3.3.3. The error messages I got are:

Error in dyn.load(file, DLLpath = DLLpath, ...) :
  unable to load shared object '~/xlearn/xlearn.Rcheck/xlearn/libs/xlearn.so':
  dlopen(~/xlearn/xlearn.Rcheck/xlearn/libs/xlearn.so, 6): Symbol not found: __Z11XLearnFit_RP7SEXPRECS0_
  Referenced

[2018-01-02 06:50] aksnzhy commented on #59
Hi, the xLearn R package is still under developing in our inner version. We will release it as soon as possible.

[2018-01-07 04:53] wa1618i opened #61 "ERROR: 'void xLearn::DMatrix::Compress(std::vector<unsigned int>&)':"
I have tried using gcc version of 4.8,4.9,7 and 6...All failed to install xlearn?
Not sure why?

[2018-01-07 14:50] aksnzhy commented on #61
@wa1618i  Hi, I have updated the code, could you please try again?

[2018-01-09 14:33] #61 closed

[2018-01-12 06:14] wa1618i commented on #61
Yes, it works THANKS

[2018-01-15 05:08] HuangZhanPeng opened #63 "why the model.out content is messy code"
�?�?�?�?�?�?�<���?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?��޾4�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?}���:8@�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�ω=��?�?�?�I�����?�?�?�?�?�?�?�?�?�?�?�?�?�?A��W'�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?�?��>C�?�?�?

[2018-01-15 05:25] HuangZhanPeng commented on #63
I have another problem, when I run the code:

from __future__ import absolute_import
import xlearn as xl

ffm_model = xl.create_ffm()

ffm_model.setTrain('./data/train_ffm.txt')
ffm_model.setValidate('./data/valid_ffm.txt')

param = {'task': 'binary', 'lr': 0.2, 'lambda': 0.002, 'nthread': 8, 'epoch': 10}

ffm_model.fit(param, './ffm_model.out')

ffm_model.setTest('./data/test_ffm.txt')
ffm_model.

[2018-01-15 07:11] aksnzhy commented on #63
It's a strange error I have never met before.  I will check this soon.

[2018-01-17 05:04] Refefer opened #64 "Memory leak during disk reading on large dataset"
Hi there,

Using master, it appears there's a memory leak when reading in the initial dataset.  Specifying the --disk flag, it appears to happen when checking for the max feature size.  It runs until OOM ends up killing it, which is after consuming around 105gbs of memory on this particular machine.

Our dataset of choice is 68Gbs in size, about 160 million samples, with 1 million features total (

[2018-01-17 05:17] Refefer commented on #64
It appears to be a leak in general, most likely in the OndiskReader since it continues to leak when using a smaller dataset during train.

[2018-01-17 21:06] aksnzhy commented on #64
Thanks for your report. We will check and fix this problem as soon as possible.

[2018-01-18 00:18] HuangZhanPeng commented on #63
there is another strange thing that if not delete xlearn.pyc, while create another python script, it still raise the same error

[2018-01-18 03:19] #56 closed

[2018-01-18 04:02] blancyin opened #65 "How to get the latent and parameter of feature ?"

[2018-01-18 22:24] aksnzhy commented on #64
Hi, @Refefer Thanks for reporting this important bug. I have already fixed it and you can try it now.
Please let me know if there has any other problem!

[2018-01-18 22:32] aksnzhy commented on #65
The model output is a binary file that human cannot read. For now, xLearn can support to dump to TXT model to file, but now it only supports to dump the linear term.

[2018-01-19 05:53] Refefer commented on #64
@aksnzhy ran some tests and it appears your patch fixed the problem.  Closing and thanks!

[2018-01-19 05:53] #64 closed

[2018-01-25 09:09] railgun233 commented on #65
@aksnzhy  Any tutorial about how to get the linear term?

[2018-01-25 09:10] railgun233 commented on #65
@aksnzhy  got it.

[2018-01-29 08:48] blancyin opened #66 "install error"
[  1%] Building CXX object gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
c++: cannot specify -o with -c or -S with multiple files
make[2]: *** [gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o] Error 1
make[1]: *** [gtest/CMakeFiles/gtest.dir/all] Error 2
make: *** [all] Error 2
/usr/bin/python2
Traceback (most recent call last):
  File "setup.py", line 15, in <module>
    LIB_PATH = [os.path.relpath

[2018-01-29 08:51] blancyin commented on #66
build xlearn with source code

[2018-01-29 09:04] #66 closed

[2018-01-29 09:05] blancyin opened #67 "install error"
i try to build xlearn with source code

-- The C compiler identification is GNU 4.8.4
-- The CXX compiler identification is GNU 4.4.6
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c+

[2018-01-30 02:43] blancyin commented on #67
I remove march=native, a new error

[  1%] Built target gtest
[  2%] Built target gtest_main
[ 10%] Built target base
Linking CXX executable ../../test/base/file_util_test
../../gtest/libgtest.a(gtest-all.cc.o): In function `testing::internal::StreamingListener::SocketWriter::MakeConnect
ion()':
gtest-all.cc:(.text+0xb4f2): warning: Using 'getaddrinfo' in statically linked applications requires at

[2018-02-03 06:48] randxie opened #68 "Add sklearn interface for better usability"
The current XLearn model interface might impact usability since some of us would firstly do feature engineering using numpy/pandas. Extra steps are needed to convert the numpy matrix into libsvm/csv and call the fit/predict method in xlearn.

I have implemented a prototype of sklearn interface that utilizes the existing XLearn class and borrows some ideas from sklearn.py in xgboost. Please see htt

[2018-02-04 01:10] aksnzhy commented on #68
Thanks for this contribution! I will test it and give you the feedback as soon as possible!

[2018-02-04 04:55] randxie commented on #68
Cool, that would be great. The current implementation would more or less be a proof of concept. Once the DMatrix class is ready, we could do the conversion in-memory without saving data to disk.

[2018-02-08 07:45] JiaWenqi opened #69 "install error!!! Exception: Please install CMake first"
The cmake --version(version 3.5.1) is installed on my linux!
Why do I have this problem？？？

[2018-02-11 06:22] Jie-Yuan opened #70 "安装报错"
Cannot find xlearn Library in the candidate path

[2018-02-11 06:26] Jie-Yuan commented on #56
怎么装都这样XLearnLibraryNotFound: Cannot find xlearn Library in the candidate path

[2018-02-11 07:20] aksnzhy commented on #70
你可以添加

export PYTHONPATH=你的xlearn路径/python

到~/.bashrc 下试试。

记得 source ～/.bashrc

[2018-02-12 03:13] xxllp opened #71 "xlearn.libpath.XLearnLibraryNotFound: Cannot find xlearn Library in the candidate path"
python包安装后，跑个demo 报错

[2018-02-12 03:36] xxllp commented on #69
这个库依赖都不清楚，看来还是测试少了

[2018-02-13 04:57] aksnzhy commented on #71
你可以添加

export PYTHONPATH=你的xlearn路径/python

到~/.bashrc 下试试。

记得 source ～/.bashrc

[2018-02-13 04:59] xxllp commented on #71
我在windows 上装出现的问题，但是我在linux下安装也有其他问题，python 包安装好了调用会报错。建议你们整个whl的安装包，省得大家编译。谢谢

[2018-02-13 05:01] aksnzhy commented on #71
xLearn 目前还不能支持 windows，可能会在下一个版本里开始支持。

[2018-02-13 05:14] xxllp commented on #71
这个倒没啥，但是安装还是比较蛋疼。这个能支持多大的数据

[2018-02-13 05:17] aksnzhy commented on #71
在单机上我们测试过 1 TB 的数据。

[2018-02-13 06:29] aksnzhy commented on #68
@randxie Hi, this contribution is great! Could you please open a PR for this? We can do some code review and discussion in it.

Thanks!

[2018-02-23 14:36] znavoyan opened #74 "xlearn from Juyter notebook"
Hi. I'm trying to run xlearn's demo python code from Jupyter notebook.
The code runs with no problem from python interpreter. However when I try to run it from the notebook, the notebook's kernel crashes on the  `linear_model.fit(param, './model.out')` line with the following error :
Kernel Restarting
The kernel appears to have died. It will restart automatically.

Before that line, the following

[2018-02-23 16:14] randxie commented on #74
seems that I can run it successfully on jupyter 4.3.0 and Python 3. What's your environment?

[2018-02-25 05:00] jermaine1ronquillo opened #75 "cv score"
Hwo to know cv score without looking in the console / terminal? I'm using jupyter notebook

Thanks

[2018-02-26 11:34] znavoyan commented on #74
I use Jupyter 4.3.0 and python 3.6.3.
I understand what was the problem. There was a 'model.out' file already created using root. But the jupyter works under my account, which has no privileges to overwrite the old file. After creating model from the notebook it was trying to overwrite the old model and failed.
I deleted the old 'model.out' file and it started working.

However, there is still oth

[2018-03-01 15:30] chenweilong915 opened #77 "Illegal instruction (core dumped)"
Whatever I change python2 or 3, it raise the error.
The code is completely same as the examples, and I am sure that the libffm format data is correct(for I have test other libffm-pakages).

My cpu is Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz

[2018-03-01 20:05] aksnzhy commented on #77
Could you please give me more error information?

[2018-03-02 02:35] chenweilong915 commented on #77
all it raise is the sentence:
"Illegal instruction (core dumped)"
So I don't know...
I use anaconda and pip install the xlearn, using python 2.7and python3.5,ubuntu

[2018-03-02 06:06] aksnzhy commented on #77
You can check out the core dumped file for the error details.

[2018-03-02 06:07] aksnzhy commented on #75
For now, xLearn can only print the score to the terminal. We may add new feature to write score to log file.

[2018-03-02 06:11] aksnzhy commented on #74
@znavoyan For now, xLearn can only print message to console. We will update it to show message in notebook as soon as possible.

[2018-03-02 08:50] chenweilong915 opened #78 "How to set early-stopping number in python param?"
I want to set early-stoping number to 10, but I  found there is no param for setting the early-stopping number.

[2018-03-02 08:57] chenweilong915 commented on #77
I find that it occured because of the pip...
I use the source code and everything works!
Thanks~

[2018-03-02 08:57] #77 closed

[2018-03-03 03:21] chenweilong915 opened #79 "AttributeError: 'module' object has no attribute 'create_lr'"
我git下来过后发现ffm和fm都可以用，但是lr不能用，这是为啥啊？是这一块我没安装好的原因？

[2018-03-03 05:43] aksnzhy commented on #79
@chenweilong915 try create_linear() not create_lr()

[2018-03-03 06:21] starkmchen opened #80 "When does this project support pairwise training and label weighting?"
rt

[2018-03-06 00:02] aksnzhy commented on #78
@chenweilong915 Hi, You can set the epoch number in both python and command line. What do you mean about 'early-stoping number'? Do you mean the early-stop window size?

[2018-03-06 00:02] aksnzhy commented on #80
The pairwise training is on our roadmap :)

[2018-03-11 14:08] hutaohutc commented on #42
xlearn has been in 0.3 version,but when I use `pip install xlearn ` or `pip install -U xlearn` ，the version was still 0.1? how can i deal with it ?

[2018-03-11 14:15] hutaohutc commented on #51
xlearn has been in 0.3 version,but when I use pip install xlearn or pip install -U xlearn ，the version was still 0.1? how can i deal with it ?

[2018-03-11 20:48] aksnzhy commented on #51
@purkyston Can you please publish a latest 0.3 version to pip? Thanks!

[2018-03-14 06:42] hutaohutc commented on #68
@randxie  @aksnzhy Hi ,this sklearn api of xlearn is great! When i use lr in sklearn to my data,I can get AUC 0.72, but when I use xlearn's sklearn lr api the score is only 0.68,  this is my code :
[code]

![image](https://user-images.githubusercontent.com/12443607/37386841-13fa5550-2795-11e8-8480-d81983888511.png)

[2018-03-14 06:58] hutaohutc opened #81 "xlearn api of sklearn xl.LRModel proformance is worse than sklearn's lr"
I use xlearn in my data,the same data for sklearn.lr and xl.LRModel ,sklearn.lr can get AUC 0.72,but xl.LRModel AUC only is 0.68 ,xl.FMModel's auc is also not very good and fmmodel's auc is only 0.67,and here is my code:
[code]
![image](https://user-images.githubusercontent.com/12443607/37387168-61cfc6d8-2796-11e8-98a6-45ca978e6078.png)

[2018-03-14 08:28] hutaohutc opened #82 "when I hstack 2 csr_matrix ,xlearn failed to convert feature matrix X and label y to xlearn data format"
here is my code :
[code]

[code]

It can work when I use only one csr_matrix without using `hstack` ,thank you for you answer~

[2018-03-15 03:27] aksnzhy commented on #82
@randxie  Please review this issue.

[2018-03-15 04:02] randxie commented on #82
@hutaohutc Thanks for testing the sklearn interface. The reason is when you do hstack of two csr matrices, the output becomes scipy.sparse.coo.coo_matrix. One quick fix is to enforce the hstack output to csr matrix as following.

X_train_ext = hstack([X_trans[:100000, :],hotelid_tran[:100000, :] ]).tocsr()
X_test_ext = hstack([X_trans[100000:, :],hotelid_tran[100000:, :] ]).tocsr()

I also find ou

[2018-03-15 04:20] aksnzhy commented on #81
The sklearn API doesn't take the same default hyper-parameters used by xlearn API. Please fine-tune your hyper-parameters to get the best score on your data.

[2018-03-15 04:21] randxie commented on #81
@hutaohutc Without the data, my best guess is that the difference comes from different model parameter settings. For your reference, I created a simple example using iris data to compare logistic regression in xlearn and sklearn. The AUC score does not differ too much (xlearn is slightly higher).

# -------------------------------------------------------------------------
# Compare logistic regres

[2018-03-15 05:12] hutaohutc commented on #81
@randxie I can provide my data if you wanted。
When I use this parameter in my data ,my auc is less than 0.5.
[code]
![image](https://user-images.githubusercontent.com/12443607/37445057-6979af2e-2850-11e8-9f45-2f920a0fc778.png)
 When I use another parameter ,I only change opt to ada grad ,the auc performance improved,but is also bou so good.
[code]
![image](https://user-images.githubusercontent.com

[2018-03-20 13:16] HuangZhanPeng opened #85 "Is there any plan to add the mlr algorithm?"
alibaba's ctr algorithm: [Learning Piece-wise Linear Models from Large Scale Data for Ad Click Prediction](https://arxiv.org/pdf/1704.05194.pdf)

[2018-03-20 15:27] purkyston commented on #51
Done @aksnzhy @hutaohutc

[2018-03-20 21:06] aksnzhy commented on #85
So far, it is not on our roadmap. It will be great someone can contribute it.

[2018-03-21 07:48] yunxileo commented on #69
I also have this problem

[2018-03-21 08:55] makailove123 opened #86 "set block size bug"
The "-block" argument never work, because OndiskReader.SetBlockSize() function is never invoked.

[2018-03-21 22:29] aksnzhy commented on #86
Thank you for finding this!

[2018-03-24 13:24] classtag opened #87 "pip install test error."
Hi aksnzhy:

I used pip install xlearn in a conda enviment, but occur some issue as bellow log, please check

[code]

[2018-03-24 13:24] classtag commented on #87
And I try to build from source , it works OK.

[2018-03-26 04:51] aksnzhy commented on #87
@purkyston Many people meet this problem. Can you figure out why it happens?

[2018-03-26 05:48] purkyston commented on #87
It looks like there is no `libxlearn_api.dylib` in this directory `/Users/duoan/.anaconda/envs/stats27/lib/python2.7/site-packages/xlearn/`, which is built from the source code.
There is no problem on the Linux platform with anaconda.
I will check on the OS X.

[2018-03-27 02:24] JiaminXuan opened #88 "how to get the field_id for vector weights"
how's the weights ordered in the FM model txt output.  Is there a way to get vector weights for a specific field?

[2018-03-27 20:07] #88 closed

[2018-03-28 07:30] febtree opened #89 "does xlearn support online training?"
sometimes we want to load the previous model, ie: yesterday's model, and then do the training on today's fresh data. Is this a supported feature right now? I didn't find it in the doc.

[2018-03-29 00:28] aksnzhy commented on #89
@febtree Now, xLearn can load the the pre-trained model for predation, so I think it's not very difficult to implement this feature for training. I will try to add this feature to xLearn these days, please wait our notification. Thanks for your suggestion!

[2018-03-29 02:52] febtree commented on #89
@aksnzhy Looking forward to this :)

[2018-03-31 03:00] liangjie18430 opened #90 "How to get the feature representation after decomposition"
Can I get a feature vector representation of the Cross features in FM, no related APIs is found

[2018-04-01 02:41] aksnzhy commented on #90
@liangjie18430 Please see set setTXTModel() API in python and -t option in command line.

[2018-04-02 04:36] randxie commented on #90
@aksnzhy Do you think it is worth adding the weight vector/matrix as properties of FMModel, LRModel and FFMModel. We could call setTXTModel() inside the sklearn interface and parse the txt afterwards.

[2018-04-02 06:19] aksnzhy commented on #90
@randxie I think it’s good to add this feature to sklearn API .

[2018-04-03 13:10] vnnw commented on #87
https://github.com/aksnzhy/xlearn/blob/4a7a7341dd31ee34939b4db54c76d065ae6fd34a/python-package/xlearn/libpath.py#L22

[code]
I think this line is the problem.

[2018-04-06 02:59] hhlisme commented on #87
@aksnzhy @vnnw How do I solve this problem when it happens under Windows?

[2018-04-06 03:51] vnnw commented on #87
@hhlisme sorry, i don't have access to Windows.
But i think the bug is the wrong path, so you may try to correct it with the code i've provided above and see if it works.

[2018-04-06 04:58] hhlisme commented on #87
@aksnzhy @vnnw Yes, I think you're right. The 'lib_path' in libpath.py is an empty list.

[2018-04-06 06:45] hhlisme commented on #70
@aksnzhy 这个问题解决方法能否说的详细一点，谢谢了！

[2018-04-09 13:53] mpearmain opened #91 "Change nthread parmeter name in sklearn wrapper to n_jobs"
The current Sklearn API for Xlearn does not follow Sklearn conventions -  "nthread" should be "n_jobs"

Similar to XGBoost
https://github.com/dmlc/xgboost/pull/2658/files

[2018-04-09 16:40] aksnzhy commented on #91
Thanks for this! We will update it.

[2018-04-10 00:11] aksnzhy commented on #91
@randxie Could you please change the 'nthread' argument to 'n_jobs', but remain the 'nthread' argument in the original python API?

[2018-04-11 11:47] ahmedahmedov commented on #74
I have a similar problem. Kernel restarts as soon as I execute "ffm_model.fit(param, "model.out")" in Ubuntu14.04 and Python3.5.2

[2018-04-14 03:31] ecolss opened #92 "questions on multi-thread traning"
As said in the doc, xlearn could do Hogwild! or lock-free training, and as I read the code, so for example,
`CrossEntropyLoss::CalcGrad` splits the samples into parts and feeds them into multiple threads,
then each thread will call, say `FFMScore::CalcGrad` to calculate the gradients and update the weights.

My dumb question is that, since each thread update weights simultaneously, and it's possib

[2018-04-14 06:50] aksnzhy commented on #92
Yes, the lock free training can improve CPU performance but may hurt convergence. This is a trade-off. If your data is sparse, lock free training often performe well, but if your data is dense, I suggest that you can turn off the lock free flag.

[2018-04-18 07:33] DoomOTW commented on #69
没有cmake，安装一下：
centos：
yum install cmake
ubuntu:
apt-get install cmake

[2018-04-19 04:46] #91 closed

[2018-04-19 04:46] #90 closed

[2018-04-20 04:03] lzb5600 opened #94 "How to set patience for early-stop?"
Currently it seems that the patience for early-stop by default is 2. How can I change that? Thanks!

[2018-04-20 06:29] aksnzhy commented on #94
@lzb5600
Now it is a default value that cannot be modified. If you have the request, I can add this feature.

[2018-04-20 06:36] lzb5600 commented on #94
Thanks for you prompt reply. I would appreciate it if you could add this feature.

[2018-04-20 07:50] lzb5600 opened #95 "Bug related to Quiet Training"
It seems that **early stop** doesn't work when using setQuiet()

[2018-04-20 12:31] aksnzhy commented on #95
We will check this bug. Thank you!

[2018-04-22 05:29] aksnzhy commented on #95
Hi, I found that this is not a bug but a feature. When using quite training, the system will not do any evaluation to speed up training, and hence the early-stop will not be performed.

[2018-04-22 05:29] #95 closed

[2018-04-22 15:49] Sandy4321 opened #96 "may you add support for windows as well?"
I see you are planning to do this
http://xlearn-doc.readthedocs.io/en/latest/install.html

For now, xLearn can support Linux and Mac OS X. We will support it on Windows platform in the near future.

[2018-04-23 02:03] aksnzhy commented on #86
Fixed this bug and Close issue.

[2018-04-23 02:03] #86 closed

[2018-04-23 02:04] aksnzhy commented on #96
It is on our roadmap.

[2018-04-23 02:04] #96 closed

[2018-04-23 02:04] #85 closed

[2018-04-23 02:05] aksnzhy commented on #82
Fixed and close issue.

[2018-04-23 02:05] #82 closed

[2018-04-23 02:05] #81 closed

[2018-04-23 02:05] #80 closed

[2018-04-23 02:06] aksnzhy commented on #79
Solved and close issue

[2018-04-23 02:06] #79 closed

[2018-04-23 02:06] aksnzhy commented on #78
We added stop_window to the latest code.

[2018-04-23 02:06] #78 closed

[2018-04-23 02:07] #59 closed

[2018-04-23 04:52] lzb5600 commented on #95
Thanks for the explanation!

[2018-04-23 04:53] lzb5600 commented on #94
Thanks!

[2018-04-23 16:46] bhelou opened #97 "Scaling xLearn to relational data"
Hi,

First, thank you for a friendly and blazing fast FM library!

I have a question on how to scale xLearn to relational data. To be concrete, let's say we'd like to mimic something like SVD++, where our design matrix includes all the items that a user has rated (like in section VB of Rendle's FM paper: https://www.csie.ntu.edu.tw/~b97053/paper/Rendle2010FM.pdf).
The difficulty with SVD++ is that

[2018-04-24 07:40] lzb5600 opened #98 "Questions related to model initialization and parameters of AdaGrad"
Does command line option -u correspond to -init stdev in LibFM which sets the standard deviation for initializing the parameters V? And how do you set the initial value for accumulated gradient G? I cannot find it in xlearn documents. Could you give some comments? Thanks.

[2018-04-24 13:55] fuxuemingzhu opened #99 "segmentation fault!! No other failed messages."
Thanks to your wonderful works! Here is my failed message.

I don't have other information to check the error point. Could you help me?

I ran the same code for three times and get the same error.

My environment is Python 3.5.2, Ubuntu 16.04. The RAM is 32GB.

HERE is my error messages:

[code]

[2018-04-24 22:19] aksnzhy commented on #99
It seems that your data format is not correct. Can you share apart of your data?

[2018-04-25 02:53] fuxuemingzhu commented on #99
Here is head 10 lines of my data. It contains int,str,float type.

I used the [pandas2libFFM](https://www.kaggle.com/mpearmain/pandas2libffm) to convet pandas into libffm format. And I added below line in function ``transform_row_``.

[code]

Can you give me a quite good method to convert pandas DataFrame or raw csv into libffm format? Or is there a function to check whether my libffm format is co

[2018-04-25 05:51] aksnzhy commented on #99
It seems that your model is too large. Can you show me the hyper-parameter? I will check how may the memory usage in your task.

[2018-04-25 05:56] aksnzhy commented on #98
-u is a threshold, and we will initialize our linear term to 0.0 and latent factor to (0.0 ~ threshold).

All the accumulated gradient in Adagrad will be initialized to 1.0

[2018-04-25 06:00] lzb5600 commented on #98
Thanks for your comments. As you description, -u is the parameter for uniform distribution [0, Threshold].

[2018-04-25 06:32] aksnzhy commented on #98
Strictly, it is (0, Threshold]. We cannot set the parameter of latent factor to zero. Because in that case, the gradient will always be zero.

[2018-04-25 07:03] fuxuemingzhu commented on #99
The hyper-parameter is:
[code]
The train set is about 4.4GB. The valid set is about 470MB. The test set is about 1.3GB.

Thanks.

[2018-04-25 09:04] fuxuemingzhu commented on #99
Sorry for this issues. My fault to make an incorrect libffm format dataset.

The proccess of float type is wrong.

Grateful for your reply and I will close this issue.

[2018-04-25 09:04] #99 closed

[2018-04-25 10:42] yt605155624 opened #100 "没有一个叫做stop_window的参数"
在字典里写这个参数,运行的时候会报错,说没有这个参数,现在是默认使用earlystop吗,如何开始或者关闭,如何设置earlystop的条件,之前跑了一次,默认选择最好的,但是我想问一下,如果我跑100个epoch,它将在100个里面选择最好的吗,这100个模型都保存在内存里吗,会不会爆掉?谢谢

[2018-04-25 11:31] lzb5600 commented on #98
Yes, you are right. Thanks!

[2018-04-25 16:48] bhelou commented on #97
OK, thank you for the quick response, and good luck if you decide to add that feature!

[2018-04-25 16:48] #97 closed

[2018-04-25 17:37] aksnzhy commented on #100
@yt605155624 你看看你用的是不是最新版本的code，pip 上还没有更新最新的版本，所以可能需要你从源码编译安装一下才能用 stop_window 这个参数，它是设置观察窗口大小的，比如设置成2，那么如果连续两轮的模型效果都在变差，就会停止训练，然后选择之前最好的参数。100 epoch 不会存 100 个模型，每次发现最好的模型都会把之前的模型替换掉。

[2018-04-25 17:41] aksnzhy commented on #100
@purkyston 麻烦更新一下 pip 吧。

[2018-04-25 17:42] #98 closed

[2018-05-01 07:09] lihongqiang opened #102 "How many features xlearn can deal with?"
![image](https://user-images.githubusercontent.com/8372173/39464671-6eddb566-4d51-11e8-8909-7b0432b4f409.png)
My features is 1e7, the model don't run success. Is the number of features too big?

[2018-05-01 08:56] hbsun2113 opened #103 "core"
我跑了一下./run_example.sh，产生了core文件，请问怎么回事？
![image](https://user-images.githubusercontent.com/27994442/39467402-88272c82-4d60-11e8-94be-5f8e1090a7c5.png)

[2018-05-01 17:20] KevinLiao159 opened #104 "Building failed the test"
My working machine is Ubuntu and already have CMake and GCC installed. After running build.sh command, I ran ./run_example.sh to test my building. And error was throwing out:
terminate called after throwing an instance of 'std::logic_error'
what():  basic_string::_M_construct null not valid
./run_example.sh: line 2: 19411 Aborted
(core dumped) ./xlearn_train ./small_train.txt -s 2 -v ./small_test.

[2018-05-02 13:40] akshit96 opened #105 "How support weights to data points in FFM while training ?"
Is there a way to do that ?

[2018-05-03 17:25] aksnzhy commented on #102
@lihongqiang  It seems that your memory cannot handle so large data. You can try to use on-disk training for that.

[2018-05-03 17:52] MrCuri0sity commented on #99
@fuxuemingzhu i wandered what the correct float type , i meet the same problem

[2018-05-03 18:38] akshit96 commented on #105
Giving a weight to each row so that it appears along with it's error in the cost function while training and validation.

[2018-05-04 01:10] lihongqiang commented on #102
I see.

[2018-05-04 03:13] fuxuemingzhu commented on #99
@MrCuri0sity Is your model also too large? The Number of Feature being about 1 million is fine.

My float type is correct, but this problem occured when the number of features is large.

The solution is using hash trick.

[code]

You can get more information from [3 Idiots' Approach for Display Advertising Challenge](https://github.com/guestwalk/kaggle-2014-criteo/blob/master/converters/common.py)

[2018-05-04 07:37] akshit96 commented on #105
@aksnzhy Can you guide how should I go about making changes if I have to do it myself?

[2018-05-04 08:42] MrCuri0sity commented on #99
@fuxuemingzhu after i reduce my features, it works. many thanks!

[2018-05-04 09:28] popfido opened #106 "build.sh can cause an installation in improper way"
build.sh provide a simple script to automatically build and install its python package

but the installation of its python package, according to scripts in build.sh, will install xlearn twice times when there exist both python2 and python3 in system
`
cd python-package
# install to python 2 package list
if command -v python2; then
    python2 setup.py install
fi
# install to python3 package list
i

[2018-05-04 20:00] aksnzhy commented on #106
@purkyston Can you check the new PR?

[2018-05-04 20:00] aksnzhy commented on #106
@popfido Thanks for your contribution!

[2018-05-04 20:05] aksnzhy commented on #105
@akshit96

You can see the code : https://github.com/aksnzhy/xlearn/blob/master/src/score/linear_score.cc

in line 75:

` w[idx_g] -= (learning_rate_ * gradient);`

Maybe you can change it to

` w[idx_g] -= (learning_rate_ * gradient * weight);`

[2018-05-05 08:04] feedlove opened #108 "oserror"
OSError: /home/catchlove/anaconda3/lib/python3.6/site-packages/scipy/sparse/../../../../libstdc++.so.6: version `CXXABI_1.3.11' not found (required by /home/catchlove/anaconda3/lib/python3.6/site-packages/xlearn/libxlearn_api.so)
I have successfully installed xlearn but when i import xlearn the above error was thrown out! I have tryed apt-get install libstdc++,but import still failed

[2018-05-05 08:05] feedlove commented on #108
![default](https://user-images.githubusercontent.com/37305776/39661053-17edc04a-507e-11e8-9912-6ecd12343912.png)

[2018-05-05 12:32] fuxuemingzhu opened #109 "Can I get the latent FM/FFM layer output for each row in dataset?"
Current model only gives the target predict label for each row in dataset. I want to use xlearn to fit the dataset and feed the latent FM/FFM layer output to other models(e.g, DNN).

Is it possible to do that? As far as I know, libfm and libffm can deal with this problem.

This feature is awesome, xlearn should not miss it!

[2018-05-06 05:18] popfido commented on #108
your anaconda python env might running with a self-bounded libstdc++ that is different from the version you used to compile libxlearn_api.so. Try to use "conda list" to ensure if there exists a separate libstdc++ or gcc package in the conda python env. If the answer is yes, it might be the cause of this problem.

[2018-05-06 06:43] hbsun2113 commented on #103
@aksnzhy  请问如何确认 libc 是否正常？

[2018-05-07 04:51] FelixHo opened #110 "how can i load a cmd-line trained model with py-api ?"
Is it possible？or how can i get the weights  from a cmd-line trained model?

[2018-05-08 08:09] hbsun2113 opened #112 "xlearn-0.31a1没有 lr_model?"
![image](https://user-images.githubusercontent.com/27994442/39745575-33556186-52da-11e8-8aef-f9588b45e28e.png)

[2018-05-08 09:30] wuhaotju commented on #70
我用pip安装的时候怎么安装不上啊？大佬能指点一下吗？

[2018-05-08 09:33] wuhaotju commented on #87
大佬，真巧，我也IJCAI，正在安装xlearn 可是出了点问题，能加个好友咨询下吗？

[2018-05-08 11:05] feedlove commented on #108
![default](https://user-images.githubusercontent.com/37305776/39753783-90dac8ce-52f2-11e8-80cd-07043c3d6536.png)

[2018-05-08 11:06] feedlove commented on #108
@popfido

[2018-05-08 22:45] aksnzhy commented on #109
@fuxuemingzhu You can try `setTXTModel()` python API, or `-t` command line option. Please let me know if you have any question.

[2018-05-08 22:47] aksnzhy commented on #110
@FelixHo You can use `model.predict("./model.out", "./output.txt")` api, where `./model.out` can either be trainned by cmd line or python.

[2018-05-08 22:48] aksnzhy commented on #112
@hbsun2113 要用 `create_linear()`

[2018-05-08 22:54] #58 closed

[2018-05-09 01:29] hbsun2113 commented on #112
@aksnzhy  请问相关api在哪里可以查询？

[2018-05-09 01:41] wuhaotju opened #113 "how to make small_train.txt"
how to make small_train.txt?

[2018-05-09 01:42] #110 closed

[2018-05-09 05:31] aksnzhy commented on #113
@wuhaotju The small_train.txt in is

https://github.com/aksnzhy/xlearn/tree/master/demo/classification/criteo_ctr

[2018-05-10 20:43] feedlove opened #114 "installed failed on kaggle"
can xlearn be installed on kaggle ?

[2018-05-13 02:34] lzb5600 commented on #94
I have played with -sw recently. It stops the training if validation loss is keep increasing in stop window.

This mechanism will make early stop doesn't work when the validation loss fluctuates.

Shouldn't the model record the lowest validation loss, and stop training when validation loss is higher than lowest loss in stop window?

[2018-05-14 09:11] fuxuemingzhu commented on #89
Does xlearn support auto save model by epoch and load previous model to continue training process now?

[2018-05-17 02:56] DonYang opened #115 "std::logic_error"
----------------------------------------------------------------------------------------------
           _
          | |
     __  _| |     ___  __ _ _ __ _ __
     \ \/ / |    / _ \/ _` | '__| '_ \

     /_/\_\_____/\___|\__,_|_|  |_| |_|

        xLearn   -- 0.31 Version --
----------------------------------------------------------------------------------------------

terminate called after thro

[2018-05-17 08:58] DonYang commented on #115
问题解决了，crontab下添加export USER即可
export USER=you_user_name; you command here

[2018-05-17 08:58] #115 closed

[2018-05-21 07:43] shikbupt opened #117 "linear model only has L2 regularization？"
RT
do you have the plan to support L1?

[2018-05-21 12:08] maye9999 opened #118 "Multi-threading not working in multi-core servers"
Hi, I'm following the issue #53 and setting the nthread parameter to 20. However, when I use the top command to check CPU usage, I find that there are 20 processes but only two cores are running. I'm using Python API so maybe the problem is about python GIL?

Here is my code snippet

[code]

[2018-05-23 03:37] HiJuly opened #119 "Suggestion: about the code of the demo"
import xlearn as xl

# Training task
ffm_model = xl.create_fm()  # Use factorization machine
ffm_model.setTrain("./house_price_train.txt")  # Training data

# param:
#  0. Binary task
#  1. learning rate: 0.2
#  2. regular lambda: 0.002
#  4. evaluation metric: rmse
param = {'task':'reg', 'lr':0.2,
         'lambda':0.002, 'metric':'rmse'}

# Use cross-validation
ffm_model.cv(param)

#############

[2018-05-23 06:07] aksnzhy commented on #117
Yes. Now xLearn can only support L2 regularization. We're considering put L1 on the roadmap.

[2018-05-23 06:07] aksnzhy commented on #119
Thanks for your suggestion!

[2018-05-23 06:08] aksnzhy commented on #118
@purkyston Can you please check this issue?

[2018-05-23 06:09] aksnzhy commented on #114
@feedlove Sorry we didn't provide kaggle script yet.

[2018-05-23 06:18] purkyston commented on #118
@aksnzhy  ok~

[2018-05-23 09:56] john159151 opened #120 "how to get the metric of the predict result?"
I want to see the metric of the predict result like auc, f1 after training. However, I only can get the predict result without the metric.

[2018-05-24 02:31] john159151 commented on #120
It seems that I need to calculate the metric by myself......

[2018-05-25 03:53] #117 closed

[2018-05-25 08:49] makailove123 opened #121 "Block size bug and normalization confusion"
Reader.SetBlockSize funciton should be called before Reader.Initialize. Otherwise, the real memory allocated is not equal to the block size seted up.
According to the code, I think default normalization is L2, right?
But, if I feed preprocessed L2-normalization data to the tool, the result is absolutely different from that I put source data to the tool. Is this normal?

[2018-05-25 14:00] kcstokely opened #122 "FFM SetTXTModel forgets a delimiter between parameters"
From the docs: "For FM and FFM, we store one vector of the latent factor in each line."

Right now this outputs:

0.156129 0.223862 0.114672 0.1005360.103618 0.100097 0.314356 0.0808605

This is an output of the model txt file for a FFM with 2 fields and 4 latent features. Notice there is a space missing between the 4 latent values for field #1 and the 4 latent values for field #2.

[2018-05-28 16:54] ethen8181 opened #123 "Saving scikit-api model"
Hi, team. What's the best approach right now to save and load a scikit-learn like model? Pickling doesn't seem to work. Thanks!

[code]

[2018-06-01 19:37] jrzaurin opened #124 "No verbose at all during training"
Hi there

nice package!

I am using it for a recommendation algorithm and passing the model to an optimization function.

Even setting `model.setQuiet()`

prints this every iteration

[code]

[2018-06-03 15:56] locta66 opened #125 "segmentation fault while using outofcore training a ffm model"
I got an error message "Segmentation fault" when I perform outofcore training (block size = 200000) a ffm model  using python api, on a 670GB txt data.
Then I turn to a smaller dataset(1.7GB)for a test. I found if I perform outofcore training (block size = 10000) It gave the same error message, but if I train in memory, it can do the training.
I find it strange and don't know what's the problem.

[2018-06-03 19:59] aksnzhy commented on #125
@locta66 Hi，when you set block size = 10000, xlearn will use 10000MB memory. Make sure that you have enough memory for that. You can change the block_size = 500 and try it again. Please let me know if you have meet any problem.

[2018-06-03 20:02] aksnzhy commented on #124
@jrzaurin Hi, I think xlearn will only print this message one time at the beginning of training, and it will not print anything during iteration. Please confirm that your task will print this message in every iteration?

[2018-06-03 20:04] aksnzhy commented on #123
@randxie Can you check out this issue?

[2018-06-03 20:05] aksnzhy commented on #122
@kcstokely Thank you so much. We will fix this problem.

[2018-06-03 20:07] aksnzhy commented on #121
@makailove123 We will fix this problem! Yes, xLearn uses L2 regularizer and instance-wise norm by default. I think you need to tune the hyper-parameters for different dataset.

[2018-06-03 20:08] aksnzhy commented on #120
@ Did you set the metric flag? xLearn can do it by itself.

[2018-06-04 05:45] drfilter opened #126 "训练速度太慢"
你好，我的训练集26G,  测试集2.9G
param = {'task':'binary', 'lr':0.2, 'lambda':0.002, 'metric': 'auc', 'nthread': 20, 'k': 8, 'epoch':20, 'opt': 'ftrl'}
使用服务器，32核，cpu: 2399.906 Mhz
使用0.31 版本:
[------------] Number of Feature: 84994
[------------] Number of Field: 31
[------------] Time cost for reading problem: 180.55 (sec)
[ ACTION     ] Initialize model ...
[------------] Model size: 242.20 MB
[------------

[2018-06-04 18:44] aksnzhy commented on #126
请用命令行版本试试，python 版本在多核下可能会比较慢。

[2018-06-05 08:59] drfilter commented on #126
命令行版本，一轮 748.49 秒，确实快了很多。

[2018-06-05 15:03] webgua opened #127 "Multivalued discrete features"
Dose ffm support Multivalued discrete features?

For example:

Clicked | User | Like
-- | -- | --
0 | Arthur | Apple,Banana,Orange,Grapes

to

0:0:1 0:1:1 0:2:1 0:3:1

[2018-06-05 23:29] randxie commented on #123
@aksnzhy It should be the issue of _XLearnModel that can not be pickled. We could either add __getstate__ and __setstate__ methods to XLearn class, or provide save_model and load_model methods to the sklearn interface. What do you think?

[2018-06-08 07:17] dananhai opened #128 "ondisk训练耗时更长，验证集效果更差？"
你好，因为数据量太大，所以选择了ondisk训练，在小的数据集上做测试，迭代十次左右发现准确率跟之前不ondisk差别明显，ondisk验证集效果比非ondisk效果差，是因为block的原因还是？

[2018-06-08 09:36] Lynnjl opened #129 "segfault core dumped when load large datatset"
My dataset is huge, about 31G. When I try the Xlearn, it quickly crashed at the stage of loading data.  While using small data, it worked well.  I tried the "disk" option, it still failed. So I wonder if Xlearn can support the so-call "continuous learning", which means that I can load the model which is trained on the previous data and continue to train on the other part data

[2018-06-08 22:47] jrzaurin commented on #124
@aksnzhy that is correct, but I run the model within a loop as I optimize (using hyperopt) and prints it every time it starts training. So say 100 iterations, 100 messages. Maybe I can change the syntax. Let me check and if I manage I will close this :)

[2018-06-11 09:58] gsakkis opened #130 "Convert python to xlearn data structures without temp files"
I'm wondering how hard would it be to convert Python data (numpy or scipy.sparse arrays) to xlearn data structures directly, without having to save and load intermediate temp files. This is especially important if one wants to call `predict` for single feature vectors (e.g. exposed as a API on a server) instead of whole test datasets.

[2018-06-13 08:03] adrpino opened #131 "Compatibility with sklearn.model_selection.GridSearchCV"
I'm attempting to cross-validate a model using scikit-learn [GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) and XLearn in the following fashion:

[code]

However, I'm getting the following error:

[code]

Is there I'm doing something wrong? can I somehow deactivate serialization of objects to file to avoid this behavior?

If there is some

[2018-06-16 03:11] randxie commented on #130
Hi @gsakkis, there is an utility function provided to convert numpy array to libffm format that can be consumed by predict method (write_data_to_xlearn_format). But it still requires writing to external file. I believe the in-memory conversion is an on-going work (please correct me if I am wrong @aksnzhy).

[2018-06-18 03:34] Subenle commented on #114
@aksnzhy I try to use xlearn in kaggle, it can be installed by pip install . But it always crashed when run `fit` function and throw a `std::logic_error` , it seems like the same problem as [std::logic_error](https://github.com/aksnzhy/xlearn/issues/115).

I try to run kaggle docker locally, and install xlearn with pip, it also throw the same error. But after I run with:
`export USER=root; python

[2018-06-24 04:47] lzb5600 opened #132 "How to cite xLearn in paper?"

[2018-06-26 03:44] Berenliu opened #133 "feature preparation while training with ffm"
Just a comment.
I was trying to train a ffm model with xlearn. My data format is like

0 1:1:1 2:1:1 3:1:1
1 1:2:1 2:2:1 3:3:1
0 1:3:1 2:3:1 3:3:1

Here the fields name are some real feature names, the feature names under fields name are bin number of the original features.

The result is always much worse than that of fm. I checked the model and find that the model seems treat same feature names

[2018-06-26 06:57] #119 closed

[2018-06-28 07:51] ECNU109 opened #134 "The f1 score and precision metrics is for top-N, what number N is set to?"

[2018-07-04 08:19] #133 closed

[2018-07-07 10:57] xxllp commented on #69
这个问题为啥呢，奇怪哈

[2018-07-09 13:41] xxllp commented on #99
为啥我特征不多也有这个报错，这个很耗内存吗

[2018-07-10 03:14] WinterFu commented on #69
同样遇到这样的问题，Ubuntu16.04+anaconda3已经安装了cmake但是还报同样的错误！

[2018-07-11 02:18] xxllp opened #135 "运行结果的疑问"
我在本地用其他库跑的结果比用xlearn 的要好，而且这个训练过程种 score 抖动的厉害，这个是因为batch ？能看到更平稳点的效果吗，我用的是LR
 ./xlearn_train /root/data/gbdt_feats.csv  -s 0 -x auc --cv -e 50 -p ftrl

[ ACTION     ] Cross-validation: 5/5:
[------------] Epoch      Train log_loss       Test log_loss            Test AUC     Time cost (sec)
[    2%      ]     1                 inf            1.128900            0.561452                0.36
[    4%

[2018-07-11 02:18] xxllp commented on #135
auc 变化太大了，有啥参数能改善效果吗

[2018-07-11 08:50] mynamezkj opened #136 "不知道为啥这个ffm没有filed的概念"

[2018-07-12 05:58] openaphid opened #137 "The release plan of parameter server?"
May I ask when will the PS version be released?

[2018-07-18 02:48] WinterFu opened #140 "just for regression task， what's the meaning of model.out?"
I have a regression task, the model output model.txt just a column file, i want to know what the meaning of the column data?

[2018-07-26 04:00] zenwan opened #141 "可以不使用中间文件吗？"
感觉不是很好用啊，
可以考虑支持[(filed,index,value)]的方式存储数据啊，
直接读文本太复古了。。。
这让线上直接预测的时候咋用？

[2018-07-27 06:38] KaiHuangMO opened #142 "可以使用 setTXTModel 中的隐变量表征向量相似度吗"
第一次使用 FFM
可以使用 setTXTModel 中的隐变量表征向量相似度吗
如果可以的话 在 model 文件中 关于每个变量的权重存储顺序是什么呢
例如我看变量长度为N
文件长度为
N + 1 + N
后面的N为隐变量 这个是按照特征的顺序存储的吗
谢谢~

[2018-08-01 10:34] aksnzhy commented on #141
我最近正在添加这个功能，下个版本就会有的。

[2018-08-01 10:37] aksnzhy commented on #142
目前还不可以表示相似度。

对于 FFM 我们把每一个 latent factor 的 vector 存在一行，按照feature的顺序遍历下去的。

[2018-08-02 12:52] boriszhang2017 opened #143 "有关向量Vi和Vj小的问题"
我在使用的时候发现训练出来的权值向量Vi比一阶的权值向量Wi一般要小1-2个数量级，测试了很多数据集都是这样。https://github.com/aksnzhy/xlearn/blob/master/demo/classification/scikit_learn_demo/example_FM_wine.py 执行结果参见下表。

(array([-0.723813 , -2.24291 , -1.04676 , -1.23213 , 0.856712 ,

       -0.434429 , -0.136252 ,  0.0786576,  0.0168952,  0.523642 ,
       -2.18277  ,  1.14231  ,  0.472776 , -2.02042  ]),

array([[-3.72520e-04,  1.74872e-03,  1.05

[2018-08-03 07:10] zhangjx53 opened #144 "是不是现在没法支持windows呢？可以支持windows的版本大概几时会发布哈~"

[2018-08-05 09:26] aksnzhy commented on #144
我们会经快完成往windows上的移植。感谢关注！

[2018-08-06 02:09] etveritas opened #145 "导入包出现警告"
您好，当我在windows10的Ubuntu子系统中安装好xlearn，并且在python交互界面运行`import xlearn as xl`时，出现了如下的警告：
`/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)`
请问这是什么原因造成的呢？谢谢您~

[2018-08-06 02:37] etveritas commented on #145
我找到了原因，因为我用的numpy1.15.0造成了此警告，当我把numpy降到1.14.0时，没有出现此警告。

[2018-08-06 02:37] #145 closed

[2018-08-07 12:11] sparo-jack commented on #69
yum install gcc-c++

[2018-08-08 12:18] sandiemann opened #146 "How to set class weight for target label."
Hello,

I am dealing with highly imbalance data and I was wondering if there is an option to set the class weight for the target labels for FFM model training ?

Regards,
Sanchit

[2018-08-10 06:10] qinkevin opened #147 "读数据报“段错误”"
我用200条数据测试没有问题，但是在读取全量7万条数据时报如下错误：

[ ACTION     ] Read Problem ...
段错误

[2018-08-12 14:51] olddaos opened #148 "NaNs in predictions ( scikit interface )"
Hi there!

Thank you for the really fast tool! It's great but could be better if it will stop producing spurious NaNs in predictions where other models work just fine.

Here is how I run it ( as an objective for hyperopt ):
`
        linear_model = xl.FMModel(task='reg', init=0.01,
                              epoch=params['epochs'], lr=params['lr'], # current best epoch=6, lr=0.128,

[2018-08-13 11:26] cmutrufflepig commented on #50
Why is it that when I stay in python shell after fitting, model.setTest and model.predict work.
But when I save the model and try to run it in a new shell it gives me segmentation fault?

thank you in advance, wonderful work.

[2018-08-14 04:55] popeye007 commented on #146
I have the same problem. Is is possible to tweak the source code for setting class weight for the minority class?

[2018-08-15 09:05] xxllp commented on #141
需要添加一个接口

[2018-08-20 18:28] vincenhe opened #149 "Implementation of predict"
Hi I am using the package to train a model, then need to help developer to implement to live system.
Could you tell me which script is the raw code for prediction?

I tried to use the model output weights. It works for LR with the intercept and first order weights.
When I tried the combination of features to have inner products of corresponding second order latent vectors, it returns a very large

[2018-08-28 08:27] tuzhe0210 commented on #50
how to handle the unseen feature is the right thing to do , just add the feature from test data is deceive ourselves .

[2018-09-01 01:15] dheepanr opened #150 "Linux Issue - Xlearn won't train"
Hi I have install xlearn in both a managed linux environment and my macbook and the library works great. However I am trying to make a docker image with ubuntu, with both gcc and cmake installed and library crashes when attempting to train. The hello function works, and the library installs but I get this error whenever I try to train any kind of model.

<img width="712" alt="screen shot 2018-08-3

[2018-09-04 20:10] dheepanr commented on #150
Issue originated from not running training or inference as root user.

[2018-09-04 20:10] #150 closed

[2018-09-07 01:56] kurtliao opened #151 "關於Xlearn取Latent Feature"

[2018-09-07 01:56] kurtliao commented on #151
有點不太懂如何用setTXTmodel去抽取Latent Feature，請問有相關的 Tutorial可釋出嗎？

[2018-09-16 12:11] aksnzhy commented on #151
@kurtliao 最新版本是如下这样，你需要从新git clone源码编译安装

Linear:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0

FM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0: 5.61937e-06 0.0212581 0.150338 0.222903
  v_1: 0.241989 0.0474224 0.128744 0.0995021
  v_2: 0.0657265 0.185878 0.0223869 0.140097
  v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0_0: 5.61937e-0

[2018-09-16 12:12] aksnzhy commented on #149
@vincenhe

I update the model output like this, you need to git clone the source code and re-build it:

Linear:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0

FM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0: 5.61937e-06 0.0212581 0.150338 0.222903
  v_1: 0.241989 0.0474224 0.128744 0.0995021
  v_2: 0.0657265 0.185878 0.0223869 0.140097
  v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

  b

[2018-09-16 12:13] aksnzhy commented on #142
@KaiHuangMO

I update the model output like this, you need to git clone the source code and re-build it:

Linear:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0

FM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0: 5.61937e-06 0.0212581 0.150338 0.222903
  v_1: 0.241989 0.0474224 0.128744 0.0995021
  v_2: 0.0657265 0.185878 0.0223869 0.140097
  v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

[2018-09-16 12:13] aksnzhy commented on #122
I update the model output like this, you need to git clone the source code and re-build it:

Linear:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0

FM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0: 5.61937e-06 0.0212581 0.150338 0.222903
  v_1: 0.241989 0.0474224 0.128744 0.0995021
  v_2: 0.0657265 0.185878 0.0223869 0.140097
  v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

  bias: 0
  i_

[2018-09-17 02:50] KaiHuangMO commented on #142
感谢！

[2018-09-17 04:51] #151 closed

[2018-09-17 04:53] aksnzhy commented on #148
@olddaos Hi, does this only happen in sklearn API or it also happen in CLI or the original Python API?

Thanks so much!

[2018-09-17 04:55] aksnzhy commented on #143
@boriszhang2017 这个是 ffm 的结果吗？我们和 libffm 的结果之前对比过应该是很相近的。你可以试试关掉 instance-wise normalization ？

[2018-09-17 04:56] #142 closed

[2018-09-17 04:57] aksnzhy commented on #140
@WinterFu We updated the model output:

Linear:

bias: 0
i_0: 0
i_1: 0
i_2: 0
i_3: 0

FM:

bias: 0
i_0: 0
i_1: 0
i_2: 0
i_3: 0
v_0: 5.61937e-06 0.0212581 0.150338 0.222903
v_1: 0.241989 0.0474224 0.128744 0.0995021
v_2: 0.0657265 0.185878 0.0223869 0.140097
v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

bias: 0
i_0: 0
i_1: 0
i_2: 0
i_3: 0
v_0_0: 5.61937e-06 0.0212581 0.150338 0.222903
v_0_1: 0.241

[2018-09-17 04:59] aksnzhy commented on #134
@ECNU109 Now, it is just used for binary classification.

[2018-09-17 05:00] aksnzhy commented on #131
@adrpino Hi, xLearn does not support sklearn-CV, but it has a CVTrian() API in Python and --cv option in command line. You can have a try.

[2018-09-17 06:15] olddaos commented on #148
Hi Chao and thank you for support!
This happens in sklearn, and I didn't test any other versions yet.
However,.the only good thing to know is that on my data this only happens
with SGD optimizer. If I use FTRL everything finishes just fine.
The dataset is dead simple and small- 80K rows and 32 columns

BTW if I use adam optimizer, it fails with memory error, so I believe the
memory issues are real

[2018-09-17 11:39] #126 closed

[2018-09-20 08:19] eric-Rstats opened #152 "ffm 尚不支持类似scikit-learn的API？"
hi,
  xlearn用起来确实很不错。不过目前看起来类似scikit-learn的写法，调用ffm的demo实际上还是类似文件读写的操作？这是由于目前只支持libffm格式的原因吗？然后未来是否python API这部分会考虑改良这种输出model.out，之后读入的形式，因为对jupyter notebook还不友好。
   然后看起来FMModel这块还有部分的methods会更新？

Thank you for your work! Best Regards!

Eric

[2018-09-20 12:57] aksnzhy commented on #152
@eric-Rstats Hi, 目前 xLearn 的数据操作都是通过中间文件来完成的。我最近在做 Python 对 DMatrix 的接口，未来就可以直接通过 Python API 操作数据，不需要经过中间文件。

[2018-09-20 14:32] eric-Rstats commented on #152
Thank you!也就是scikit这种写法，目前ffm还不太能用是吗？

[2018-09-20 22:41] qpcai1991 opened #153 "how to print training log for sklearn api fm?"
Hello,
I tried this sklearn api classification example. The fit() function doesn't print any log. How to set it to print training log? Thanks.
import numpy as np
import xlearn as xl
from sklearn.datasets import load_wine
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Load dataset
wine_data = load_wine()
X = wine_data['data']
y = (wine_data[

[2018-09-20 23:53] qpcai1991 commented on #153
It prints nothing on ipython notebook. But it can print on command line.

[2018-09-22 12:18] aksnzhy commented on #153
@qpcai1991 This is an issue we didn't solved yet. Now, xLearn print nothing on ipython because all the information come from the inside C++ code.

[2018-09-23 07:29] cowry5 opened #154 "方法，"

[2018-09-23 07:35] cowry5 opened #155 "FFM数据格式问题"
你好，我在转换为libffm的格式遇到一个问题。
首先我看了libffm的官方文档，是这样描述：
[code]
可以看到特征排序是是按行来排列的。一个field中的所有特征不是一起排序的。我在网上还看到更多另外一种格式，先把一个field排序完，接着排序下一个field。如下:
[code]
请问 xlearn 支持的是哪种格式呢？谢谢。

[2018-09-23 07:37] #154 closed

[2018-09-23 08:38] aksnzhy commented on #155
xLearn 中按照：  field：feature：value 这个格式来存储。具体的 feature 怎么来排序其实对机器学习算法结果并没有什么影响，feature 只是一个 id 标志而已，是 1 还是 2 其实都没有关系，很多人还会对 feature 进行随机 hash，得到的id数字完全是随机的。

[2018-09-23 09:31] cowry5 commented on #155
谢谢回复，这部分理解了。还要请问下，如果是数值特征的话，设置为一个field中，只设一个feature，只要与其它field中的feature都不同即可，是吗？

[2018-09-23 14:07] aksnzhy commented on #155
@cowry5 是这样的。不过也存在有的 field 下有多个数值特征这种情况。

[2018-09-25 05:52] carlosr29 commented on #96
Is there a way to install it on Windows? Thanks

[2018-09-25 21:18] orenov opened #156 "Transform data to binary format before training a model"
Hi!
Can you please help me to understand the package API.
Specifically, can I convert data from libsvm/libffm format to binary format before training a model?

Thanks in advance.

[2018-09-26 03:12] aksnzhy commented on #156
@orenov Hi, xLearn can convert libsvm/libffm to binary automatically. For example:

You have a TXT file called train.txt, and if you run ./xlearn_train ./train.txt

You can find a new file called train.txt.bin in current file path.

xLearn will check if current path has a .bin file automatically before training.

[2018-09-26 07:46] orenov commented on #156
Yes.
Hi @aksnzhy . Thanks for so quick response.

I'd like to transform data to binary format before training.
Like fully separate training phase and data preparation. Ok.

Can you please give me some intuition what can happen if I have no *.bin file at the moment, but then I start training in 4 separate runs with just different hyperparameters (with the same data file). Is *.bin file will be crea

[2018-09-26 10:03] aksnzhy commented on #156
I think you can set 4 separate data with different file name, and then xLearn will create 4 different binary data correctly.

[2018-09-26 10:05] aksnzhy commented on #156
And also, the xLearn cross-validation can split the big data file into 4 small file  automatically, if you need it.

[2018-09-26 15:07] ylkky opened #157 "Segmentation fault (core dumped) when convert text file to binary file"
I had moved some features and their value from my libfm file, then the process of "Convert text file to binary file"  failed with "Segmentation fault (core dumped)".
The original file is still work well.
How can I see where is the problem of my new file?

[2018-09-27 11:33] aksnzhy commented on #157
@ylkky I think this issue comes from the incorrect file format when changing the original libfm file. You can try to check the format carefully. For example, missing ' ' or '\n', etc.

[2018-09-27 11:50] ylkky commented on #157
I try to move these values from the original csv file, and convert it to libfm by a tool used before (and the convert tool works no error in the original csv file).
Now, I try to reduce the size of my data file. But the error occurs at the beginning( The size of bin file is still 0). And the first line of my libfm file is:
`1 54:2 172:0.0871 274:2.3 276:2 277:5 278:4.2 279:30 280:3 647:0.546296296

[2018-09-27 12:04] aksnzhy commented on #157
@ylkky Can you send you data (or a small copy) to my EMail: mctt90@gmail.com ? I can help you to check out the error.

[2018-09-27 14:31] aksnzhy commented on #157
@ylkky Hi, there are three lines of data in your file only has a label but not have the feature. I removed these lines and it works well.

[2018-09-28 08:29] xxllp opened #158 "criteo ctr data 训练 结果异常"
[------------] Time cost for reading problem: 676.08 (sec)
[ ACTION     ] Initialize model ...
[------------] Model size: 2.29 KB
[------------] Time cost for model initial: 0.00 (sec)
[ ACTION     ] Start to train ...
[ ACTION     ] Cross-validation: 1/5:
[------------] Epoch      Train log_loss       Test log_loss            Test AUC     Time cost                 (sec)
[   10%      ]     1

[2018-09-28 12:05] aksnzhy commented on #158
@xxllp 能看看你的数据大概长什么样么？你用一小部分训练看看会不会有问题？如果有问题你可以把数据发给我。

[2018-09-28 12:16] xxllp commented on #158
就是官方的数据，原始数据很大的。我觉得是不是因为有空格

[2018-09-28 12:20] xxllp commented on #158
试了下小的数据也不行。格式是csv 格式的

[2018-09-29 04:47] #157 closed

[2018-09-30 03:17] Simon-Liu622 commented on #24
Does xlearn support numpy now?

[2018-10-01 09:37] mohamed-ali commented on #50
@aksnzhy Thanks for the library.

 Is this fixed? It's actually a blocker, because we cannot use this tool to predict on data from an environment where the features are generated daily by user interactions. For example, imagine you train a model on one month worth of data, where the data contain a feature like, for instance, user-agent. If in the one month of data, hypothetically, we have only "ch

[2018-10-01 12:50] aksnzhy commented on #50
@mohamed-ali Thanks for your suggestion. I think that the easiest way to fix this issue by giving the unseen feature an 0 index in prediction. After that, I will update xLearn to support online learning that can solve this issue better. I will fix this issue these days.

[2018-10-01 13:03] mohamed-ali commented on #50
@aksnzhy Okay thanks! look forward to the fixed-version release :).

[2018-10-02 07:35] mohamed-ali commented on #50
@aksnzhy I would like a small clarification if you may. You said that a possible (easy) workaround would be to assign an 0 index to unseen features. By "index" are you referring to the field index (in the ffm format) or the features index or to something else?

The reasoning behind my question is that: if by a simple manipulation of the input data (by assigning a 0 index to unseen features when do

[2018-10-08 08:51] coderApes opened #160 "Dose FM support sgda?"
libfm support sgd and sgda train method, dose xlearn support sgda?

[2018-10-08 11:43] aksnzhy commented on #160
Sorry, FM cannot support sgda. It can support sgd, adagrad, and ftrl.

[2018-10-08 14:40] aksnzhy commented on #50
@mohamed-ali Hi, I solved this issue by just ignore the unseen feature in prediction task. You can have try. Thanks!

[2018-10-09 03:52] 5201314wq opened #161 "ｌｉｂffm format"
您好！
　我目前在做一个项目，其中有属性ｃｏｌｏｒ，在ｃｓｖ表中是以这样的格式存在的：
　　ｕｓｅｒid                  color
  =========    ======================
　　001            [红色，蓝色，粉色]
　　002            [黑色，绿色，橘黄色，粉色]
这样的具有有长达６万条，我现在是先将每条数据处理成multi_hot, 如下所示:
userid           color_红色　　color_蓝色 　color_粉色　 color_绿色   color_橘黄色    color_黑色
=======     ==========　==========   =========   =========  ===========  ==========
  001

[2018-10-10 08:02] xbcReal commented on #147
遇到同样的问题，训练的时候，训练文件设定为一个包含200w条数据的文件是可以训练的，但是预测的时候如果设定了一个预测5w条数据的文件的时候就会出现段错误。

[2018-10-10 08:19] xbcReal commented on #39
试过了ondisk选项，还是不行。

[2018-10-10 08:58] aksnzhy commented on #147
@xbcReal 最近刚解决这个问题，你从新git clone代码，然后build一遍就可以了。pip 上还没有更新。

[2018-10-10 08:59] aksnzhy commented on #39
@xbcReal 我这几天会处理一下这个问题，感谢反馈！

[2018-10-10 10:13] Songbo729066989 opened #162 "最新版本如何固定随机种子？"

[2018-10-10 11:47] aksnzhy commented on #162
@Songbo729066989 xLearn 里好像没有用的随机种子。每次运行结果的微弱差距是由于无锁多线程训练造成的，如果想要获得确定的结果，可以把多线程关掉，不过速度会变慢。

[2018-10-10 11:48] aksnzhy commented on #162
@Songbo729066989 参见 https://xlearn-doc-cn.readthedocs.io/en/latest/cli_api/index.html#lock-free

[2018-10-12 03:36] RochaC commented on #161
你这么拆成libsvm 形式肯定是等价的啊。相当于做了 One-hot。

[2018-10-13 08:18] medrifter opened #163 "python调用没问题，但通过crontab启动程序就会报错"
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_S_construct null not valid

[2018-10-13 18:58] atkm opened #164 "Error while following example_FFM_criteo.py"
The following code from ./demo/classification/scikit_learn_demo/example_FFM_criteo.py produces the error below. I am using Python 3.6.6 in a virtualenv. numpy==1.15.2, xlearn==0.32a1.

Code:
[code]

Output (truncated to 60 lines. The output is 84977 lines untruncated):
[code]

[2018-10-16 07:46] enerai opened #165 "On-disk option cannot work when setting the block as 20000"
I have a 50G dataset and 128G memory. During the binary file conversion process, the usage of memory is more than 128G. Therefore, I have to use the on-disk option. When I set the block size as 20000(MB), xlearn_train will be interrupted when "read problem." However, if I use the default setting (i.e., 500), it works fine (even though reading problem spends more than 1400 seconds). Would it be pos

[2018-10-16 08:13] enerai commented on #165
Even I set the block size as 1000, xlearn_train cannot work neither.

[2018-10-16 08:15] aksnzhy commented on #165
@enerai Thanks for your issue! I will address this issue these days and give you a response as soon as possible.

[2018-10-16 08:20] enerai commented on #165
I have tried to change the default setting in source code directly. However, it still failed. In htop, I notice that some of the processes' status become D before terminating. By the way, would it be possible to tell whether you meet the same issue when changing the setting?

[2018-10-16 13:57] aksnzhy commented on #165
@enerai I set the block size to 1000 and test it, and everything is good on my machine. Maybe I need to test it on a large dataset.

[2018-10-16 14:14] aksnzhy commented on #165
@enerai By the way, are you using the Python API, or using the CLI interface ?

[2018-10-16 16:11] atkm commented on #164
Ok. Thanks.

[2018-10-16 16:11] #164 closed

[2018-10-17 11:14] enerai commented on #165
I use the CLI interface in iPython.

[2018-10-17 11:17] enerai commented on #165
I will give you my detailed parameters later. Thanks!

[2018-10-18 08:18] yaoweijiao commented on #155
你好～同一个field中，只要feature不一样就行是么？

[2018-10-19 07:47] enerai commented on #165
My parameters contain following items: -s 1 -x auc -p adagrad -r 0.2 -k 16 -b 0.02 -e 20 --dis-es -nthread 20 --on-disk -block 10000

[2018-10-19 10:45] aksnzhy commented on #165
@enerai Can you check the model size generated by xLearn? Please make sure the model size + data buffer less than the capability of the memory of your machine.

[2018-10-19 11:07] enerai commented on #165
I use a server with 128GB memory. I think it is large enough for containing both the model file and the 10000MB buffer. I notice that even though I set the block size as 1000MB. The xlearn_train still be interrupted. Would it be possible to tell whether there are additional way for getting more error log, which might be helpful to find out the reason of the unexpected interruption.

[2018-10-21 14:18] aksnzhy commented on #165
@enerai Hi, I fixed this bug and you can clone the new code and re-build it.

Thank you so much for this issue!

[2018-10-22 02:24] enerai commented on #165
By looking into the source code, I notice that you use the "--on-disk" and "--disk" arguments together. Would it possible to tell which one is valid?

[2018-10-22 02:49] enerai opened #166 "Generate .bin file need a too large memory capacity than expected."
For example, a 50G dataset might correspond with a 80G bin file. If I have 128G memory, actually I cannot train the dataset, because during generating the .bin file, the required memory will excess more than 128G memory (50G+80G+other) and the process will be interrupted. Would it be possible to further optimize the .bin file generation to improve the utilization of memory, such as making out the

[2018-10-22 02:52] enerai opened #167 "Generating the .bin file requires much more memory than the expectation"
For example, a 50G dataset might correspond with a 80G bin file. If I have 128G memory, actually I cannot train the dataset, because during generating the .bin file, the required memory will excess more than 128G memory (50G+80G+other) and the process will be interrupted. Would it be possible to further optimize the .bin file generation to improve the utilization of memory, such as making out the

[2018-10-22 14:09] aksnzhy commented on #167
@enerai Yes, you are right. For speedup the file I/O, xLearn need more memory space to speedup the reading. I am considering if xLearn can read data file line by line, instead of reading the whole data into memory at the beginning.

[2018-10-22 16:10] #166 closed

[2018-10-22 16:12] enerai commented on #167
If xlearn can read data line by line, the availability of large dataset will be improved considerably.

[2018-10-22 16:28] aksnzhy commented on #165
Hi, Could you please tell me the code file and code line of the "--on-disk"
and "--disk" arguments? I think it is my mistake, thank you!

Enerai <notifications@github.com> 于2018年10月22日周一 上午10:39写道：

[2018-10-22 16:28] aksnzhy commented on #165
Did you use the Python environment? The python GIL may disable the
multi-thread training, and can you please try the CLI interface in bash
shell?

Enerai <notifications@github.com> 于2018年10月22日周一 上午10:58写道：

[2018-10-23 02:53] enerai commented on #165
https://github.com/aksnzhy/xlearn/commit/22815cc4328574efc223f27f6c3f3435a4455da9#diff-9b11254de3ebab8c78c1139926c5db6d
The "on-disk" argument is still in the code.

[2018-10-23 02:54] enerai commented on #165
I run xlearn_train in CLI rather than python environment.

[2018-10-23 06:06] vijinkp opened #168 "Segmentation fault while training large dataset"
Segmentation fault is thrown while training large file(around 2 GB of size) while using command line as well as python API.

[2018-10-23 12:16] aksnzhy commented on #167
@enerai I will fix this feature in this weekend. Thank you !

[2018-10-24 07:46] enerai commented on #165
Would it be possible to tell whether you meet the same problem? When use --disk -block 50000 options on a 20G dataset, the training process only works on one thread.

[2018-10-26 05:33] tuqc opened #169 "python调用次数多了报undefined symbol错误"
predict

  File "/home/imgrec/lookreco/src/main/python/ffm/xlearn_client.py", line 88, in predict_file
    ffm_model.predict(self.model_path, out_file_path)
  File "/home/imgrec/anaconda3/lib/python3.7/site-packages/xlearn/xlearn.py", line 235, in predict
    c_str(model_path), c_str(out_path)))
  File "/home/imgrec/anaconda3/lib/python3.7/site-packages/xlearn/base.py", line 48, in _check_call

[2018-10-26 07:12] tuqc commented on #169
Never mind.
Caused by resource exhausted.

[2018-10-26 07:12] #169 closed

[2018-10-27 16:16] windar427 commented on #55
I have the same problem, so how to close early-stopping, have any api in python?

[2018-10-29 04:41] aksnzhy commented on #167
@enerai Hi, I fix this problem this weekend. You can re-built it from the latest code and have a try! Thank you!

[2018-10-29 04:46] enerai commented on #167
Thanks for your hard work! I will try it today and make sure that everything works well.

[2018-10-29 04:56] enerai commented on #167
@aksnzhy following the install instruction shown in https://xlearn-doc.readthedocs.io/en/latest/install/index.html, I cannot obtain xlearn_train and xlearn_predict.

[2018-10-29 07:50] aksnzhy commented on #167
Hi, it is a mistake and you need to re-clone the code and build it. Make
sure the version you choose is 0.3.7

Enerai <notifications@github.com>于2018年10月29日 周一下午12:57写道：

[2018-10-29 07:51] aksnzhy commented on #167
I fix this mistake right now.

[2018-10-31 01:58] Muniuliuma commented on #167
你好，我重新下载源码编译，生成了libxlearn_api.so文件，替换了之前的版本，在运行的时候，打印出来的版本号是0.3.7应该是替换ok了，内存还是消耗完了，最后直接卡死了。我的数据文件是8G，本机内存8G。

[2018-10-31 05:11] enerai commented on #165
@aksnzhy I just try the --disk and -block parameters for xlearn0.3.7. I found that it cannot work anymore. The ERROR log is as follows:
[code]

[2018-10-31 05:13] enerai commented on #165
@aksnzhy  I just try the --disk and -block parameters for xlearn0.3.7. I found that it cannot work anymore. The ERROR log is as follows:

[code]

[2018-10-31 08:11] aksnzhy commented on #167
@Muniuliuma 数据问价 8G，内存也是 8G，这种情况是有可能把内存用完的。原因：数据经过解析之后不一定还是8G，因为还有一些辅助空间需要申请，比如模型的内存。除此之外，机器当前可用内存可能没有 8G，因为还有系统其他进程在消耗内存。所以一般建议还是要把内存预留足够一些。这个 issue 是更新之前，xLearn 需要实用 16G 的内存来处理 8G 数据，现在只需要 8G 左右就可以了。

[2018-10-31 08:36] aksnzhy commented on #165
@enerai It's very strange that I can use --disk and -block on my end. Can you try a small block size (e.g., -block 1000) to test it again? Because the block size will not slows down the training speed.

[2018-10-31 08:49] Muniuliuma commented on #167
那就是本机可用内存不能小于数据集的大小吗，转换成二进制文件的时候，能不能一批批的去读取数据

[2018-10-31 10:05] aksnzhy commented on #167
@Muniuliuma 现在就是一批一批去读数据。但是最终生成的二进制文件也可能比 8G 更大。比如文本文件里的一个 label “1” 就是一个 char，但是转成 int 后变成了 4个char，所以二进制文件可能更大。

[2018-10-31 10:06] aksnzhy commented on #167
@Muniuliuma 二进制的好处并不是节省内存，而是大大减少数据序列化的开销，这个比文件IO费时多了。

[2018-10-31 16:01] lackzn commented on #113
I have the same question: how to generate small_train.txt? I mean the original dataset provided by Criteo is not in this format. Thank you.

[2018-11-01 01:37] enerai commented on #165
@aksnzhy I will recompile the file and try it again with your parameters. Thanks!

[2018-11-01 01:55] enerai commented on #165
@aksnzhy I have tried it. I add the --disk parameter for run_example.sh, it can work. However, when I use my parameters, it cannot work. The following are my parameters:
`./xlearn_train $train_PATH -s 1 -v $val_PATH -x auc -p $opt -r $lr -k 16 -b $lambd -e 20 --dis-es -m $out_model_PATH -t $txt_model_PATH -nthread 40 --disk`

[2018-11-01 02:03] enerai commented on #165
@aksnzhy I think find out the reason of the problem. Because I use an empty file as the validation set.

[2018-11-01 03:07] enerai commented on #165
@aksnzhy When I use a large dataset (90G) with --disk and -block 10000, even though it shows use 40 threads, but in htop, it shows that only one thread with 100% usage. Would it be possible to tell how to find out why that happens?

[2018-11-01 05:42] Muniuliuma commented on #167
现在是分批读取的吗，那一批读取大小是多少，我8g的训练集，内存还是会爆掉，导致转化成二进制文件失败。我在用libffm的时候，它也会转化成二进制文件，但是他消耗内存2个g左右，并且转化很快。

[2018-11-01 06:03] etveritas opened #170 "Segmentation fault"
你好。为什么训练一个维度为(18959, 2972)的数据就会出现“Segmentation fault”。我的数据格式是按照文档要求来的。

[2018-11-01 07:04] BuyiYin commented on #149
我也遇到了这个问题。同样是在regression应用。
因为只能读取文本文件，所以我试图用txt模型中的权值来自己计算预测结果。
因为已经做好了数据预处理，所以我用no-norm取消instance-wise norm。之后发现虽然训练过程中输出的mae都很正常，但自己读取txt计算模型输出的预测结果是一个偏离label值的很大的值。
这个我没差出来是什么原因，貌似如果不用no-norm就是正常的。

附加请教一个问题，默认的norm使用的哪种norm方式？L1还是L2？

[2018-11-01 07:16] etveritas commented on #170
如果我只用那份数据，进行pandas.DataFrame.head()取出的前5行是可以的，但是多了就会出现这个错误。
这个是我的Python代码：
[code]
这个是所使用的数据集前100行，第一列为标签，后面列是特征：
[code]
麻烦你了~

[2018-11-01 08:56] aksnzhy commented on #170
@etveritas 你用的好像是 sklearn API，这个 API 现在已经不维护了。你可以试试原生的 python API，可以直接把文件作为输入。如果还是有问题，我帮你看看数据哪里有问题。

[2018-11-01 08:57] aksnzhy commented on #149
@BuyiYin 你在 predict 的时候也加上 no-norm 参数应该就可以了。

[2018-11-01 09:31] BuyiYin commented on #149
我predict没有做norm，训练和预测的归一化流程是保持一致的~
而且我不是用命令行的方式predict的，是直接读取的python API生成**txt模型文件**，然后自己写代码组合计算的预测值，所以也没有调用predict函数。我不确定是不是fm_model.predict函数里有其他相关的变换~

[2018-11-01 14:29] etveritas commented on #170
@aksnzhy 你好，我用原生API尝试了，我的数据集60多条时可以训练，再多了就会报错。应该不是硬件资源的问题，系统内存是96G的。我在ISSUE区里面看到了有相似的问题，但是经过尝试之后都不行。。。

[2018-11-02 03:04] aksnzhy commented on #170
@etveritas 你给我一份会报错的小数据吧，越小越好, 我帮你调试一下，一般这种情况应该都是数据格式出了问题。发到我的邮箱就可以：mctt90@gmail.com

[2018-11-02 04:31] etveritas commented on #170
@aksnzhy 数据集已经发送至您的邮箱。

[2018-11-02 23:42] enerai commented on #165
@aksnzhy，I can understand it. But when I am using the -disk parameter, it still have a loading process, showing read problem, not directly to train. In my understanding, the loading process in memory mode is used for converting txt data to bin, but in disk mode, need it to load for a long period?, which is similar to the time to convert txt to bin in a large dataset.

[2018-11-03 03:45] aksnzhy commented on #165
@enerai The loading process at the beginning is to scan the dataset, and figure out the model size, feature size, and field size, etc. It is used for initialize. In in-memory training, xLearn will store the data in memory and after scanning, it will not read them again. While, for on-disk training, we cannot maintain all the data in memory. So after the first scanning, xLearn also need to re-load

[2018-11-03 03:51] aksnzhy commented on #168
Can you test it on a small dataset and see if it will crash? If so, you can send me a copy of this dataset and I will help you to checkout the error.

[2018-11-05 05:50] etveritas commented on #170
@aksnzhy 老哥，我这数据集还有救吗。。。

[2018-11-05 11:03] aksnzhy commented on #170
@etveritas 不好意思，这两天有点忙哈，尽快帮你调一下。

[2018-11-07 10:14] BuyiYin commented on #55
![2018-11-07 5 47 13](https://user-images.githubusercontent.com/33422024/48124898-720b4080-e2b8-11e8-9435-26597b388519.png)
![2018-11-07 5 47 01](https://user-images.githubusercontent.com/33422024/48124904-76375e00-e2b8-11e8-8a78-74f86c173b65.png)
你好，我把stop_window设10，metric: mae 跑完 200 epoch后保存了 epoch 1 的结果，能帮忙看看这个是什么个原因吗？

[2018-11-07 13:06] vijinkp commented on #168
It works like a charm in smaller dataset.

[2018-11-09 16:05] dheepanr opened #171 "Early Stopping in Regression Tasks Incorrect?"
Looking at the logs of some of my regression models it looks like the early stopping is always set to maximize even in the case of RMSE error which should be minimized.

<img width="841" alt="screen shot 2018-11-09 at 11 02 48 am" src="https://user-images.githubusercontent.com/9449128/48273607-56ff1480-e40f-11e8-9300-6bd631878ecb.png">

[2018-11-10 13:03] aksnzhy commented on #171
@dheepanr Hi, thanks for this issue. I have fixed this bug in the latest version 0.3.8 and you can clone the latest code and re-build it. Thank you so much!

[2018-11-16 05:41] tuzhe0210 opened #172 "编译成功，执行报错"
编译成功，执行的时候报如下错误
terminate called after throwing an instance of 'std::system_error'
  what():  Enable multithreading to use std::thread: Operation not permitted
是机器的问题吗？

[2018-11-16 08:40] aksnzhy commented on #172
这个是应该是某些版本gcc在cmake上的一个bug，建议升级一下gcc或者用clang试试。

[2018-11-16 08:50] aksnzhy opened #173 "Please post issue by English"
Hi, everyone!

 I'm the author of xLearn. Here I hope that everyone can post your issue by English so that the other people can get helped from it. Don't worry about the language mistake because I'm not a native English speaker too. I will try my best to solve your issues.

    Thank you so much !

[2018-11-16 14:09] deepakgupta1 commented on #74
I have the same problem, I have tried on kaggle kernels, google colab, it's failing everywhere. What to do?

[2018-11-19 03:04] rookie77 opened #174 "xlearn always be killed"
hi,
my train data  size is  around 27G, and my validation data is 15G, after the transformation the train .bin is 39G and val.bin is 21G. but the job always be killed, is that normal? can you help me to fix this?
my device info is 8cores 64g+200G 。centerOs6

[2018-11-19 03:04] rookie77 commented on #174
feature num is around 129w~~

[2018-11-19 03:50] tuzhe0210 commented on #172
thank you

[2018-11-19 03:51] tuzhe0210 commented on #172
thank you

[2018-11-19 07:31] aksnzhy commented on #174
@rookie77 Hi, can you please share your code related with the xLearn part? I will try to help you figure out the problem.

[2018-11-19 07:36] rookie77 commented on #174
thanks for the reply~ here is my code, it's very simple
######
 lr_model = xl.create_linear()
 #    lr_model.setOnDisk()
 lr_model.setTXTModel(args.outTxtModel)
 lr_model.setTrain(args.trainData)
print("==========")
 lr_model.setValidate(args.testData)

 lr_model.setTest(args.testData)

  param = {'task': 'binary', 'lr': args.lr, 'lambda': args.Lambda, 'metric': args.metric, 'epoch':10}

lr_model.

[2018-11-19 07:40] rookie77 commented on #174
lr= 0.002, Lambda=0.02 metric ='auc'
one more question: will xlearn shuffle the train data automaticly?

[2018-11-20 10:02] aksnzhy commented on #174
@rookie77 Hi, I looks like that the memory cost is beyond the capability of the local machine.

(39 + 21 + some other cost) > 64g memory (maybe the real memory can be used in xLearn is less than 64g).

You can try this:

Divide fit() and predict() into separated python process.

or

Use on-disk training for this task.

[2018-11-20 10:21] mohamed-ali opened #175 "Warm start in xlearn"
Is it possible to run xlearn model with the results of a previous training iteration, i.e intialize the model with parameters of last training results?

[2018-11-20 14:29] aksnzhy commented on #175
@mohamed-ali I think it is not very hard to add this feature to xLearn, and I can do this these days.

[2018-11-20 14:53] mohamed-ali commented on #175
@aksnzhy I think having warm-start can enable incremental learning, which might be better then the `ondisk` training idea. In fact, it seems that if one has a data set for instance of 50GB, and trains the model by chunks of 10Gb or so (with warm-start) it would be faster than training with the whole dataset of 50GB at once.

For example, I tried training a model on a machine that has 32GB of memor

[2018-11-21 01:28] sunjiaxin111 opened #176 "能否导出特征对应的embedding向量？"
我想问下这个库训练完FM或FFM后，能导出特征对应的embedding向量么

[2018-11-21 05:00] aksnzhy commented on #176
可以的，详细信息可以参考文档。

[2018-11-21 07:12] etveritas commented on #170
@aksnzhy hello little old elder brother, may I train this data set with xlearn now...

[2018-11-21 15:21] aksnzhy commented on #170
@etveritas 我发现你的数据一个基本的问题，每一行feature数据的个数都不一样：

row size: 303
i: 56
row size: 636
i: 57
row size: 359
i: 58
row size: 591
i: 59
row size: 317
i: 60
row size: 418
i: 61
row size: 125
i: 62
row size: 251
i: 63
row size: 367
i: 64
row size: 428
i: 65
row size: 387
i: 66
row size: 731
i: 67
row size: 372
i: 68

CSV 数据文件首先是要保证每一行数据个数是相等的。

[2018-11-21 21:06] AstonnMartin opened #178 "Can xLearn output de-composed training/testing matrix?"
I just started to play with xLearn and I can get correct text model and prediction output.
My question is, for my training data matrix R [m * n], which means a m-row n-column sparse input matrix, can I literally generate two de-composed matrices? E.g. if I set -k 4 (same k in xLearn), can I get R = Q * P, where Q's dimension is m * 5 and P is 5 * n?

Thanks for any input.

[2018-11-22 07:13] aksnzhy commented on #178
@AstonnMartin Sorry, xLearn cannot generate any training/test matrix. Now it can only read data from file  and it doesn't support users to manipulate the data.

[2018-11-22 08:42] mohamed-ali opened #179 "ondisk training slower with bigger block_size"
I am training an FFM model on a 5.6GB of data on a machine with 32GB of RAM. Here's the code snippet:

[code]

* When training on memory, it finishes in 1299.12 sec
* when training on disk with block_size = 1000, it finishes in 5252.52 sec
* when training on disk with block_size = 5000, it finishes in 8017.28 sec.

This seems counter intuitive to me, because by increasing the block_size, I was exp

[2018-11-22 10:08] aksnzhy commented on #179
@mohamed-ali This result is very strange. Actually, the block_size should not impact the speed of on-disk training (neither faster nor slower).

[2018-11-22 13:49] aksnzhy commented on #175
@mohamed-ali Please clone the latest 0.4.0 version code and re-build it.

Thank you!

[2018-11-24 13:07] etveritas commented on #170
@aksnzhy 如果每一行数据列数不相同，我用Python的pandas读取时会报错，但是并没有，好奇怪。另外，想问一下，你用什么读取的。

[2018-11-24 13:10] etveritas commented on #170
@aksnzhy 这个问题肯定是我数据问题，我自己再找找吧。麻烦你了。

[2018-11-26 03:51] xhygh commented on #104
In the operating environment：

terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Aborted (core dumped)

when i used xlearn in a container.

code:
    python run_demo_ctr.py

[2018-11-26 13:32] sunjiaxin111 commented on #176
请问这里的setTXTModel方法怎么不管用？

[2018-11-26 14:16] aksnzhy commented on #176
@sunjiaxin111 , 您好，方便把代码贴上来吗，我帮你看看。

[2018-11-27 01:49] sunjiaxin111 commented on #176
import xlearn as xl

# Training task
fm_model = xl.create_fm()  # Use factorization machine
path = '../data/avazu/'
fm_model.setTrain(path + 'small_train_fm.csv')  # Training data

# param:
#  0. Binary classification task
#  1. learning rate: 0.2
#  2. lambda: 0.002
#  3. metric: accuracy
param = {'task': 'binary', 'lr': 0.2, 'lambda': 0.002, 'metric': 'auc'}

# 训练得到模型
fm_model.fit(param, "model.

[2018-11-27 01:50] sunjiaxin111 commented on #176
‘’
import xlearn as xl

# Training task
fm_model = xl.create_fm()  # Use factorization machine
path = '../data/avazu/'
fm_model.setTrain(path + 'small_train_fm.csv')  # Training data

# param:
#  0. Binary classification task
#  1. learning rate: 0.2
#  2. lambda: 0.002
#  3. metric: accuracy
param = {'task': 'binary', 'lr': 0.2, 'lambda': 0.002, 'metric': 'auc'}

# 训练得到模型
fm_model.fit(param, "mod

[2018-11-27 01:50] sunjiaxin111 commented on #176
`import xlearn as xl

# Training task
fm_model = xl.create_fm()  # Use factorization machine
path = '../data/avazu/'
fm_model.setTrain(path + 'small_train_fm.csv')  # Training data

# param:
#  0. Binary classification task
#  1. learning rate: 0.2
#  2. lambda: 0.002
#  3. metric: accuracy
param = {'task': 'binary', 'lr': 0.2, 'lambda': 0.002, 'metric': 'auc'}

# 训练得到模型
fm_model.fit(param, "model

[2018-11-27 01:54] sunjiaxin111 commented on #176
![image](https://user-images.githubusercontent.com/13600388/49053241-5990a500-f22a-11e8-9dad-846604adbdaf.png)

[2018-11-27 01:55] aksnzhy commented on #176
@sunjiaxin111 我看了你的代码，setTXTModel() 需要放在 fit API 之前，fit 函数会把 TXT 模型输出到对应路径。

[2018-11-27 01:55] sunjiaxin111 commented on #176
@aksnzhy 我试试

[2018-11-27 01:59] sunjiaxin111 commented on #176
@aksnzhy 可以了，不过你们的文档里写的还是容易造成误解的
![image](https://user-images.githubusercontent.com/13600388/49053433-1420a780-f22b-11e8-965a-463d9674eaed.png)

[2018-11-27 02:00] aksnzhy commented on #176
@sunjiaxin111 谢谢，我去把这里改一下。

[2018-11-27 02:01] #176 closed

[2018-11-29 07:44] jiadiwu opened #180 "Is there a version warpped by java or a Maven project ? sorry, i am a fresh man"

[2018-11-29 12:33] GLmontanari opened #181 "can't import xlearn - python3"
Dear all,
I know this is a very common issue of xlearn (and its users, like me!) but i really can't cope with the following:
I tried to install xlearn through `pip` and then check the installation as suggested in the very well-explained doc here https://xlearn-doc.readthedocs.io/en/latest/install/index.html
but received the following message
![x_issue](https://user-images.githubusercontent.com/436

[2018-11-29 15:00] aksnzhy commented on #181
@GLmontanari For python3, you need to install xlearn by using

`sudo pip3 install xlearn`

If it doesn't work, please try to clone the source code and use:

`sudo build.sh`

[2018-11-29 15:02] aksnzhy commented on #180
@jiadiwu Sorry, xLearn can only support C++ and Python for now. We deeply hope someone can contribute the Java package for xLearn.

[2018-11-29 20:00] ajnisbet commented on #171
I can confirm this is fixed in 0.4.0. Thanks!

[2018-12-03 07:45] GLmontanari commented on #181
Ok, I cloned the repository and tried build it as suggested in the installation guide by typing
[code]
which is equivalent to the first half of build.sh .
`Cmake` was successful but not `make`. Here is the messages I got from it:
From Cmake:
![xlearn1](https://user-images.githubusercontent.com/43607219/49359799-84ba3f00-f6d7-11e8-9575-03176ad75b9a.PNG)
From make:
![xlearn2](https://user-images.git

[2018-12-03 09:15] GLmontanari commented on #181
gcc is version 7.3.0

[2018-12-07 12:11] ymkigeg opened #183 "训练好的二进制模型文件，如何转化成文本文件呢？反过来呢？"

[2018-12-07 15:43] aksnzhy commented on #183
@ymkigeg 二进制文件和文本文件不能直接相互转化，都是通过 xLearn 内部的 API 生成的，具体请参见文档。谢谢～

[2018-12-08 07:00] ymkigeg commented on #183
明白，所以最好的办法是 训练前调用 setTXTModel，使得二进制文件和文本文件都生成了，这样两个都能用

[2018-12-08 09:42] ymkigeg opened #184 "Segmentation fault while training FFM, but FM is work"
First, I’m sorry about to post issue in chinese in last issue.

for this issue, I have transfer my data to libffm format，
and traindata is 730M, validatedata is 290M
my device info: 16cores + 64GB memory + 500G ssd

Thank you!

my log:

[------------] xLearn uses 4 threads for training task.
[ ACTION     ] Read Problem ...
[------------] First check if the text file has been already converted to b

[2018-12-08 10:04] ymkigeg commented on #184
when I set k=10，there is no problem any more
above problem exists when k=50

[2018-12-08 15:01] aksnzhy commented on #184
@ymkigeg Can you try to set k = 52 ? I just want to confirm the SSE instruction works well.

[2018-12-08 16:48] aksnzhy commented on #183
对的 是这样的

[2018-12-08 17:28] DevHaufior opened #185 "does the race condition exist when update the parameters of model?"
https://github.com/aksnzhy/xlearn/blob/595902cd1bea4b5700ab45dbdcabb23ac9d97ee5/src/base/thread_pool.h#L102

Hello, I doubt that there exists a race condition when more than one thread deal rows to update the parameters at the some time.Maybe I am wrong with this, since I am a fresh C++ user.

[2018-12-09 04:56] aksnzhy commented on #185
@DevHaufior Hi, xLearn uses lock-free learning, which doesn't use lock when updating model parameters. Is is also called ``Hogwild!`` algorithm, which can speedup training process without accuracy lose when data is sparse.

[2018-12-09 07:31] 1148569762 commented on #67
--------------------------------------------------------------------
The CXX compiler identification is GNU 4.4.6,  g++ 4.4.6 doesn't support c++11.
you can : mv /usr/bin/c++ /usr/bin/c++_bk
      then: ln  -s /usr/bin/g++  /usr/bin/c++

[2018-12-09 07:35] DevHaufior commented on #185
I see,em...m，it looks like a little bit violent.

[2018-12-09 07:35] #185 closed

[2018-12-09 08:54] sunjiaxin111 opened #186 "设置验证集训练的结果和不设置验证集训练的结果不一样"
当我先用验证集测出最优轮数，再不用验证集直接迭代这个轮数，两者导出的model.txt文件不一致；

[2018-12-09 11:37] aksnzhy commented on #186
@sunjiaxin111 xLearn 可能会在不同的训练过程中有一些微小的不一致（nondeterministic），这是由于 Lock-free 训练导致的。你需要检测一些这个不一致只是 weight 数值上的不一致，还是模型 accuracy 差了很多。

[2018-12-09 11:41] sunjiaxin111 commented on #186
@aksnzhy thanks

[2018-12-10 02:11] #183 closed

[2018-12-10 10:36] sunjiaxin111 opened #187 "我在训练时用k=2,4,8,16时，训练效果怎么是一样的？"
如题

[2018-12-10 11:57] payne4handsome opened #188 "如何在其他开发语言中使用Xlearn, 比较java"
模型训练完了以后我用setTXTModel保存了模型的参数，那么我在其他开发语言中，用fm的计算公式是可以得到最后的输出的，但是训练模型时候xlearn把训练数据归一化了，这样我在其他开发语言中就没有使用模型的参数得到模型的输出了。因为不知道归一化的方式。请问这种问题有没有解决方案？还是只能在顺利模型的不使用归一化？

[2018-12-11 03:24] damoyang opened #189 "posix_memalign abort error"
on deploy in multi linux machines, some of machines get error while some successful.
the Model calls initial function,
      int ret = posix_memalign(
                (void**)&param_v_,
                kAlignByte,
                param_num_v_ * sizeof(real_t));
      CHECK_EQ(ret, 0);
i guess the posix_memalign is where the error comes from.
is poxis_memalign incompatible with some linux system？？

[2018-12-11 03:51] aksnzhy commented on #188
@payne4handsome xLearn can save the TXT model to disk file, and users can use any programming language to load the TXT data and use it in any way.

[2018-12-11 03:52] aksnzhy commented on #189
@damoyang Hi, can you share me the error message ? Thanks!

[2018-12-11 03:53] aksnzhy commented on #187
@sunjiaxin111 Can you share me your code ? I will try to find where is going wrong.

[2018-12-11 04:00] sunjiaxin111 commented on #187
@aksnzhy
![image](https://user-images.githubusercontent.com/13600388/49777659-5e7e4a00-fd3c-11e8-99df-c2c65b56f4e6.png)
当我修改k值时，效果不变

[2018-12-11 05:09] aksnzhy commented on #187
@sunjiaxin111  我在我这里测试是没有问题，你可以看看设置不同的 k 会不会对模型大小产生影响，如果大小改变了，说明 k 起了做作用。有可能对于你的数据，这些 k 值对结果影响不大。

[code]

[2018-12-11 06:15] payne4handsome commented on #188
@aksnzhy  No, you not understand me. If I train a model with setting option instance-wise normalization(default), so online application must normalize the input. Though I can use model parameters by TXT model in java, but I don't know how to normalize the input in java . Do you know what I mean? I have tested it. I can get right result when I train model with option --no-norm in python and then us

[2018-12-11 06:53] sunjiaxin111 commented on #187
@aksnzhy 可能是K值影响不大

[2018-12-12 04:32] aksnzhy commented on #188
@payne4handsome I see. This is a problem. For now, I think the only way to solve this problem is to implement instance-wise normal in Java.

For instance-wise normal, given the following example:

`0:0.1 1:0.2 3:0.3 4:0.5`

The norm is equal to:

`norm = sqrt(0.1*0.1 + 0.2*0.2 + 0.3*0.3 + 0.4*0.4)`

Then we normalize the input data:

`0:0.1/norm 1:0.2/norm 2:0.3/norm 4:0.5/norm`

[2018-12-12 06:38] #187 closed

[2018-12-12 06:49] payne4handsome commented on #188
@aksnzhy oh, thanks. I did as you said. I got a right result in java. I think I got a mistake. I think instance-wise normal mentioned in [official document](https://xlearn-doc.readthedocs.io/en/latest/python_api/index.html#instance-wise-normalization) is just like Min-max normalization or 0-score standardization.
+ Min-max normalization
![image](https://user-images.githubusercontent.com/28085731/4

[2018-12-12 17:54] damoyang commented on #189
sorry late for repy. And i found the reason may be the model is too large and some machines lack  memory.

[2018-12-13 02:19] #186 closed

[2018-12-13 07:00] sunjiaxin111 opened #191 "训练完FFM模型后，在预测时，如果测试集中出现了在训练集中没出现的index,怎么办？"
如题，此时模型是怎么预测的？

[2018-12-13 07:02] sunjiaxin111 commented on #191
![image](https://user-images.githubusercontent.com/13600388/49921236-e2286a00-fee7-11e8-8a0e-45076ce37821.png)
比如这里的index_1在训练集中没有出现过，而在测试集中出现了，那么在预测时，index_1无法在FFM模型中找到对应的隐向量，然后模型是怎么做的?默认值？

[2018-12-13 07:16] aksnzhy commented on #191
@sunjiaxin111 目前 xLearn 的做法是自动忽略掉在训练集没有出现的 feature .

[2018-12-13 07:20] sunjiaxin111 commented on #191
@aksnzhy 谢谢

[2018-12-13 07:20] #191 closed

[2018-12-19 02:57] shiweixxx commented on #170
算了，试了好久，直接用tensorflow写了一个fm，这个看着很诱人，就是出问题，用sklearn.datasets.dump_svmlight_file转下还有问题，有没有人弄好这个问题的

[2018-12-19 04:17] aksnzhy commented on #170
@shiweixxx 你可以把你的数据发给我我帮你看看是哪里出了问题。一般都是数据格式的问题。

[2018-12-20 02:20] LMdeLiangMi opened #192 "What does the output mean in 'reg' task?"
v_0_0 is the latent vector, but what is i_0?

[2018-12-21 05:42] aksnzhy commented on #192
It is the first weight of the linear term.

[2018-12-24 02:43] HuXiLiFeng opened #193 "Can you provide a guide of Parameter Tuning"
Hi， in xlearn, how can i turn the parameters in a particular order， such as first parameter "lr", second parameter "lambda", third parameter "k", can you give me some advice

[2018-12-24 09:17] aksnzhy commented on #193
@HuXiLiFeng Thanks for your suggestion, I will write a simple guide in document these days!

[2018-12-25 14:18] CoolIceFire opened #194 "terminate called after throwing an instance of 'std::logic_error'"
在docker里安装了xlearn后，跑demo，直接报错。请问这是什么情况呢？
----------------------------------------------------------------------------------------------
           _
          | |
     __  _| |     ___  __ _ _ __ _ __
     \ \/ / |    / _ \/ _` | '__| '_ \

     /_/\_\_____/\___|\__,_|_|  |_| |_|

        xLearn   -- 0.40 Version --
----------------------------------------------------------------------------------

[2018-12-26 11:45] aksnzhy commented on #194
@CoolIceFire 请问你运行的是哪一个demo。这个原因一般都是运行过程中出现了野指针之类的错误，但是按理说 demo 应该不会出错的。你能提供更多的错误信息吗？

[2018-12-26 12:30] CoolIceFire commented on #194
我把代码clone到container里后，运行每一个demo，都是会报错
"terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Aborted (core dumped)"

[2018-12-26 12:36] CoolIceFire commented on #194
又重现了一下，用的docker镜像是registry.cn-hangzhou.aliyuncs.com/xdl/xdl:ubuntu-cpu-tf1.12

[2018-12-26 14:17] zslcodestorehouse opened #195 "I am looking forward to the Windows version of xlearn. Is there a general progress or how long will it be available?"
Maybe a rough time will make the person waiting more comfortable.Thank you very much!!

[2018-12-26 17:46] suresh-chinta opened #196 "Binary file (./small_train.txt.bin) NOT found. Convert text file to binary file."
Hi,

I have challenges in installing xlearn, when I try the command prompt option. I get the below error. When I import as python package, there is no error in importing, but I do not see hello, SetTrain, SetValid methods in the imported package.

----------------------------------------------------------------------------------------------
           _
          | |
     __  _| |     ___  __ _ _

[2018-12-27 05:12] aksnzhy commented on #195
@zslcodestorehouse Hi, thanks for you support! I suggest that you can try xlearn on Linux because the supporting of SIMD instruction in Windows is not so good. So we may not attend to migrate xlearn to Windows in the near future.

[2018-12-27 05:16] zslcodestorehouse commented on #195
Okay,I'll try. thank you for your reply.

[2018-12-27 05:16] aksnzhy commented on #196
@suresh-chinta Hi, can you show me your command line and python code? Thank you!

[2018-12-27 09:54] HuXiLiFeng opened #197 "three kinds of label VS. hyper parameter "task" binary"
Hi，i use a data which has three kinds of labels,such as 0,1,2, In xlearn, the hyper parameter “task” only can be "reg" or "binary", i choose “binary” and run the cod, it generates result as usual。 Why i use a dataset with three kinds of label and choose “binary”，there are no errors？ Are the final result reliable?

[2018-12-27 10:00] johnwanggithub commented on #63
@HuangZhanPeng 请问后来 'module' object has no attribute 'create_ffm' 这个问题怎么解决的，我也遇到了同样的问题，谢谢。

[2018-12-27 12:06] johnwanggithub opened #198 "XLearnLibraryNotFound: Cannot find xlearn Library in the candidate path"
hi I met following problems when I install the xlearn on centos,  could pls have a look at on this? thanks in advance. @aksnzhy

-- Configuring done
-- Generating done
-- Build files have been written to: /root/xlearn/xlearn-master/build
[  1%] Building CXX object gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
/tmp/ccSQqXA3.s: Assembler messages:
/tmp/ccSQqXA3.s:7038: Error: no such instruction: `v

[2018-12-27 12:14] aksnzhy commented on #197
Hi, Thank you .
For now, xLearn can only solve the binary classification (0 or 1), if you have 0, 1, 2, xLearn will treat both 1 & 2 as 1. For multi-classificaiton problem , you can choose the package like xgboost and lightgbm.

[2018-12-27 12:20] aksnzhy commented on #63
@johnwanggithub 你能把 code 放上来吗，我帮你 check 一下。

[2018-12-27 21:26] JasonZhu1313 opened #199 "How can I get the loss in my program."
I am now using automatic manner to search the best combination of the hyperparameters. How can I get the loss of the model in my program, I think method like cv() and predict() will not return the loss value?

[2018-12-28 07:51] HuangZhanPeng commented on #63
@johnwanggithub 我删除了.pyc文件后就可以了

[2018-12-29 17:09] JasonChu1313 commented on #199
Thanks!

[2018-12-30 12:21] matachuann opened #200 "Data format for regression. I see the demo for predicting the house price. The input txt file seems not to be the libffm format. I use some numeric features in my local experiment using another dataset, the train and val rmse loss are always nan"

[2019-01-02 11:47] johnwanggithub opened #201 "pip3 install xlearn failed"
hi there,

when I tried to install xlearn on centos with pip3, it doesn't work.do you know why? thanks a lot.

Collecting xlearn
  Using cached https://files.pythonhosted.org/packages/ab/1b/9ad0093cac05d6f95d3d768bc855804b18723c72120ce45cd930bd303587/xlearn-0.40a1.tar.gz
Building wheels for collected packages: xlearn
  Running setup.py bdist_wheel for xlearn ... error
  Complete output from comman

[2019-01-02 20:02] sprillo opened #202 "Is xlearn actually faster than libffm?"
**Concrete question**: What are the details for reproducing the execution time comparisons below?
![speed](https://user-images.githubusercontent.com/10426884/50607452-01436780-0ea8-11e9-9717-b8a646f4d0a6.png)
As far as I could tell, the details are not provided.

**Reason for the question**: I have been playing with xlearn on the [Criteo Display Advertising Challenge](https://www.kaggle.com/c/crit

[2019-01-02 21:44] AstonnMartin opened #203 "centos misses some lib for xlearn?"
When I tried to run xlearn on my linux machine, I got the following running error:

./xlearn_train small_train.txt -s 1 -t model.txt
----------------------------------------------------------------------------------------------
           _
          | |
     __  _| |     ___  __ _ _ __ _ __
     \ \/ / |    / _ \/ _` | '__| '_ \

     /_/\_\_____/\___|\__,_|_|  |_| |_|

        xLearn   -- 0.40 V

[2019-01-02 21:53] AstonnMartin commented on #178
Hi Chao,

Happy new year. Thank you so much for your update. Now I have another
issue, I reported as #203 on the board, that I cannot run xlearn on centos
machine. Each time I run, either in python or with binary, I got abort from
"binary conversion step".

./xlearn_train small_train.txt -s 1 -t model.txt

*-------------------------------------------------------------------------------------------

[2019-01-02 22:31] AstonnMartin commented on #203
False alarm. I complied using "sudo ./build.sh". And the sud-dir build is then owned by root. So the process died because of the writing permission.

Now the question is: do we have to run "sudo ./build.sh"? Or ". ./build.sh" will just work fine?

[2019-01-02 22:31] #178 closed

[2019-01-03 23:06] rybickibartek opened #204 "Problem with prediction model"
Hi,

I built FFM model, CV looks quite ok, loss also. So I decided to make a prediction.
Results are much worse than it is declared in CV - please notice that as a test set I choose train data.

All the predictions have more or less the same value, what looks wired. Target does not look like that.
'-0.386191
-0.385785
-0.385787
-0.385689
-0.385947
-0.385713
-0.386015
-0.385887'

What might be the

[2019-01-04 08:05] aksnzhy commented on #200
@matachuann The data used in the house price prediction is CSR format. For now, xLearn can support csr, libsvm, and libffm data format.

[2019-01-04 08:07] aksnzhy commented on #201
@johnwanggithub
`subprocess.CalledProcessError: Command '['make', '-j4']' returned non-zero exit status 2.`

It seems that you machine cannot support C++ compiler. Can you check it?

[2019-01-04 08:11] aksnzhy commented on #204
@rybickibartek  On default, xLearn will use normalization for both training and prediction tasks.
Can you try to train a best model by treating the test_data as validation, and then predict it on the test data, and compare the hyper-parameter tuned in CV?

[2019-01-04 08:34] johnwanggithub commented on #201
thanks a lot for reply.

my machine env is :
CentOS release 6.7 (Final)

g++ --version
g++ (GCC) 6.4.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

gcc --version
gcc (GCC) 6.4.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free so

[2019-01-04 17:38] rybickibartek commented on #204
@aksnzhy I did what you told me but the result is more or less the same
#Code
import xlearn as xl

ffm_model = xl.create_ffm()
ffm_model.setTrain("./train_ffm.txt")
ffm_model.setValidate("./valid_ffm.txt") # here the same file
ffm_model.setTest("./valid_ffm.txt") # here the same file

param = {'task': 'reg', 'lr': 0.001, 'lambda': 0.0002, 'k': 4, 'fold': 3}

ffm_model.fit(param, "./model.out")
ffm

[2019-01-04 18:48] rybickibartek commented on #204
I try to normalize feature dataframe by PCA with whitening, but I still do NOT invoke disableNorm().
Now I try to make a prediction on train and valid data.

My observations below are strange. It looks that there is some problem with MSE.
I do double check. Ground truth and target in data which are used to train FFM are the same. In the case of validation data there is also no mistake.

To compute

[2019-01-04 19:03] rybickibartek commented on #204
I attach prefixes of both train and valid files (after PCA + whitening). When I do train and predict only on the below data all problems described above also occur.

Prefix of my train_ffm.txt file:
-0.8202825999999999 0:0:0.3117789414565015 1:1:-0.5652288517733643 2:2:-0.04554901098592678 3:3:-0.9175931866344247
0.39291325 0:0:-0.22510521313928353 1:1:0.00425873477077314 2:2:-0.4469051024042328 3

[2019-01-10 05:34] #152 closed

[2019-01-10 08:32] cplog opened #206 "Return trainint result to Python"
Will we have a function to return the training result(mse/RMSD) back to Python soon or later?
Also, will Distributed Learning documentation be available too?
Thanks in advanced

[2019-01-10 12:20] aksnzhy commented on #206
@cplog I'm working on both of these two terms. I think the first feature will be released in the near feature.

[2019-01-14 10:40] BBBBBigRiceRoll commented on #204
I just have the same problem with you. Have you solved it now? And how you handled it?
Thank you!

[2019-01-14 18:42] rybickibartek commented on #204
Good to know that someone has the same problem as me and I not alone ;-)
No I didn't solve it.

[2019-01-16 07:51] levylll opened #207 "All predict posts have the same order"
I concat user feature, post feature, impression and read data for training. Then, I concat all user feature   with all post feature for predict. But, at last, everyone's recommend post lists are in the same order.....So, what happend??

[2019-01-16 10:15] aksnzhy commented on #207
@levylll Hi, have you ever try to use any other method and observe the result? I don't know that how you process the feature actually so I cannot give you a response what actually happen in your task. Maybe you can share your code here?

[2019-01-18 02:05] payne4handsome opened #208 "Why is xlearn CPU utilization so low"
I used 48 cores cpu and 90g memory to train by train, but why cpu utilization so low? The details show below
![image](https://user-images.githubusercontent.com/28085731/51360848-54542600-1b08-11e9-85a0-c3ba58bd4336.png)
![image](https://user-images.githubusercontent.com/28085731/51360866-62a24200-1b08-11e9-9b01-34d88876e79c.png)

[2019-01-20 12:15] aksnzhy commented on #208
@payne4handsome Hi, can you show your code here? Which way you choose to use xLearn, the cmd line or Python API?

[2019-01-21 01:48] sambling commented on #71
Is this still the case? I used the Cygwin installation instructions and used the pypi source file to install and am getting the same error.

[2019-01-21 02:33] payne4handsome commented on #208
I used cmd line. Cmd are as follows:
[code]

[2019-01-21 02:54] payne4handsome opened #210 "Xlearn online training abnormal termination"
yesterday，I try to use xlearn online training , but It is strange that program is terminated when I read log today. Current dir can not find any print or extra log.
+ logging
![image](https://user-images.githubusercontent.com/28085731/51450152-70ef9880-1d6a-11e9-8be6-ac10ffcc88c5.png)
+ can not find thread
![image](https://user-images.githubusercontent.com/28085731/51450251-ef4c3a80-1d6a-11e9-8508

[2019-01-21 08:01] Jie-Yuan opened #211 "install erro"
pip install xlearn -U
Collecting xlearn
  Using cached https://files.pythonhosted.org/packages/ab/1b/9ad0093cac05d6f95d3d768bc855804b18723c72120ce45cd930bd303587/xlearn-0.40a1.tar.gz
Building wheels for collected packages: xlearn
  Running setup.py bdist_wheel for xlearn ... error
  Complete output from command /home/yuanjie/desktop/software/intelpython3/bin/python -u -c "import setuptools, tokeni

[2019-01-23 02:27] etveritas opened #212 "`fread` do strange on Windows(in file file_util.h)"
`fread` do something strange.
 I know that `fread`  do replace `\r\n`  with `\n` on Windows, so it will cause the return number less than the _len_ which is the file size calculated by `fseek` and `ftell`. But, when I look up C++  Reference, it says that "If this number differs from the count parameter, either a reading error occurred or the end-of-file was reached while reading.", It does not men

[2019-01-23 16:48] ededdneddyfan commented on #114
@Subenle thanks for the explanation for the workaround!

[2019-01-28 08:48] levylll commented on #207
@aksnzhy 可能是模型训练的原因吧，可能我最初不小心用成lr去训练了，现在又没这个问题了。谢谢小哥。还有个问题，能不能每次不输出bin文件呢，因为每次的训练数据和预测数据跟历史的都不一样，所以这个bin有时候不需要。

[2019-01-29 14:31] levylll commented on #207
@aksnzhy 哇，非常非常感谢！
BTW，我对于ffm数据的转换做的不是太好，请问你是如何从csv特征转换成ffm特征的呢？

[2019-01-30 07:47] #212 closed

[2019-01-30 07:54] fttt opened #214 "编译成功，运行Demo报错"
通过源码编译安装后，运行如下Demo中的命令：
./xlearn_train ./small_train.txt -s 2 -v ./small_test.txt -x acc
报错如下：
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_S_construct null not valid
Aborted (core dumped)。
我尝试了两个版本的xlearn，包括4.0、3.8，以及升级了gcc和cmake，还是会出现这个问题。目前cmake版本是3.3.2，gcc版本是5.3.1。请问我该如何解决这个问题？

[2019-01-31 03:07] fttt opened #215 "install success，but run error"
I successfully installed xlearn using cmake(3.12) and gcc(6.1.0)，but when I run the following statement,：
./xlearn_train ./small_train.txt -s 2 -v ./small_test.txt -x acc，which copy from run_example.sh.
an error occurred：
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Aborted (core dumped).
I want to know how I can solve this

[2019-01-31 09:43] #208 closed

[2019-01-31 09:50] payne4handsome opened #216 "Suggest supply function about how to config log print"
If my training samples very large than system memory, XLearn will terminate without nothing print。 That's not the point， I strongly suggest that you can supply a function for us to config log print/

[2019-01-31 10:20] matricer opened #217 "Test_AUC gives -nan when training FFM model on the full dataset of "criteo""
![default](https://user-images.githubusercontent.com/16053879/52047854-d51c1480-2541-11e9-8459-3db8ac4091a4.png)

[2019-01-31 12:12] aksnzhy commented on #217
@matricer Hi, thanks for your feedback. I'll check this issue as soon as possible.

[2019-01-31 12:13] aksnzhy commented on #216
@payne4handsome Thanks for your suggestion. I'll improve this feature as soon as possible.

[2019-02-07 05:16] matricer opened #219 "why does different epoch cost very different time when using FFM?"
Time grows as the epoch goes on. Is it explainable?
![image](https://user-images.githubusercontent.com/16053879/52391754-e8972480-2ad9-11e9-9f10-1777163ed827.png)

[2019-02-18 15:09] etveritas opened #220 "gtest error on Windows"
I pass all the test on Debug version, but fm_score_test has this error "unknown file: error: SEH exception with code 0xc0000005 thrown in the test body." on Release version. Do you know what mean about this error?

[2019-02-18 15:12] freedin opened #221 "Supply custom loss function"
Thanks for a great package! Is it possible to supply your own loss function? I would like to optimize according to WARP (https://lyst.github.io/lightfm/docs/lightfm.html) with some additional weights.

[2019-02-19 03:32] etveritas commented on #220
It is because the optimizations level.

[2019-02-19 03:32] #220 closed

[2019-02-19 13:03] aksnzhy commented on #221
@freedin Hi, I'm sorry that xLearn cannot support user-defined loss function for now. If it is possible, you can hack the source code in /src/loss directory. Thanks so much!

[2019-02-20 15:55] freedin commented on #221
Dear Chao!

Thank you for your quick response. I will take a look to see if it is
possible for me to do so.

Best wishes,

Fredrik

*From:* Chao Ma <notifications@github.com>
*Sent:* den 19 februari 2019 14:04
*To:* aksnzhy/xlearn <xlearn@noreply.github.com>
*Cc:* freedin <fedin@previsio.se>; Mention <mention@noreply.github.com>
*Subject:* Re: [aksnzhy/xlearn] Supply custom loss function (#221)

@

[2019-02-20 17:20] freedin commented on #221
If I add it, would you be interested in incorporating the code changes?

Fredrik

*From:* Chao Ma <notifications@github.com>
*Sent:* den 19 februari 2019 14:04
*To:* aksnzhy/xlearn <xlearn@noreply.github.com>
*Cc:* freedin <fedin@previsio.se>; Mention <mention@noreply.github.com>
*Subject:* Re: [aksnzhy/xlearn] Supply custom loss function (#221)

@freedin <https://github.com/freedin> Hi, I'm sorry

[2019-02-21 01:32] aksnzhy commented on #221
@freedin It's great if you can contribute this feature for xLearn! Thank you!

[2019-02-21 09:29] freedin commented on #221
OK so I'm planning to add the WARP as a new task. It aims to optimize the top of the recommendation list, so it's not really a classification task. Sounds OK?

[2019-02-22 09:50] matricer opened #223 "L2 regularization seems to be reduplicated for FTRL optimization"
L2 regularization seems to be reduplicated for FTRL optimization. Take LR as an example.
![snp20190222174325758_lx](https://user-images.githubusercontent.com/16053879/53234110-b8798500-3686-11e9-98d7-da1242a3edfc.png)
Proximal operator in FTRL has cover the L2 regularization, so the former one seems to be reduplicated. FM and FFM have similar problem.

[2019-02-22 11:09] matricer opened #224 "Data random shuffling for every epoch will benefit the performance. Will this feature be supported in the feature?"

[2019-02-22 12:23] aksnzhy commented on #223
@matricer Thanks for your issue. I will check it as soon as possible.

[2019-02-22 12:24] aksnzhy commented on #224
@matricer Hi, xLearn will shuffle data for every by default.

[2019-02-22 15:40] AWalkInClouds opened #225 "在线学习Demo出错"
import xlearn as xl

 ffm_model = xl.create_ffm()
 ffm_model.setTrain("./small_train.txt")
 ffm_model.setValidate("./small_test.txt")
 ffm_model.setPreModel("./pre_model")
 param = {'task':'binary', 'lr':0.2, 'lambda':0.002}

 ffm_model.fit(param, "./model.out")
<img width="1049" alt="2019-02-22 11 38 30" src="https://user-images.githubusercontent.com/35360577/53252971-219ae000-36fb-11e9-9b12-30e6

[2019-02-23 13:47] etveritas commented on #170
@aksnzhy @shiweixxx Maybe the reason is that xlearn skip zero when read csv?
[code]
Here is the [source code](https://github.com/aksnzhy/xlearn/blob/master/src/reader/parser.cc#L232-L233) about parser of  csv.

[2019-02-23 14:37] matricer commented on #224
nice~
By the way, data shuffling will be done in both the "momery-only" case and the "momery-and-disk" case?

[2019-02-24 02:59] aksnzhy commented on #224
@matricer Hi, data shuffling will only be used for in-memory training. It is too expensive to shuffle data on disk.

[2019-02-25 06:33] CristopherOh opened #226 "jupyterlab result is not readable"
Hi, I am running xlearn on jupyterlab, but it only returns something not readable! what is that?
![image](https://user-images.githubusercontent.com/42265562/53318441-37cabb00-390a-11e9-926d-d2c0feb9c8b4.png)

[2019-02-25 08:06] #226 closed

[2019-02-25 09:02] chaoleili commented on #194
@aksnzhy 最近测 xlearn 发现了这个问题. 根据 #115 这个 issue 的解决方案我简单对比了一下. 没有设置 `USER` 环境变量的都会出现这个 bug. 包括容器内部和 crontab 任务. 我没看过源码, 但推测是不是有地方会去获取 USER 的环境变量然后赋值给了一个 *string, 没有则 *string 为 null 从而产生了这个 bug.

[2019-02-25 13:40] matricer commented on #224
ok, thanks

[2019-02-25 13:40] #224 closed

[2019-02-25 15:09] etveritas commented on #223
@matricer
This is the pseudocde in paper [Ad Click Prediction: a View from the Trenches](https://static.googleusercontent.com/media/research.google.com/zh-CN//pubs/archive/41159.pdf)
![_20190225230115](https://user-images.githubusercontent.com/27916175/53346163-72a41180-3951-11e9-9045-15cdb32b314e.png)
I think [line 141](https://github.com/aksnzhy/xlearn/blob/master/src/score/linear_score.cc#L141)

[2019-02-25 15:36] matricer commented on #223
@etveritas,
you can see the pseudocde:
p_t = \sigma (x_t * w)
g_i = (p_t - y_t) x_t
there is no L2 regularization attached to the gradient computing, because the following proximal operator (updating w_{t,i}) has covered both L1 regularization and L2 regularization.
In fact, these are two ways to implement L2 regularization: weight decay and proximal operator. Weight decay is also called shrinkage

[2019-02-26 02:04] etveritas commented on #223
@matricer I see what you mean.I find [that comment](https://github.com/tensorflow/tensorflow/blob/24f578cd66bfc3ec35017fc77e136e43c4b74742/tensorflow/python/training/ftrl.py#L32-L36) in tensorflow, it says:

  https://www.eecs.tufts.edu/~dsculley/papers/ad-click-prediction.pdf).This version has support for both online L2 (the L2 penalty given in the paper
  above) and shrinkage-type L2 (which is t

[2019-02-26 06:36] matricer commented on #223
@etveritas I get your idea. In tensorflow, in the absence of L1 regularization, FTRL updating gives:
        w_{t+1} = w_t - lr_t / (1 + 2*L2*lr_t) * g_t - 2*L2_shrinkage*lr_t / (1 + 2*L2*lr_t) * w_t
here, L2 is online L2 and L2_shrinkage is shrinkage-type L2. In XLearn, without L1 regularization FTRL updating gives:
        w_{t+1} = w_t - lr_t / (1 + 2*L2*lr_t) * g_t - 2*L2*lr_t / (1 + 2*L2*lr_t

[2019-02-26 07:17] etveritas commented on #223
@matricer yep.

[2019-02-26 09:39] matricer commented on #223
@aksnzhy @etveritas thanks~

[2019-02-26 09:39] #223 closed

[2019-02-26 09:47] matricer commented on #217
@aksnzhy Hi, I go through the validation dataset generated by [this code](https://github.com/guestwalk/kaggle-2014-criteo) and find that there is no positive sample. I think this is the problem which makes auroc "-nan"

[2019-02-27 07:06] #217 closed

[2019-02-27 09:44] cplog opened #227 "binary file"
By any chance, can I generate binary file directly and tell xlearn to read it directly instead of converting the text file?

Thank you

[2019-02-27 12:25] AWalkInClouds opened #228 "Regression task 怎么输出预测的数值"

[2019-02-27 13:02] AWalkInClouds commented on #225
<img width="1065" alt="2019-02-27 9 00 38" src="https://user-images.githubusercontent.com/35360577/53492094-f9342c80-3ad2-11e9-88d5-479de67223a0.png">

[2019-02-28 01:45] aksnzhy commented on #228
@AWalkInClouds Hi, xLearn 的输出文件里就是预测的数值。详细请见文档 https://xlearn-doc-cn.readthedocs.io/en/latest/index.html

[2019-02-28 05:19] EvanZ opened #229 "Error reading csv file"
I'm trying to read in a csv file and getting the following error:

`Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`

I simply modified the demo code for my data set:

[code]

Is there a parameter I need to specify to make CSV work?

[2019-02-28 08:06] etveritas commented on #229
@EvanZ Program access not real address on your machine. Does your program generate .bin file correctly(like a bin file with 0 kb or no bin file)?And you run it on 64-bit or 32-bit system?

[2019-02-28 13:30] Tych0n opened #230 "Application in recommender system"
Hi, aksnzhy! Thank you for this library. Can you please guide me a bit? I have a dataset with four columns: transaction_count, user, item, item_colour. I want to recommend some items to users, based on transaction_count. I can use ALS with transaction_count, user and item columns, for example with "implicit" library. But if i want to take in account item_colour i need to use for example ffm. So, i

[2019-02-28 21:32] EvanZ commented on #229
I do see a .bin file being generated inside the train path with 0 bytes.

[2019-03-01 00:14] etveritas commented on #229
@EvanZ Maybe there are some characters can not be transformed to int or float number in your csv file. You can check whether have not character of number(characters like 'abc' or something else ) in file.

[2019-03-01 00:58] EvanZ commented on #229
Hmm...does it not allow a header row?

[2019-03-01 01:24] etveritas commented on #229
@EvanZ Yes. You can find details in
https://xlearn-doc.readthedocs.io/en/latest/python_api/index.html

[2019-03-01 03:08] aksnzhy commented on #227
@cplog It is possible to generate binary file that can match the xLearn binary format but it is very hard because xLearn has its own binary format. Actually, once xLearn generate the binary file, it will not do this job in the next time. So I suggest that you can use xLearn to generate the binary file.

[2019-03-01 03:14] aksnzhy commented on #230
@Tych0n  I'm not if I get your pointer correctly. You want to recommend top-5 items to users, but now xLearn can not do the binary classification task. One possible solution is that you can use one-vers-all to do a multi-class classification task, and then to compare the probability calculated by xLearn, and select the highest probability. It will only spend 5x cost compare to the one binary class

[2019-03-01 08:09] aksnzhy commented on #229
@etveritas Thanks for resolving this issue！

[2019-03-01 09:13] Tych0n commented on #230
Yes, you got it right. I'm using 'task':'reg' and transaction_count as continious target, but I sure can scale it to binary one-vers-all form per user. The problem is, that to compare probabilities calculated by xLearn, i need to score 14000*5 variants per user. And do it 80000 times - it ends in creating dataset with 5.6 billion rows, and then score it with xLearn. I think may be i'm missing some

[2019-03-02 02:45] aksnzhy commented on #230
@Tych0n If you do this job like what you said, you actually facing a classification problem with 14000*5 labels. I think it is not a very good. If you can convert it to a binary task, e.g., given an item, predict the probability you like it. Then you can predict all the probability of items for each user.

[2019-03-02 15:49] AWalkInClouds commented on #228
<img width="667" alt="2019-03-02 11 47 58" src="https://user-images.githubusercontent.com/35360577/53684216-b1690b80-3d45-11e9-920b-19149c2a8b84.png">999976
0.999995
0.999995
0.999992
0.999995
0.999985
0.999994
0.999996
0.999993
0.999991
0.999987
0.999989
0.999993
0.999992
0.999997
0.999996
0.999997
0.999997
0.999997
0.999998
0.999995
0.999995
0.999993
0.999996
0.999995
0.999995
0.999997
0.999995

[2019-03-02 15:51] AWalkInClouds commented on #228
output.txt输出的结果
好像是概率值

[2019-03-02 16:24] AWalkInClouds commented on #228
0.999997
0.999997
0.999997
0.999998
0.999995
0.999995
0.999993
0.999996
0.999995
0.999995

[2019-03-02 16:26] AWalkInClouds commented on #228
<img width="1949" alt="2019-03-03 12 14 01" src="https://user-images.githubusercontent.com/35360577/53684657-d744df00-3d4a-11e9-8e70-a1769346c845.png">
@aksnzhy

[2019-03-04 07:51] Tych0n commented on #230
@aksnzhy got your point. Correct me please, if i'm wrong: i convert task to binary, score all user-item pairs to get probability of each pair, then sort top-5 items for each user. In this approach i still face the problem of creating 5.6 billion rows dataset to score and select from?

[2019-03-04 08:02] etveritas commented on #228
@AWalkInClouds xLearn可以输出预测的概率或者是预测的数值（即没有进行sigmoid函数转换的）。如果你想得到诸如：0,1,1,0,1这样的结果，你需要自己选定阈值，将输出概率进行转换，比如选择阈值为0.5，那么可以手动把输出概率大于0.5的概率值转换为1，其他的转换为0。

[2019-03-08 15:31] AWalkInClouds commented on #228
注释掉fm_model.setSigmoid()后，输出的结果如下，怎样解读数据0.999747
-8.57562e-05
0.999947
-1.7792e-05
0.999947
0.999947
0.999764
0.000128873
0.000128873
-0.000136256
0.999965
0.00021556
0.999747
0.999947
0.99984
0.999764
0.999871
0.000128873
3.31402e-05
0.99984
0.99997
0.99997
0.999747
0.999947
-1.7792e-05
-0.000202961
-3.13818e-05
-0.00015223
-0.00015223
-0.000226

[2019-03-08 15:32] AWalkInClouds commented on #228
@aksnzhy

[2019-03-08 22:17] jerrytim opened #232 "how to convert pandas df to libffm data format"
Hey I am pretty new to Xlearn. Out of curiosity, is there a handy approach to convert a pandas dataframe to the data format that libffm requires, and also doing that directly without I/O (dumping to temp file and loading it with ffm_model.setTrain())?

[2019-03-09 09:27] aksnzhy commented on #232
@jerrytim Hi, I am very sorry that now need to convert pandas dataframe to libffm data format by handle, and xLearn now can only read data from the file. We will support this feature in the near future.
Thanks for you support!

[2019-03-13 11:09] jcr-lyxor opened #233 "Add sklearn interface improvement"
Following [#68](https://github.com/aksnzhy/xlearn/issues/68) that would be very nice to have extra information in the model. Maybe I could find it but I do see that in the documentation:

1. Recovering the early stopping epoch number
2. Recovering the cross validation test and train losses / metrics
3. Recovering eval_set  losses / metrics
4. Be able to pass a path to a libffm data format

I am ha

[2019-03-13 13:14] etveritas commented on #233
@jcr-lyxor these features is already in xLearn, like early stoppping. If you want to train a ffm model, you can use the native api, i.e. pass the pass of libffm to mdoel. For sklearn interface,  we are improving.

[2019-03-13 13:24] etveritas commented on #170
I complie with [this line](https://github.com/aksnzhy/xlearn/blob/master/src/reader/parser.cc#L232-L233) commented, and run with my dataset, it works, alought the score all ``nan``... I do still be a little confuse about skip zero.

[2019-03-13 14:32] jcr-lyxor commented on #233
What I meant is how do you know the number of epoch the model stopped on? Also I do not see how to output the CV errors or if the CV is performed.

[2019-03-13 15:43] etveritas commented on #233
@jcr-lyxor
If you set the validate file when train, the console prints like this, and I point the information you may need.
![20190313231540](https://user-images.githubusercontent.com/27916175/54292674-928e3300-45e9-11e9-998e-3ced0a7d8763.png)
If you use CV, the console prints like this, and I point the information you may need.
![20190313233505](https://user-images.githubusercontent.com/27916175/

[2019-03-13 15:48] jcr-lyxor commented on #233
Yes thanks you but how can I recover all thoses informations in dataframe / array trough the sklearn API?

[2019-03-13 16:01] etveritas commented on #233
@jcr-lyxor  you can see https://xlearn-doc.readthedocs.io/en/latest/python_api/index.html#scikit-learn-api-for-xlearn to use sklearn API, but maybe have some small problem, we are improving sklearn API. And this information just print to console when are training.

[2019-03-13 16:14] jcr-lyxor opened #234 "PermissionError when running in a jupyter notebook"
There is an issue when running the iris example in sklearn api in jupyter:

`PermissionError: [Errno 13] Permission denied`

It is actually because of  `tempfile.NamedTemporaryFile(delete=True)` in _sklearn.py. Maybe one explanation is [here](https://stackoverflow.com/questions/23212435/permission-denied-to-write-to-my-temporary-file). Anyway, it is working by setting `delete=False`

[2019-03-13 16:17] jcr-lyxor commented on #233
Ok I am using it on windows it is working very well. I just want these information. Any idea how I could get them? Are these information written in a file maybe?

[2019-03-13 23:55] etveritas commented on #233
@jcr-lyxor You can copy this console information by hand-copy.

[2019-03-13 23:58] etveritas commented on #234
@jcr-lyxor  Yes, it will occurs this error on windows when using sklearn API, and we are checking the more reasons, so we don't suggest use sklearn api now, we will improve it as soon as possible.

[2019-03-14 06:58] jcr-lyxor commented on #234
It is working with the hack. Even is it is not perfect I need the skleran api so unless it returns wrong result I just use delete=False.
Thanks

[2019-03-14 07:00] jcr-lyxor commented on #233
Ok I look forward to have them in the api.

[2019-03-14 08:53] aksnzhy commented on #170
@etveritas When using CSV format for very sparse data, we may have many zero value in each line.  It doesn't generate any gradient during the training, and it also useless in predict wTx. So I just skip reading the zero value. Please correct me if I am wrong.

[2019-03-14 13:07] etveritas commented on #170
@aksnzhy I get your means. For this issue, I'll do more tests to support.

[2019-03-14 15:12] #234 closed

[2019-03-14 15:14] etveritas commented on #234
@jcr-lyxor Hello, we have fixed this error, you can download the latest source code.

[2019-03-14 15:43] jcr-lyxor commented on #234
Great thanks.

[2019-03-17 20:56] octoscore opened #237 "Different results at each run"
Hi

I am not sure if we expect that but the following example predict different results each time I run it:
[code]

This is version 0.4.2 executed via sklearn api on windows: y_pred  is never the same. Are we expecting that?

Thank you

[2019-03-18 01:51] etveritas commented on #237
@octoscore Hello, I test this snippet on my machine, and I find it has no change with several times. Could you give your results here, I just want to confirm whether the reason is lock free or something else.

[2019-03-18 02:48] aksnzhy commented on #237
@octoscore The result of xLearn could be little different at each run because xLearn uses lock-free training. Typically it is doesn't manner for prediction. You can close lock-free training if you want to get a deterministic result. Thanks.

[2019-03-18 20:17] octoscore commented on #237
This is really strange.  The results are so different each time. Are you testing on windows using Jupyter notebook?

When I run the the same example in command line (example_LR_iris.py)  the test loss is: 0.740673 and it is not random at all.

Actually the first run in the notebook gives me the same answer but second run is different (without having killed the kernel)
first run : The test loss is:

[2019-03-19 04:19] etveritas commented on #237
@aksnzhy I found the same problem in jupyter on WSL. Does we have this problem before?

[2019-03-19 05:04] aksnzhy commented on #237
@etveritas I didn't find this problem before.

[2019-03-19 05:43] etveritas commented on #237
@aksnzhy I just test 0.4.1 version, and it also have different perform without resarting jupyter kernel.It seems that the model do not initialized unless restart the program.

[2019-03-19 05:59] aksnzhy commented on #237
@etveritas Does this problem happen only in Windows?

[2019-03-19 07:03] etveritas commented on #237
@aksnzhy  No, I also test this version on WSL(Windows Subsystem for Linux).

[2019-03-19 13:53] etveritas commented on #237
@aksnzhy I run the ``mushroom`` demo seven times in jupyter, this demo use the native Python API, and this  is my run results about top 10 lines, the 1st to 6th without restart kernel, 7th time restart the kernel. Does this results in normal range of variation. I just want to check whether it's normal with native Python API firstly.(p.s. I build the master source code and run jupyter on windows.)

[2019-03-19 14:20] octoscore commented on #237
I think it is sensible. Is it lockfree=false? The differences I observed are much more different.

[2019-03-20 18:19] octoscore commented on #237
Yes. Small change does not matter I am fine with it. But what we observed is really random.

The native api is fine for testing stuff but it is not enough for real life application. That is why we need the sklearn api.

[2019-03-21 00:07] etveritas commented on #237
@octoscore Thanks for your advise, we will fix this problem as soon as possible. And we'd be happy if you could do more contribution to make this project be better. Thanks.

[2019-03-21 09:59] etveritas commented on #237
@aksnzhy I get the reason why the results are different without restarting the jupyter(without lock-free). In jupyter the program will not end until we restart the kernel. Because we default [shuffle](https://github.com/aksnzhy/xlearn/blob/master/src/solver/solver.cc#L246-L248) for memory training, so xlearn will [generate different order of samples](https://github.com/aksnzhy/xlearn/blob/master/s

[2019-03-21 12:39] aksnzhy commented on #237
@etveritas Thanks for this. I will try to fix this bug these days.

[2019-03-21 13:54] etveritas commented on #237
@aksnzhy I create a PR, and I need your help to check for it.

[2019-03-22 04:58] etveritas commented on #237
@octoscore Hello, we have fixed this bug, you can download and build the latest source code to avoid this problem.Thanks for your issue.

[2019-03-22 04:58] #237 closed

[2019-03-22 21:30] octoscore commented on #237
Thank you very much. I will test asap. I hope to contribute more.

[2019-03-23 06:47] etveritas commented on #237
@octoscore You can open issues or fork xlearn to add features what you think useful for users, we will resovle your issue or review your code. Thanks.

[2019-03-29 03:25] yuanbaopeng commented on #198
gcc 版本太高，试试gcc4.8.5

[2019-04-03 03:11] JohnWill6 opened #241 "@vincenhe"
@vincenhe

I update the model output like this, you need to git clone the source code and re-build it:

Linear:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0

FM:

  bias: 0
  i_0: 0
  i_1: 0
  i_2: 0
  i_3: 0
  v_0: 5.61937e-06 0.0212581 0.150338 0.222903
  v_1: 0.241989 0.0474224 0.128744 0.0995021
  v_2: 0.0657265 0.185878 0.0223869 0.140097
  v_3: 0.145557 0.202392 0.14798 0.127928

FFM:

  b

[2019-04-03 03:33] JohnWill6 commented on #241
使用FFM选出的特征，比如v_3_1: 0.154174 0.144785 0.184828 0.0785329，v_3_0: 0.055902 0.195092 0.0209918 0.0453358，怎么比较v_3_1、v_3_0两个组合特征的重要性呢，有类似xgboost的 feature importance 评价指标吗？

[2019-04-04 05:27] etveritas commented on #241
@JohnWill6 现在还没有给出feature importance 评价指标接口。

[2019-04-04 07:44] cympfh opened #242 "Segmentation fault if data contains zero instances"
The libsvm format

[code]

*NOT* allows

[code]

(all values are zero). Is this a bug?

NOTE: I avoid this by putting `0` values.

[code]

[2019-04-05 02:26] etveritas commented on #242
@cympfh we will check soon later

[2019-04-08 06:29] treper opened #243 "When will be the distributed training version released?"
local training is impossible for large dataset. Looking forward for the distributed version.

[2019-04-08 08:39] ymkigeg opened #244 "does xlearn support GPU?"
does xlearn support GPU?

[2019-04-08 09:43] etveritas commented on #244
@ymkigeg hello, not support GPU now.

[2019-04-08 09:46] etveritas commented on #243
@treper Thanks for your suggestion, we're doing for distribution more fixed.

[2019-04-10 14:24] etveritas commented on #242
@cympfh Sorry for long time backing to you. Actually, you must __have least one feature for train__, the first column is label, and the rests are features, if the feature values are all zero, they should display ``0``.  Hope can help you, thanks.

[2019-04-11 03:10] JohnWill6 commented on #241
我在训练FM时设置了lambda=0.2，那么用下面的公式predict时，怎么将lambda参与到计算中呢，望指教，十分感谢！
def pre(X, v, w):
    reg_lambda = 0.2 #如何使用？？
    # xi·vi,xi与vi的矩阵点积
    inter_1 = X * v
    # xi与xi的对应位置乘积   与   xi^2与vi^2对应位置的乘积    的点积
    inter_2 = multiply(X, X) * multiply(v, v)  # multiply对应元素相乘
    # 完成交叉项,xi*vi*xi*vi - xi^2*vi^2
    interaction = sum(multiply(inter_1, inter_1) - inter_2) / 2.
    # 计算预测的输出
    p = bias + X

[2019-04-11 03:12] JohnWill6 commented on #241
我在训练FM时设置了lambda=0.2，那么用下面的公式predict时，怎么将lambda参与到计算中呢，望指教，十分感谢！
def pre(X, v, w):
reg_lambda = 0.2 #如何使用？？
# xi·vi,xi与vi的矩阵点积
inter_1 = X * v
# xi与xi的对应位置乘积 与 xi^2与vi^2对应位置的乘积 的点积
inter_2 = multiply(X, X) * multiply(v, v) # multiply对应元素相乘
# 完成交叉项,xivixivi - xi^2vi^2
interaction = sum(multiply(inter_1, inter_1) - inter_2) / 2.
# 计算预测的输出
p = bias + X * w + interaction
y_hat = 1.0 / (1 + exp(-p))
re

[2019-04-11 03:14] JohnWill6 commented on #241
我在训练FM时设置了lambda=0.2，那么用下面的公式predict时，怎么将lambda参与到计算中呢，望指教，十分感谢！
`def pre(X, v, w):
reg_lambda = 0.2 #如何使用？？
# xi·vi,xi与vi的矩阵点积
inter_1 = X * v
# xi与xi的对应位置乘积 与 xi^2与vi^2对应位置的乘积 的点积
inter_2 = multiply(X, X) * multiply(v, v) # multiply对应元素相乘
# 完成交叉项,xivixivi - xi^2vi^2
interaction = sum(multiply(inter_1, inter_1) - inter_2) / 2.
# 计算预测的输出
p = bias + X * w + interaction
y_hat = 1.0 / (1 + exp(-p))
r

[2019-04-11 05:47] etveritas commented on #241
@JohnWill6 ``reg_lambda``是用在目标函数中，用来减少优化过程中的overfitting，而非用在计算预测值中。目标函数大概这个样子，``Obj = Loss(y,y_hat) + 1/2*reg_lambda*w^2``，优化时，求个偏导就是``partition_gradient+reg_lambda*w``，其中``w``是参数。

[2019-04-11 06:02] JohnWill6 commented on #241
好的，我在看看源码，非常感谢！

[2019-04-11 06:02] #241 closed

[2019-04-11 06:27] cuiwow commented on #170
I get a segment fault when the label and all features are 0.
Maybe the code skipped all the features and raised a exception.

[2019-04-11 06:51] aksnzhy commented on #244
@ymkigeg Actually I tested xLearn by GPU and I found that there's no performance gain on GPU compared to use SIMD CPU instructions.

[2019-04-11 06:57] etveritas commented on #170
@cuiwow Yeah, when read CSV, xLearn skip zeros. This will be a little influence when initialize, and we already fix this bug and will release next version.

[2019-04-11 09:50] cuiwow commented on #170
@etveritas
I have another problem...
When using small data with few columns, it works.
But the real data has more than 50,000+ columns,  it prints "Read Problem" and aborts...

[2019-04-11 11:51] cuiwow commented on #170
Looks like the reason is my line size is larger than the limit:
src/reader/parser.cc:
`static const uint32 kMaxLineSize = 500 * 1024;  // 500 KB`
as my line size is larger than 2MB.
Could this be defined by user? As there could be any size of data.

[2019-04-11 12:51] etveritas commented on #170
@cuiwow  ``kMaxLineSize`` is a constant to users.
@aksnzhy Is there any side effect if we enlarge ``kMaxLineSize``, somthing like overflow or performance loss?

[2019-04-11 13:10] aksnzhy commented on #170
@etveritas @cuiwow I changed `kMaxLineSize` to 10MB. I think there is no performance loss.

[2019-04-11 13:13] etveritas commented on #170
@aksnzhy Great,thanks!

[2019-04-11 14:24] gsakkis opened #245 "Inconsistent results from libffm"
I'm trying to compare xlearn with libffm in terms of consistency on the same dataset (`demo/classification/criteo_ctr/small*.txt`) and I'm getting different results. That's even after ruling out some common suspects (using same hyperparameters, setting number of threads to 1, disabling the random shuffling).

Has anyone been able to produce the same trained model with both packages and if so how?

[2019-04-12 01:58] aksnzhy commented on #245
@gsakkis Hi, the inconsistent result comes from many reasons: xLearn and libffm has different optimization method, different model initialization, different data shuffle, and so on..

[2019-04-12 05:59] cuiwow commented on #170
@aksnzhy @etveritas very kind of you.
emmm..there is another problem...should i open a new issue?
I installed a **new** version with the **build.sh** in MacOS (Xcode and CMake installed first).
When running the **run_example.sh**, it aborted with the same error message:
![image](https://user-images.githubusercontent.com/3415190/56015304-2824fb80-5d2b-11e9-8b42-40720f029d9b.png)

[2019-04-12 06:31] etveritas commented on #170
@cuiwow It seems that program access the valid memory.Sorry, I have no Mac IDE. You can open an new issue, and provide your OS version and xLearn version(latest or version number).

[2019-04-12 07:04] cuiwow opened #246 "run_example failed in MacOS"
I installed a **new** version with the **build.sh** in MacOS (Xcode and CMake installed first).
When running the **run_example.sh**, it aborted with the error message:
![image](https://user-images.githubusercontent.com/3415190/56015304-2824fb80-5d2b-11e9-8b42-40720f029d9b.png)

MacOS: Mojave 10.14.4
xlearn: 0.43

(the pip installed one in version 0.40a works on my computer, but has a bug just fixe

[2019-04-12 07:13] aksnzhy commented on #246
@cuiwow I find the same error. You can solve the problem by do this:

mkdir a `build` outside the xlearn source code:

[code]
 and then you can try the demo successfully.

I will figure out why this error come out. Thanks!

[2019-04-12 07:58] aksnzhy commented on #246
@cuiwow I fixed the bug and you can use the latest code to test it.  Thank you!

[2019-04-12 08:03] cuiwow commented on #246
@aksnzhy Thanks, that works.

You have to agree with the xcode agreement before using /usr/bin/cc, otherwise it would throw an exception. I don't know whether it is the reason, and how i could install it before without /usr/bin/cc.

[2019-04-12 08:12] cuiwow commented on #246
@aksnzhy  Another case:   failed with my own data, the same error message.
Line size is about 2.1MB,
csv file format: label,value0,value1...   label is a int 0/1, while values are binary float 0.0/1.0

It works when using just 10 values. But failed using real data with more than 500,000 columns, as the attached file.
I have checked the columns' number, and each element is an integer or float numbe

[2019-04-12 08:15] aksnzhy commented on #246
@etveritas Could you please help @cuiwow to solve this issue? Thanks!

[2019-04-12 08:23] etveritas commented on #246
@aksnzhy okay, and @cuiwow, I'll try to solve this issue, please give me a minute.

[2019-04-12 09:08] etveritas commented on #246
@aksnzhy There is another ``kMaxLineSize`` left unchange before, and I have modified it. @cuiwow after change this constant, I test on WSL with your data, it passed.

[2019-04-12 10:13] cuiwow commented on #246
@aksnzhy @etveritas
Thanks a lot. I have success in running a demo. Then encountered another problem...
I have a line size of 2MB. Industry recommendation datasets always have more than 1M lines, or 10M lines at least. The total data size would be larger than 2TB. I want to train it on a single server, to build a baseline. But my disk is not large enough..
I think the data should be processed into

[2019-04-12 10:20] sroylee commented on #215
I am having the same problem...

[2019-04-12 11:48] philipskokoh commented on #215
set the USER environment variable when running the code. It seems that the code checking USER environment variable.
Try:
USER='test' ./xlearn_train ./small_train.txt -s 2 -v ./small_test.txt -x acc

[2019-04-12 12:04] etveritas commented on #246
@cuiwow For large dataset, xLearn have supported ``on-disk`` train if your machine have enough memory, you can find mode in https://xlearn-doc.readthedocs.io/en/latest/large/index.html. And if you have not enough disk, you can buy more...

[2019-04-14 08:01] gongtian1234 commented on #198
我也出现了这个问题，楼主是怎么解决的

[2019-04-14 08:05] gongtian1234 commented on #70
我在windows下安装也遇到了这个问题

[2019-04-14 08:25] gongtian1234 opened #247 "XLearnLibraryNotFound: Cannot find xlearn Library in the candidate path"
在windows下安装的，已经安装好GCC和CMAKE，然后用pip install xlearn安装，安装完成后，在导入时报错，错误如题所示，请问怎么解决

[2019-04-14 09:18] etveritas commented on #247
Windows下的安装请参考这里：https://xlearn-doc.readthedocs.io/en/latest/install/install_windows.html

[2019-04-14 14:40] gongtian1234 commented on #247
你好，必须安装Visual Studio 2017吗，安装了Visual Studio Profession 2015和GCC不行吗

[2019-04-14 15:05] etveritas commented on #247
@gongtian1234 我在本机上用VS2017开发的。我曾在一个免费CI上的VS2015测试过，没有编译通过，应该是里面的C++ Tools(或MS Build)版本有些低，可以尝试升级一下VS的这些组件。关于其他的编译器，MinGW还有Clang等确实没编译测试过。最后，从源码编译的话，编译完成之后应该切换到的构建(``build``)目录的``python-package``的目录下面，用管理员权限运行命令``python setup.py install``来进行xLearn Python库的安装。我们会尽快更新PYPI上的版本，也就是用``pip``命令直接安装的版本。
这里是一个最近编译的 __非官方版本__ 的whl文件https://ci.appveyor.com/project/etveritas/xlearn/builds/23831797/artifacts 你可

[2019-04-15 00:23] gongtian1234 commented on #247
非常感谢你的耐心解答，从你发来的非官方链接下载了重新安装后成功了，非常感谢

[2019-04-15 01:18] #247 closed

[2019-04-15 05:21] gsakkis commented on #245
I see, thanks. It would be nice if there was a combination of parameters that make xLearn behave like libffm for getting consistent reproducible results but I guess that's not currently supported. Feel free to close this issue if it's not worth the effort to add such a "backwards compatibility" mode in the future.

[2019-04-15 10:10] #246 closed

[2019-04-15 12:02] gongtian1234 opened #248 "为什么我用样例程序criteo_ctr跑出的结果是0.。。。，不应该是0/1吗"
ffm_model.setSigmoid()  # Convert output to 0-1
代码中说用上述代码可以转换为0/1，但是我得到的结果是下面所示的（下面那个是用自己的数据跑出来的结果，不应该是0/1吗）
0.16595
0.3382
0.212221
0.0532268
0.0543604
0.182998
0.0881967
0.099153
0.184064
0.076093
0.093006
0.178772
0.160088
0.204628

[2019-04-15 12:27] etveritas commented on #248
sigmoid是将结果转换成0到1之间。

[2019-04-15 13:02] gongtian1234 commented on #248
但是为什么输出的结果都是小于0.5的，转成0/1之后就全部是0了，与真实结果完全不匹配

[2019-04-15 14:10] etveritas commented on #248
事实上，默认的阈值为0.5，当你sign之后，小于0.5的都是0，大于等于0.5的都是1。

[2019-04-16 01:13] aksnzhy commented on #248
@gongtian1234 你好，这些数字都是概率，大于 0.5 就认为是 1，小于 0.5 就认为是 0

[2019-04-16 02:41] BrianMiner commented on #230
I have the same exact question - do you have to create all possible permutations of items for each user and score all of them and order by probability?

[2019-04-16 16:39] BrianMiner commented on #230
@Tych0n did you ever figure out a method?

[2019-04-16 19:07] Tych0n commented on #230
@BrianMiner, no. I wasn't able to use this library in production for my problem, too many items to select recommendations from. I ended up using implicit.ALS. By the way, i tried LightFM - it showed comparable MAP@k, but still wasn't able to outperform ALS. At least in my setup.

[2019-04-16 19:07] #230 closed

[2019-04-16 19:10] BrianMiner commented on #230
This must be a common issue for these types of models though. There must be some way to pre-filter the candidates. You see FM and FFM used for CTR problems. That could be as large as issue when you need to score so many ads * placements * versions (copy, color etc) for each user.

[2019-04-17 01:21] gongtian1234 commented on #248
哦，那我得到的结果大部分都是0，那原因就是之前的特征工程没有处理好吗？
（谢谢你的耐心解答）

[2019-04-17 01:33] aksnzhy commented on #248
@gongtian1234 对于CTR这样的任务，大部分都是 0 是很正常的。你可以想一下百度给你推荐的公告里你会点几个？基本上大部分的广告用户都不会点的。

[2019-04-20 02:51] scriptboy1990 opened #250 "可以同时输出多个分类指标吗？"
想同时知道prec和recall

[2019-04-20 12:39] aksnzhy commented on #250
@scriptboy1990 xlearn现在是不可以的，不过我们可以考虑把这个功能加上。

[2019-04-22 18:20] dward4 commented on #215
Thanks @philipskokoh That worked for me; I had the same error.

[2019-04-23 05:58] JohnWill6 commented on #149
xlearn 参数 ：param = {'task':'binary', 'lr':0.02, 'lambda':0.02, 'metric': 'auc', 'epoch':100, 'opt':'sgd', 'k':4 }
libfm参数 ： ./bin/libFM -method 'sgd' -task c -dim '1,1,4' -iter 100 -learn_rate 0.02 -regular '0.02,0.02,0.02'
为什么xlearn、libfm训练参数一样，对同样的样本训练，得出的模型特征weight相差很大呢？
xlearn模型特征weight如下：
i_286                                        -0.00186708
i_287                                          -

[2019-04-23 07:59] daisy-belle commented on #211
already installed cmake, but installing through pip is still the same problem

[2019-04-23 08:17] aksnzhy commented on #211
@daisy-belle Hi, could you please provide the error information? Thanks!

[2019-04-29 03:34] ymkigeg opened #252 "I meet a model result bug"
![image](https://user-images.githubusercontent.com/10398836/56875290-70a22000-6a72-11e9-8a89-f5a20e4b7e56.png)
note this txt model file
one row is i_1830，and has no coefficient
and then next 7 rows，found two coefficients

I train model, user 8 threads
thanks

[2019-04-29 06:09] ymkigeg commented on #252
my version is 0.40

[2019-04-29 06:17] aksnzhy commented on #252
@ymkigeg We will solve this issue as soon as possible. Thanks!

[2019-04-30 02:53] #225 closed

[2019-05-02 14:22] jameslamb opened #253 "A request: R issues"
Hello from Chicago!

My friends and I from [Uptake](https://github.com/UptakeOpenSource) would like to come help develop the `xlearn` R package. We've been keeping an eye on `xlearn` since our colleague @randxie introduced us to it in #72 .

I have an ask...would you consider going through [the issues backlog](https://github.com/aksnzhy/xlearn/issues) doing these two things?

1. tagging R-specific

[2019-05-03 10:53] wuminbin opened #255 "Feature index is too large (overflow)."
My libffm file contains two fields that has more than 10000 ids. So when trainning it crash, can I make it work?

[2019-05-03 11:57] aksnzhy commented on #255
@wuminbin  FFM algorithm will spend much bigger memory cost than other models. If your model is larger than your memory, nothing can help it. If the model + data is larger than memory, you can try to use on-disk training, which will not load all the data to memory for training.

[2019-05-03 12:01] aksnzhy commented on #253
@jameslamb Hi, we are very happy you come to help the R package. Actually, we try to build an R package to xLearn long time ago but failed. Because the R contributor is not familiar with C++ cmake. So actually the R code never worked. Actually you can ignore the original R package and build a new one. Thanks again !

[2019-05-05 07:25] ymkigeg commented on #194
我是 0.40 版本，crontab 任务也报了这个错误

[2019-05-06 20:30] AllardJM commented on #204
I get all the same predictions as well

[2019-05-07 00:46] AllardJM opened #256 "Increase Pip version"
I have had errors attempting to install xlearn using all the install directions.  Can Pip install be increased to the newest version?

[2019-05-07 01:39] etveritas commented on #256
What operating system do you use? If windows, you can download the latest version in [release](https://github.com/aksnzhy/xlearn/releases). And we'll update the version in PYPI soon later.

[2019-05-07 01:44] AllardJM commented on #256
Ubuntu

On Mon, May 6, 2019, 9:39 PM etVERITAS <notifications@github.com> wrote:

[2019-05-07 08:02] etveritas commented on #256
@AllardJM We have uploaded the binary python package for linux, you can download from [release](https://github.com/aksnzhy/xlearn/releases)

[2019-05-07 11:59] scriptboy1990 opened #258 "关于样本归一化"
我最近在根据模型txt文件来实现ffm的预测过程，想问下，默认的训练过程会对样本进行归一化对吧，比如libffm格式为：
1   0:12:0.5   1:34:1   2:56:1   3:78:1
归一化之后，稀疏矩阵里面的值就是 0.5 / sqrt(0.5^2 + 1^2 + 1^2)和1 / sqrt(0.5^2 + 1^2 + 1^2)吗？
然后预测的时候，一阶的用weight直接乘上述值，二阶交叉的用vi * vj后再成这两个特征的上述值，最后得出logit值。

[2019-05-07 12:36] AllardJM commented on #256
Thanks! I do get the following error installing with `pip install xlearn-0.4.4-py2.py3-none-manylinux1_x86_64.whl` I will need to see if it can be resolved.

`OSError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by /home/ubuntu/anaconda3/lib/python3.6/site-packages/xlearn/libxlearn_api.so)`

[2019-05-07 13:29] etveritas commented on #256
@AllardJM It seems that your OS is incompatible. Could you provide your OS version, use ``lsb_release -a`` and ``cat /proc/version``,  your gcc version, use ``gcc --version``.

[2019-05-07 14:01] etveritas commented on #258
FFM模型预测值计算，[线性部分](https://github.com/aksnzhy/xlearn/blob/master/src/score/ffm_score.cc#L47)，如你上面所述；[非线性部分](https://github.com/aksnzhy/xlearn/blob/master/src/score/ffm_score.cc#L76)，是两个原始的特征值相乘之后乘上没有开方的norm，在你的例子中即``0.5*1*(1/(0.5^2+1^2+1^2))``。

[2019-05-07 14:04] etveritas commented on #252
@ymkigeg Hello, is this an accident, or always the case, and if possible, whether the case is in latest version when you use.

[2019-05-07 18:50] AllardJM commented on #256
Here are the results of these two commands. Sadly I am still getting the same error.
[code]
`Linux version 4.4.0-1079-aws (buildd@lgw01-amd64-030) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10) ) #89-Ubuntu SMP Tue Mar 26 15:25:52 UTC 2019`

[2019-05-08 01:45] etveritas commented on #256
@AllardJM Sorry, it's my fault. I'll upload new one soon.

[2019-05-08 02:51] scriptboy1990 commented on #258
very good
现在用txt文件和向量化的方法预测出来的结果和官方结果一致了。
没办法哈，要把ffm用于召回。

[2019-05-08 06:19] etveritas commented on #256
@AllardJM Hello, I have uploaded the fixed python package. You can use ``.whl`` or ``.tar.gz``. The difference of these two files is ``.whl`` already buidling the backend code to ``.so``, and the other not. If you use ``.whl``, you can use ``ldd --version`` to check your ``GLIBC`` greater or equal than ``2.17``(I think this version of ``GLIBC`` is an older version, but some Linux versions have low

[2019-05-08 15:33] timnon opened #259 "how to interpret the v-vectors in the text output?"
I am trying to reproduce recommendations using the exported vectors in the model text file. They have the following identifiers, e.g.`v_<feature>_<field>`.

Assuming that my users are in field 0 and items in field 1, and that the first x features are users and the following y features are items. E.g. some typical rows in the training file looks as follows:
[code]
My assumption was if i take the pr

[2019-05-09 08:04] aksnzhy commented on #259
@timnon Hi, xLearn uses one-hot encoding for categorical features by default.

[2019-05-10 03:35] #258 closed

[2019-05-10 08:34] yanghzcc opened #260 "setting batch_size"
I can see "int batch_size = 1000000;" in source, but how can i set the parameter of batch_size in python interface?
I add 'batch_size ' in para, and get a error

[2019-05-10 14:40] aksnzhy commented on #260
@yanghzcc Sorry, xLearn uses SGD and you cannot set the `batch_size` parameter.

[2019-05-11 01:10] wuminbin commented on #255
I see, my svmlight file is not in ordered index. For that reason, I recommend you to check the data format.

[2019-05-11 01:10] #255 closed

[2019-05-11 06:56] yanghzcc commented on #260
thanks @aksnzhy

[2019-05-11 06:56] #260 closed

[2019-05-12 23:31] jameslamb commented on #253
@aksnzhy sure, ok! Thanks for letting us try to contribute it. My friends and I will try to put together an initial PR with the R package 😀

[2019-05-21 11:19] currylym commented on #196
Has the problem been solved?I met the same problem..

[2019-05-24 07:49] wyj2046 commented on #194
我用docker环境跑demo的criteo_ctr也会出现这个错误

[2019-05-24 07:52] wyj2046 commented on #194
按#115的办法解决了

[2019-05-25 12:48] huichengxiao opened #261 "python setup.py install 报错"
首先我在windows文件夹用 Visual Studio2017编译成功了，然后我进入xlearn\python-package, 打开命令行， 输入python setup.py install,结果报错如下：
Traceback (most recent call last):
  File "setup.py", line 29, in <module>
    LIB_PATH = [os.path.relpath(libfile, CURRENT_DIR) for libfile in libpa
nd_lib_path']()]
  File "xlearn/libpath.py", line 63, in find_lib_path
    'Cannot find xlearn Library in the candidate path'
XLearnLibraryNot

[2019-05-26 02:58] aksnzhy commented on #261
@etveritas Could you please address this issue? Thanks.

[2019-05-26 21:42] BastiaanBergman opened #262 "module 'xlearn' has no attribute 'DMatrix'"
[DMatrix](https://xlearn-doc.readthedocs.io/en/latest/python_api/index.html#dmatrix-transition) not available,...

[code]

[2019-05-27 01:03] aksnzhy commented on #262
@BastiaanBergman Hi, you can build from the source code on github because we didn't update our pip install for now.  Thanks!

[2019-05-27 12:34] etveritas commented on #261
@huichengxiao 你好，我想是编译前没有将编译选项改成``Release``模式，项目默认加载是``Debug``模式，你可以在VS的导航栏上将其改成``Release``，然后再对``xlearn_api``这个项目进行编译。

[2019-05-29 03:17] BastiaanBergman commented on #262
Tnx! Exciting project, thanks for the great work! I wonder if ["out of core"](https://xlearn-doc.readthedocs.io/en/latest/large/index.html) learning is essentially the same as ["online learning"](https://xlearn-doc.readthedocs.io/en/latest/python_api/index.html#online-learning) and whether either can be used with the DMatrix api?

[2019-05-29 03:19] fly12357 opened #263 "ffm_model.setTXTModel 保存的 model.txt模型中参数的疑问."
例如: v_1025805_41 中的 1025805 和输入的特征中的特征id是对应的吗?

如果输入样本中没有出现的feature id 就应该不计算在内吧~~那我输入的feature id 的编码岂不是与model.txt中的 id 会有差别吗? (输入的样本的feature id会考虑全部的feature,有部分可能不会在样本中出现)

举个例子:
输入的样本中特征编码(libffm格式)    1 1:1:1 2:3:1
                                                           0 1:1:1 2:1:1
如果field2 中的特征有 1, 2, 3三个
但是样本中只出现了 1,3
那么model.txt中对应的 v_**featureid**_fields 会考虑 fields2中的 2 特征?

[2019-05-29 03:41] mrlonely001 commented on #71
大神，现在支持windows了吗

[2019-05-29 03:50] mrlonely001 commented on #261
version 0.4.4 还未支持pip 安装？

[2019-05-29 04:34] etveritas commented on #261
@mrlonely001 在[release](https://github.com/aksnzhy/xlearn/releases)里我们提供了编译好的二进制库，可以从那里下载安装。

[2019-05-29 04:53] etveritas commented on #262
@BastiaanBergman The DMatrix api for Python does not support ``out of core`` for now. It supports ``online learning``.

[2019-05-29 05:18] etveritas commented on #263
@fly12357 我认为ID是对应的。当你的样本确定之后，程序会根据你样本中的特征ID最大值和域ID最大值来确定你的特征和域的个数，也就是我们假设这两个值是从0到最大值连续的，模型会根据最大值初始化参数。对于样本中实际存在的特征ID（或域ID）且不大于最大值的数据，会进行计算并更新对应的参数，如果某个ID在全部样本中都没有出现，则参数值为初始化时的值。

[2019-05-29 05:41] fly12357 commented on #263
的确,我验证了一下,应该是取的最大值. 但是有一种情况会出现问题啊.

如果feature id 的最大值是所有特征的中间部分, 那么后边没出现的特征不就都丢失了么....(应该是当做未知id处理了吧)

例如: 接着上面的那个例子, 如果fields共计5个特征维度, 那么样本中最大只出现3的话, 4,5这两个特征维度就会没有了. (不过对计算没啥影响哈~)

感谢解答~

[2019-05-29 05:47] fly12357 commented on #263
还有个问题~

可否给个变量初始化的接口, 因为, 可以用word2vec对feature的嵌入向量进行编码, 从而解决样本中没有出现的特征的问题.

[2019-05-29 06:55] etveritas commented on #263
如果样本中没有某个特征，我们就不根据它学习，预测时也不会用到它的。

[2019-05-29 07:30] fly12357 commented on #263
如果某个 featureid 处于 所有featureid 的最大值与最小值之间, 并且其在训练样本中没有出现, 预测的时候不也得按照初始值(应该是随机值)进行预测吗?

[2019-05-29 08:18] etveritas commented on #263
初始化的w和b都是0

[2019-05-29 10:02] fly12357 commented on #263
了解~ 非常感谢~

[2019-05-29 10:02] #263 closed

[2019-05-29 12:24] huichengxiao commented on #261
谢谢，编译安装成功了

[2019-05-29 13:22] #261 closed

[2019-05-31 05:28] fly12357 opened #264 "模型预测的时候不能控制线程的个数吗?"

[2019-05-31 09:36] aksnzhy commented on #264
@fly12357 可以的，在命令行模式下用 `-nthread`,  在 python 下用 `nthread` 参数。

[2019-05-31 10:09] aksnzhy opened #265 "[Note] Please post issue by English"
Hi, everyone!

I'm the author of xLearn. Here I hope that everyone can post your issue by English so that the other people can get helped from it. Don't worry about the language mistake because I'm not a native English speaker too. I will try my best to solve your issues.

Thank you so much!

[2019-06-02 06:04] fly12357 commented on #264
感谢回复, 但是我在命令行预测的时候出现了下面的情况~

![image](https://user-images.githubusercontent.com/40494145/58757448-57900180-853f-11e9-8447-8227b0e44dc7.png)

[2019-06-02 06:25] fly12357 commented on #264
非常感谢回复, 但是我在命令行下使用模型预测,出现下面的情况

![image](https://user-images.githubusercontent.com/40494145/58757610-ba829800-8541-11e9-810f-344519fbb2f6.png)

[2019-06-02 07:17] etveritas commented on #264
@aksnzhy Do we miss the value setting in [this part](https://github.com/aksnzhy/xlearn/blob/master/src/solver/solver.cc#L404-L405)?
It should be
[code]

[2019-06-02 14:33] ymkigeg opened #266 "does xlearn support shared embeddings ?"
I have to features, which is the same value，but different meaning。
for example, user tags and item tags，user tags is usually digged from user behaviors, like click items. They share the same value corpus, but is different field in model
can they share the same look-up table of embeddings ?

Thanks

[2019-06-03 01:48] fly12357 commented on #264
It works, Thank you~

[2019-06-03 01:48] #264 closed

[2019-06-12 16:18] Superhzf commented on #123
I have the same problem, is there any progress on this topic?

[2019-06-14 06:44] fly12357 opened #268 "question about feature importance"

[2019-06-14 09:36] PrimaryKey opened #269 "训练过程异常中断"
**运行了一下Scikit-learn API的简例：**
`
iris_data = load_iris()
X = iris_data['data']
y = (iris_data['target'] == 2)

X_train,   \
X_val,     \
y_train,   \
y_val = train_test_split(X, y, test_size=0.3, random_state=0)

linear_model = xl.LRModel(task='binary', init=0.1,
                          epoch=10, lr=0.1,
                          reg_lambda=1.0, opt='sgd')

linear_model.fit(X_train, y_train,eval_

[2019-06-15 04:40] aksnzhy commented on #266
@ymkigeg  Sorry, xLearn doesn't support the shared embeddings for now.

[2019-06-15 04:42] aksnzhy commented on #269
@etveritas Could you please look at this issue?

[2019-06-15 09:15] etveritas commented on #269
@aksnzhy okay, I'll check soon.

[2019-06-17 09:18] wszhtc opened #270 "Each epoch will use all of the data?"
It really takes a long time for each epoch.
Can I sampling from the whole dataset among each epoch?

[2019-06-17 09:45] aksnzhy commented on #270
@wszhtc sorry, xLearn doesn't support sampling for now.

[2019-06-17 10:09] wszhtc commented on #270
I see.
Will you support it in the near future?

[2019-06-18 02:48] wszhtc opened #271 "Change evaluation metric"
I set the parameters 'metric' to 'auc'. When training the model, each epoch will show train log_loss, test log_loss, test auc. Is it possible to show train auc?

[2019-06-18 08:35] wszhtc opened #272 "A few questions about fm model"
I am training a fm model on a large dataset, but the result (AUC) is not good.
Could you please help me figure out the following problem?
1. Do I need to discretize numerical (continuous) features in the dataset?
2. I think one-hot for categorical features is necessary, right?
3. Do I need to do normalization for features?
4. Is statistical features useful in fm model? Eg: how many times an item i

[2019-06-19 03:19] yueguoguo opened #273 "Docker support?"
It would be great to have Docker support for `xlearn` 😄 Just wondering if this is something on the roadmap?

[2019-06-19 03:49] aksnzhy commented on #273
Hi, I'm not familiar with the docker environment, and that will be great if someone can contribute it!

[2019-06-19 05:27] etveritas commented on #271
I think you miss the output information, if you change the `metric` to `auc`, you can see the `Test AUC` in console.

[2019-06-19 05:33] etveritas commented on #272
These are all helpful, but i think you should consider it in the context of your business, construct more features or drop some features, or tune the hyper parameters, or maybe, if need, you should consider some other business metrics, e.g. comparing with the fact.

[2019-06-19 05:35] wszhtc commented on #271
Yes, I can see 'Test AUC'. But my question is: is it possible to show 'Train AUC'?

[2019-06-19 05:36] etveritas commented on #269
@PrimaryKey Hi, could you provide your xLearn version and OS version?

[2019-06-19 05:42] etveritas commented on #271
@wszhtc Sorry. I get it. The parameter of `metric` is for validation set or test set, and the `loss` is for the optimization procedure, for classification, it's cross entropy and for regression, it's squared loss.

[2019-06-19 07:28] dkicenan opened #274 "txt模型含义"
请问模型保存的txt文件，bias和i_0...分别表示的是什么含义

[2019-06-19 07:51] etveritas commented on #274
See more on https://xlearn-doc-cn.readthedocs.io/en/latest/cli_api/index.html#id2

[2019-06-19 08:00] dkicenan commented on #274
我使用FFM模型，保存的txt模型中bias和i_0是线性模型的参数（bias和i_0...等参数不为0）？我的field是1到14，参数中有index为0的field,多了一个？

[2019-06-19 09:09] etveritas commented on #274
Duplicate of #263

[2019-06-20 07:34] PrimaryKey commented on #269
python 3.6.8 (in anaconda3)
xlearn 0.44
windows 10

[2019-06-24 00:29] wmmxk commented on #196
I also run into this error when running the example code on classification: Binary file (/home/wxk/Data/FFM_loan_pred/data/small_train.txt.bin) NOT found. Convert text file to binary file.

[2019-06-24 01:35] wmmxk commented on #196
In my case, I used wget to download the data. In fact, the file downloaded was not the txt file but just a txt file with some urls. After I figured this out, it worked.

[2019-06-25 02:08] Gavinthisisit opened #275 "FFM模型w和v数组寻址问题"
您好，最近在看FFM模型实现部分有一点困惑，从预测代码实现中看，feature_id 应该是连续累加的，也就是说不同 field 之间的feature index 应该是连续增加的，像FM一样。
![image](https://user-images.githubusercontent.com/9072860/60063605-1bac1e80-9730-11e9-8db1-7184dac55f08.png)
![image](https://user-images.githubusercontent.com/9072860/60063880-0edbfa80-9731-11e9-8804-55e608193327.png)
但是在给出的 demo 数据却发现feature index 并不是累加的。发现 featureid 之间的数据存在大小颠倒和相等的列。如下：
![image](h

[2019-06-26 07:36] yueguoguo opened #276 "pip installable version"
It looks like the version on PyPI is still version 0.40?

[2019-06-26 08:08] aksnzhy commented on #276
@yueguoguo Yes, we didn't update our PyPi yet.

[2019-06-26 08:53] yueguoguo commented on #276
Good to know. Thanks!

[2019-06-26 08:56] yueguoguo opened #277 "Support to take Python object directly for scoring"
If I did not miss anything, currently, the scoring operation of a model takes a txt file. It would be great that the model can directly take a Python object like pandas dataframe, numpy array, or dict, which can make the model object more useful for scoring.

Imaging a scenario where a query is made to use the model to score a given input, one needs to convert it to an txt file before the scoring

[2019-06-26 08:57] #276 closed

[2019-06-27 09:35] yueguoguo commented on #273
Created a tiny one in #278

[2019-06-27 13:43] wmmxk commented on #261
I also run into this when installing from source. I could compile the source code by running make. When I run ./install-python.sh, I run into this error: XLearnLibraryNotFound: Cannot find xlearn Library in the candidate path.

Then I looked into the setup.py file and found the path for the complied libxlearn_api.so was not detected correctly in the  [libpath.py](https://github.com/aksnzhy/xlearn/

[2019-06-30 07:22] gongel opened #279 "CSV文件训练出现-nan"
-----------] Epoch      Train log_loss       Test log_loss       Test Accuarcy     Time cost (sec)
[    1%      ]     1                -nan                -nan            0.905664               10.20
[    2%      ]     2                -nan                -nan            0.905664                7.12
[    3%      ]     3                -nan                -nan            0.905664                7.2

[2019-07-03 04:53] ymkigeg commented on #271
I meet the same problem, will this feature be added in future version?

[2019-07-09 05:33] #269 closed

[2019-07-09 09:43] wszhtc commented on #271
When I set validation set with 'model.setValidate' and train model with 'model.fit', I can see 'Test AUC' in training process.
But when I test the model with 'model.setTest' and 'model.predict', it just show test loss and save the predicting result to file. Is it possible to see the Test AUC in predicting process?

Here is my code:
==========
model = xl.create_fm()
model.setTrain(train_local_path)

[2019-07-09 09:44] wszhtc commented on #271
When I set validation set with 'model.setValidate' and train model with 'model.fit', I can see 'Test AUC' in training process.
But when I test the model with 'model.setTest' and 'model.predict', it just show test loss and save the predicting result to file. Is it possible to see the Test AUC in predicting process?

Here is my code:

model = xl.create_fm()
model.setTrain(train_local_path)
param = {

[2019-07-11 17:29] mqwu commented on #118
Any conclusion on this? thanks!

[2019-07-16 07:13] timofeev1995 opened #280 "Weighted data support"
Hello. Thank for such a great library!
Are you going to add weighted input for training?

[2019-07-17 06:05] aksnzhy commented on #280
@timofeev1995 Hi, I think that weighted input is not very hard to be added in xLearn. Could you please give me a more detailed description of this feature?

[2019-07-17 08:10] timofeev1995 commented on #280
Thank for your response!
Imagine, that you have data for CTR prediction problem like:

feature1 | feature2 | ... | clicks | impressions|

You may have a hundreds and thousands (or even more) of impressions for certain feature set (for example, feature1 = 0, feature2 = 1 ... etc). So if you want to use FFM with libffm data format, you have to transform one row described above into thousand of lines

[2019-07-24 16:46] Sandy4321 opened #281 "Windows support"
Can it be used on Windows

[2019-07-24 17:21] Sandy4321 commented on #195
windows support is important

[2019-07-26 08:00] better629 commented on #176
How ? can't find keyword 'embedding' in your code or doc.
Thx!

[2019-07-27 11:11] aksnzhy commented on #176
@better629 Hi, you can see it here: https://xlearn-doc.readthedocs.io/en/latest/cli_api/index.html#model-output

[2019-07-29 05:43] etveritas commented on #281
yep

[2019-07-29 19:15] Sandy4321 commented on #281
super , so how install this on windows?

[2019-07-30 01:22] aksnzhy commented on #281
Hi, please see this link: https://xlearn-doc.readthedocs.io/en/latest/install/install_windows.html

Thanks!

[2019-07-30 03:32] wszhtc opened #282 "Is it possible to show AUC in predicting process?"
Hello, here is my question:
When I setValidate, it will show AUC in training process.
However, in predicting process,  it seems like it will only save the predicting result into file, and I need to calculate the AUC by myself.

Is it possible to show AUC in predicting process?

Thanks!

[2019-07-30 07:58] miguelgfierro opened #283 "Consider to create a conda package on conda-forge"
hey @aksnzhy would you consider creating a conda package? It would make the python installation very easy.

[2019-07-31 00:50] 77QingLiu commented on #81
same issue in xlearn.
Sklearn's cross-validation score is 0.99 and it's stable, but in Xlearn is 0.85 and not stable.
Quiet weird

[2019-07-31 06:17] #273 closed

[2019-08-02 10:31] 4ound opened #284 "Segmentation fault error; distributed learning"
1. Number of features * k > uint32
You'll get error "Segmentation fault" while training
I read your code and found two lines, where
`
typedef uint32 index_t;
`
I've changed it to
`
typedef uint64 index_t;
`
After that everything worked ok. But I'm not sure, is it correct? Could it broke some computations?

2.  Distributed learning
Judging by your docs, model should support distributed training.
Co

[2019-08-05 09:15] aksnzhy commented on #284
@4ound Hi, thanks for the attention of xLearn.

1. We use uint32 by default because of the performance concern. You can change it to uint64 for your case.

2. For distributed training, we have an internal version of that but I think it's not ready to release. I will release it in the future, but we don't have a concrete deadline.

Thanks!

[2019-08-05 13:22] CasyWang opened #285 "does xlearn support online learning?"
xlearn required setting num_feature at first，but we do not know the num_features in the future due to online learning scene

[2019-08-06 01:55] guoqingchao opened #286 "terminate called without an active exception"
It can run but always terminate, "terminate called without an active exception" and then I have to rerun my procedure, anybody encountered this one?

[2019-08-14 09:46] 4ound commented on #284
Thanks

[2019-08-14 09:46] #284 closed

[2019-08-14 20:57] 4ound opened #287 "Binary learning with --disk learning"
Hey!
We have big dataset for training (few TB), so we use your library with --disk learning option.
We spend significant time on dataset parsing.
On practice, if generate binary file and start RAM learning (with --no-bin and without), second variant would be faster.
While, on disk mode doesn't use/generate binary file, why?

[2019-08-15 03:04] aksnzhy commented on #287
@4ound The binary file could beyond you RAM capability, so we only generate binary file for in-memory training.

[2019-08-19 05:13] Jie-Yuan opened #288 "libsvm 转换有么有什么好的方法"
libsvm 转换有么有什么好的方法

[2019-08-22 02:13] Changzhisong opened #289 "The result predicted by the TXT model is inconsistent with the prediction of xlearn itself"
I used XLearn to train the fm model and then parse the generated TXT model (according to the FM formula), but the result of my final prediction is inconsistent with the result of xlearn itself predict, the difference is quite large. After I checked the code I wrote many times, and I verified it with self-test data, there is no problem, so the problem is:
1. Did xlearn process the data after predic

[2019-09-02 09:34] Douboo commented on #69
`
pip install cmake
pip install xlearn
`

[2019-09-02 09:35] Douboo commented on #69
`
pip install cmake

pip install xlearn
`

[2019-09-02 09:35] Douboo commented on #69
`pip install cmake`
`pip install xlearn`

[2019-09-02 12:03] oldlee11 commented on #266
i think share embedded  is very usefull

[2019-09-23 13:31] liuyichaosoftware commented on #275
您好，我想请教下您FM模型的calcscore部分的真实公式，在代码里面没能看明白。。。。谢谢您

[2019-09-26 11:59] Skyexu opened #291 "Is there a more detailed sklearn api?"
I can't find some function like `fm.disableNorm()` or `.cv()` in sklearn api,
does  it work ,when set fold below?

`fm_regressor = xl.FMModel(task='reg', metric='rmse', epoch=500, k=4, stop_window=10, lr=0.0001, reg_lambda=0.01,fold=5)`

thank u